---
layout: en-us/LayoutMaster
style: |
    <link rel="stylesheet" href="/css/press.css">
scripts: |
    <script src="/js/press.js"></script>
meta: |
    <meta property="og:title" content="Gogoro Reveals Smart City Energy Strategy; Finalizing $100 Million Series B Funding" />
    <meta property="og:type" content='website' />
    <meta property="og:url" content="http://www.gogoro.com/press/2014-10-30-gogoro-reveals-smart-city-energy-strategy" />
    <meta property="og:description" content="Gogoro, a new company utilizing the power of mobile connectivity and data analytics to transform energy distribution and management in the world’s cities, today announced its brand, leadership team and investment funding. The company also revealed initial details of its strategy to enable smart cities." />
    <meta property="og:image" content="http://www.gogoro.com/about/img/share-logo.png" />
    <meta property="og:site_name" content="Gogoro" />
---

<div class="pg-press" data-state="Press">
    <section id="hero-header">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                    <h1>Press</h1>
                </div>
            </div>
        </div>
    </section>

    {% include en-us/PressSmallSizesMenuPartial.html %}

    <section class="main-section" data-state="Press">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-md-offset-0 col-sm-10 col-sm-offset-1 hidden-sm hidden-xs press-sidebar">
                    {% include en-us/PressLargeSizesMenuPartial.html %}
                </div>

                <div class="col-md-7 col-md-offset-0 col-xs-12 press-main">
                    <article>
                        <p><strong>SAN FRANCISCO | October 30, 2014</strong></p>

                        <h2>Gogoro Reveals Smart City Energy Strategy; Finalizing $100 Million Series B Funding</h2>

                        <p><i>Gogoro to unveil first products at CES in January</i></p>

                        <p><i>Second round funding follows $50 million Series A</i></p>

                        <p><strong>SAN FRANCISCO – OCTOBER 30, 2014 –</strong> Gogoro, a new company utilizing the power of mobile connectivity and data analytics to transform energy distribution and management in the world’s cities, today announced its brand, leadership team and investment funding. The company also revealed initial details of its strategy to enable smart cities.</p>

                        <p>Through development and introduction of its new products and business model, Gogoro is helping to create a more intelligent and adaptive energy network for consumers. Gogoro plans to unveil its first products at the Consumer Electronics Show in January 2015.</p>

                        <p>"One of the greatest challenges of our time is determining how we distribute and experience energy in a smarter way to have the greatest impact on our lives and the lives of future generations,” said Horace Luke, co-founder and CEO of Gogoro.  “At Gogoro, we are relentlessly pursuing our vision to transform the world's most populated megacities into smart cities with product and business model innovations that will provide cleaner and smarter energy to as many people as possible.”</p>

                        <p>Founded in 2011 by Luke and technology veteran Matt Taylor, with support from Dr. Samuel Yin of Ruentex Group, Gogoro is focused on creating a metropolitan ecosystem with better connectivity, easier access to energy and a more enjoyable urban living experience.</p>

                        <p>“Gogoro is committed to reshaping the way major urban areas utilize energy, and its compelling vision of transformation has great potential for smart cities,” said Yoshihiko Yamada, Executive Vice President of Panasonic. “As strategic partners, Gogoro and Panasonic are working closely to deliver on this vision through a variety of innovations and industry firsts.” </p>

                        <p>Gogoro secured $50 million in Series A funding in 2011 from a variety of influential Asian investors, including Dr. Yin and Cher Wang of HTC. The company is currently finalizing $100 million in Series B funding with a focus on broadening its investor portfolio to expand its initial rollout in 2015.</p>

                        <h3>About Gogoro</h3>
                        <p>Founded in 2011, Gogoro is putting energy into things that matter. With a mission to deliver consumer innovations that will improve how the world’s most populated cities distribute and utilize energy, the company is enabling the transformation of megacities into smart cities. Gogoro is working toward a better future by putting power in the hands of everyone – to move us all forward, faster.</p>

                        <!--   <div id="press-navigation" class="hidden-xs">
                           <a href="#" class="navigate-btn navigate-older">
                             <div class="text">
                               Older
                             </div>
                             <span class="icon"><i class="icon-left"></i></span>
                           </a>
                           <a href="#" class="navigate-btn navigate-newer">
                             <div class="icon">
                               <i class="icon-right"></i>
                             </div>
                             <div class="text">
                               Newer
                             </div>
                           </a>
                         </div>

                         <div id="press-navigation-mobile" class="visible-xs">
                           <a href="#" class="btn btn-outline btn-sm margin-top navigate-older">< Older</a>
                           <a href="#" class="btn btn-outline btn-sm margin-top navigate-newer">Newer ></a>
                         </div>
                        -->
                    </article>

                    <div id="social-share">
                        <label>Share</label>
                        <ul class="list-inline">
                            <li><a href="#" target="_blank" id="social-share-twitter"><i class="fa fa-twitter-square"></i></a></li>
                            <li><a href="#" target="_blank" id="social-share-facebook"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#" target="_blank" id="social-share-google"><i class="fa fa-google-plus-square"></i></a></li>
                            <li><a href="#" target="_blank" id="social-share-linkedin"><i class="fa fa-linkedin-square"></i></a></li>
                        </ul>
                    </div>
                </div><!--/.col-md-7 -->
            </div><!--/.row -->
        </div><!--/.container -->
    </section><!--/.main-section -->
</div>
