---
layout: en-us/LayoutMaster
style: |
    <link rel="stylesheet" href="/css/press.css">
scripts: |
    <script src="/js/press.js"></script>
meta: |
    <meta property="og:title" content="Gogoro to Launch Smartscooter™ and Gogoro® Energy Network in Europe in 2016" />
    <meta property="og:type" content='website' />
    <meta property="og:url" content="http://www.gogoro.com/tw/en/press/releases/2015-11-17-gogoro-ready-to-roll-europe" />
    <meta property="og:description" content="Gogoro, a technology company transforming how energy is distributed and managed in megacities, today announced it would launch its Gogoro® Smartscooter™ EV and Gogoro Energy Network in Europe in 2016.  The European rollout follows Gogoro’s successful commercial rollout in Taipei this past summer. The announcement was made at the international motorcycle and scooter show in Milan Italy, Esposizione Internazionale Ciclo e Motociclo e Accessori (EICMA)." />
    <meta property="og:image" content="http://images.gogoroapp.com/press/2015-11-17_Hello_Europe.jpg" />
    <meta property="og:site_name" content="Gogoro" />
---

<div class="pg-press" data-state="Press">
    <section id="hero-header">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                    <h1>Press</h1>
                </div>
            </div>
        </div>
    </section>

    {% include en-us/PressSmallSizesMenuPartial.html %}

    <section class="main-section" data-state="Press">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-md-offset-0 col-sm-10 col-sm-offset-1 hidden-sm hidden-xs press-sidebar">
                    {% include en-us/PressLargeSizesMenuPartial.html %}
                </div>

                <div class="col-md-7 col-md-offset-0 col-xs-12 press-main">
                    <article>
                        <p><strong>MILAN, ITALY | NOVEMBER 17, 2015</strong></p>

                        <h2>Gogoro to Launch Smartscooter™ and Gogoro® Energy Network in Europe in 2016</h2>

                        <h3><i>Gogoro Experience Boutique Coming To Amsterdam In Early 2016</i></h3>

                        <p><strong>MILAN, ITALY ─ November 17, 2015 (EICMA)</strong> ─ Gogoro, a technology company transforming how energy is distributed and managed in megacities, today announced it would launch its Gogoro® Smartscooter™ EV and Gogoro Energy Network in Europe in 2016.  The European rollout follows Gogoro’s successful commercial rollout in Taipei this past summer. The announcement was made at the international motorcycle and scooter show in Milan Italy, Esposizione Internazionale Ciclo e Motociclo e Accessori (EICMA). </p>

                        <p>“The greatest challenge of our time is determining how we manage, distribute and experience energy in smarter ways. Many European cities are embracing innovation and new business models to drive a more efficient and flexible energy future. This is why Gogoro is expanding into Europe in 2016,” said Horace Luke, co-founder and CEO, Gogoro. ”The Gogoro Smartscooter™ EV and Gogoro Energy Network were designed to ignite this urban transition and Gogoro is working closely with Amsterdam and other European cities to make the transition to a new energy infrastructure a reality.”</p>

                        <p>As a global leader in urban efficiency and clean energy adoption, Amsterdam has introduced the Amsterdam Smart City (ASC), a unique partnership between companies, governments, knowledge institutions and the people of Amsterdam. It is a frontrunner in the development of Amsterdam as a Smart City. Gogoro will be participating in the Smart City Experience Lab where the Gogoro Smartscooter™ EV, Gogoro Energy Network and GoStation® will be demonstrated. </p>

                        <p>“Amsterdam is widely considered a forward thinking global leader in smart city innovation and we are excited to be welcoming Gogoro to Amsterdam as a participant in Amsterdam’s Smart City Experience Lab and as Gogoro’s first European market,” said Ger Baron, CTO at the City of Amsterdam. "Electric transport is not only the future, but happening right now. The next wave of innovation is the integration of electric vehicles into the energy grid, EV charging and storage will be part of the energy-internet. Gogoro is now bringing scooters to the 21st century and connecting them to the smart energy ecosystem.”</p>

                        <h3>Gogoro Experience Boutique in Amsterdam</h3>
                        <p>As part of its expansion, Gogoro will be opening a Gogoro Experience Boutique in Amsterdam in the first half of 2016 and additional cities later in 2016. The boutiques will provide hands-on and highly interactive experiences for consumers to learn about the Gogoro Smartscooter™ EV through a curated gallery demonstrating Gogoro’s craftsmanship, technology, style and personalization.</p>
                        <p>“The Gogoro model is new for many and when people get to see, hear and experience it, they have the ability to understand the potential in terms of their personal transportation and the positive global impact they can individually have,” said Luke.</p>

                        <h3>Gogoro® Smartscooter™</h3>
                        Gogoro introduced the Gogoro Smartscooter™ EV and the Gogoro Energy Network at the Consumer Electronics Show in early 2015. The Gogoro Smartscooter™ EV is the world’s first high-performance, smart electric two-wheel vehicle with swappable batteries. The integrated Gogoro Energy Network is an advanced battery-swapping infrastructure for cities.

                        <h3>About Gogoro</h3>
                        <p>Founded in 2011, Gogoro is putting energy into things that matter. With a mission to deliver consumer innovations that will improve how the world’s most populated cities distribute and utilize energy, the company is enabling the transformation of megacities into smart cities. Gogoro is working toward a better future by putting power in the hands of everyone – to move us all forward, faster. For more information, go to <a href="/press/">www.gogoro.com/press.</a></p>
                    </article>

                    <div id="social-share">
                        <label>Share</label>
                        <ul class="list-inline">
                            <li><a href="#" target="_blank" id="social-share-twitter"><i class="fa fa-twitter-square"></i></a></li>
                            <li><a href="#" target="_blank" id="social-share-facebook"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#" target="_blank" id="social-share-google"><i class="fa fa-google-plus-square"></i></a></li>
                            <li><a href="#" target="_blank" id="social-share-linkedin"><i class="fa fa-linkedin-square"></i></a></li>
                        </ul>
                    </div>
                </div><!--/.col-md-7 -->
            </div><!--/.row -->
        </div><!--/.container -->
    </section><!--/.main-section -->
</div>
