<style type="text/css">
    .before_icon img, img.before_icon {
        width: initial;
    }
</style>



<article>

        <!--Battery exchange-->
        <h2>Battery exchange</h2>
        <p>The unique battery exchange system of Smartscooter™ relieves you from the lengthy recharging process and makes it convenient to have fully charged batteries.</p>


        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h3>GoStation®</h3>
                <ul>
                    <li>Through the Gogoro® App on your smart phone, you can find the locations of the nearest GoStation® in no time and quickly exchange your batteries.</li>
                    <li>The touch screen on each GoStation® provides information such as condition reports for your scooter, the weather, news and promotional offers. You can also locate nearby GoStations® to reserve batteries.</li>
                </ul>

            </div>
            <div class="col-lg-6 col-md-6">
                <figure>
                    <img src="//images.gogoroapp.com/support/BatteryExchange_/gostation.png" alt="gogoro">
                </figure>
            </div>
        </div>
        <ul class="support-dialogue support-note">
            <li>
                The information on the touch screen might vary due to the legal regulations or device, and the information provided is only for user’s convenience. Until further announcement by Gogoro, Gogoro is not responsible for the integrity, correctness or effectiveness of the information provided.
            </li>
        </ul>

        <h3>Reserving batteries</h3>
        <figure>
            <img src="//images.gogoroapp.com/support/BatteryExchange_/app2.png" alt="gogoro">
        </figure>
        <ul>
            <li>When reserving batteries at a GoStation®, you have to identify yourself with the iQ System™ Smart Key in addition to following the on-screen instructions.</li>
            <li>With a successful reservation, you can instantly replace batteries upon arrival at the designated GoStation® later.</li>
        </ul>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <ul class="word_pic_align">
                    <li>Through the smart phone Gogoro®  App or the touch screen on each GoStation®, you can inquire and reserve Gogoro® batteries from nearby GoStations®; The designated GoStation® will then reserve a pair of batteries with the best condition for a period of ten minutes.</li>
                    <li>Steps for reserving batteries through the Gogoro®  App will be shown on your smart phone screen. (Please refer to Chapter 5: Smart Phone App and Personalization)</li>
                </ul>

            </div>

            <div class="col-lg-6 col-md-6">
                <figure><img src="//images.gogoroapp.com/support/BatteryExchange_/app.png" alt="gogoro"></figure>
            </div>
        </div>
        <ul class="support-dialogue support-note">
            <li>
                Please proceed to the designated GoStation® within ten minutes or the reservation will be canceled.
            </li>
        </ul>

        <ul class="support-dialogue support-note">
            <li>
                Gogoro reserves the right to adjust the duration of battery reservation. The availability of battery might vary based on the tariff plan you have chosen.
            </li>
        </ul>


    <div class="before_icon">
        <h3>Replacing batteries</h3>
        <ol>
            <li>Park the scooter firmly beside a GoStation®. Extend the side stand, or hold the brake lever down and lightly press the  <img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/1_7_20.png"> “GO” button, to shut off the motor.</li>
            <li>Open the seat. Hold the handle of one of the Gogoro® batteries to pull it out.</li>
            <li>Insert the battery into an empty GoStation® slot and push it all the way until it’s locked and you hear a confirmation sound.</li>
            <li>When the screen says “Please insert your other battery” repeat the instructions in Step 2 and 3.</li>
            <li>Two fresh batteries will pop out a few seconds after you successfully returned the drained ones.</li>
            <li>
                Insert the fresh batteries into your scooter, put down the seat and wait for the ⚠ warning symbol to disappear; when it’s done, unlock the scooter and you are ready to roll. (Please refer to chapter 3 for unlock and turn motor into Standby Mode instructions.)
            </li>
        </ol>

        <ul class="support-dialogue support-note">
            <li>
                Although GoStations® always choose and offer batteries with the highest power level at the time, they may not have been fully charged yet.
            </li>
            <li>If the batteries returned by the rider have higher power level over all batteries at that particular GoStation®, the previously returned batteries will pop out again;</li>
            <li>In case the power level of returned batteries is still too low, use the touch screen on the current GoStation® or Gogoro® App to help you locate other nearby GoStations® and reserve two charged batteries for replacement.</li>
        </ul>

        <ul class="support-dialogue support-warning">
            <li>Popped-out batteries will protrude 30 cm from the GoStation® panel, so please keep the space 30 cm in front of GoStation® clear when you are waiting for fresh batteries. Make sure all vehicles, objects, personnel and children stay clear to avoid being hit by the batteries.</li>
        </ul>

        <figure>
            <img src="//images.gogoroapp.com/support/BatteryExchange_/30cm.png" alt="gogoro">
        </figure>

        <ul class="support-dialogue support-note">
            <li>
                Unless other terms are agreed, all Gogoro® batteries are Gogoro company properties provided to Smartscooter™ owners. Sensors and recording features of the batteries keep track of usage automatically, and use NFC function to collect and transfer data. In case any anomaly or safety concern is found and can be traced back to improper handling by a particular user,
                Gogoro reserves the right to claim appropriate damage compensation.
            </li>
        </ul>

        <ul class="support-dialogue support-note">
            <li>Gogoro® battery product info</li>
            <li>Production date: See the handle or the bottom of the battery</li>
            <li>Weight: 9.8kg</li>
            <li>Manufacturer: Gogoro Energy Network (Cayman), Taiwan Branch</li>
            <li>Address: No.33, Dinghu Rd., Guishan Dist., Taoyuan City 333, Taiwan (R.O.C.)</li>
            <li>Tel: +886-3-273-0900</li>
        </ul>

        <ul class="support-dialogue support-warning">
            <li>High-capacity Gogoro® batteries may cause risk of fire or electric shock if not properly handled. To ensure the safety of owners, riders and other personnel, please take extra care when using Gogoro® batteries:</li>
            <li>It’s strictly forbidden to use the batteries in any way not approved by Gogoro.</li>
            <li>Each Gogoro® battery weighs about 9 kg. Please handle with care.</li>
            <li>Gogoro® batteries may become hot after a certain period of use. Please pay attention when replacing them.</li>
            <li>Make sure the Orientation-Agnostic Connector on each battery is clean and unobstructed.  It’s strictly prohibited to short-circuit the connector with metal objects.</li>

            <li>DO NOT dispose of Gogoro® batteries in fire, heat or water, and DO NOT drop, strike or attempt to disassemble or destroy them.</li>
            <li>DO NOT attempt to dismantle the batteries, or to alter their shape and/or structure.</li>
            <li>DO NOT attempt to discharge the batteries yourself.</li>
            <li>DO NOT use any solvent or chemical agent on Gogoro® batteries.</li>
            <li>In cases when an anomaly, such as leakage, damage or deformation, is found on a Gogoro®  battery, please stop using your scooter, shut off the motor and lock it immediately, and contact Gogoro Service Center at 0800-365-996 for assistance.</li>
        </ul>
    </div>
</article>
