<style type="text/css">
    .nav-pills-gogoro .before_you_hit_the_road_ul {
        display: block;
    }

    .before_icon img, img.before_icon {
        width: initial;
    }
</style>

<article class="Safety_notice">
    <h2>Before You Hit the Road</h2>
    <p>
        Welcome to your new Gogoro! Let us walk you through the right steps to operate your
        SmartscooterTM safely and maximize your riding experience. Please read this guide carefully
        before you hit the road and make sure you meet all the following requirements:
    </p>
    <ul>
        <li>You already have a valid Motorcycle license.</li>
        <li>You know how to safely and correctly ride a motorcycle of the class you are licensed to, and you are mentally and physically in proper condition.</li>
        <li>You fully understand how to correctly operate a SmartscooterTM.</li>
        <li>You fully understand all the operational instructions, special notes and warnings described in this manual.</li>
    </ul>
    <p>
        If you have any question concerning operation or maintenance of your Smartscooter™, please consult the Gogoro Service Center at 0800-365-996.
    </p>
    <p>
        Have a safe and fun riding experience with Gogoro!
    </p>
    <h3>
        Safety notice
    </h3>
    <p>
        Make the most of the superior performance of the Smartscooter™ by following appropriate handling and riding procedures. To protect yourself and others on the roads, please follow the instructions listed below:
    </p>
    <p>
        This manual highlights important information with the following symbols:
    </p>
    <!--換項目符號成圖-->
    <ul>
        <li>
            descriptions that need additional attention.

        </li>
        <li>
            extra care must be taken to avoid personal or vehicle damage.

        </li>
        <li>
            Gogoro Service Center features: items which can only be adjusted, activated or deactivated by the Gogoro service staff.

        </li>
    </ul>
</article>
<!--Names and functions-->
<br>

<article class="24H_roadside_assistance">
    <h3>24-hour roadside assistance</h3>
    <p>
        The Gogoro Service Center offers round­the­clock roadside assistance. In case your SmartscooterTM is out of order or involved in an accident, please call toll­free at 0800­365­996
        and the Gogoro Service Center will dispatch assistance vehicles to help you; service charges may occur according to your location and distance of transportation.
    </p>
</article>
<article class="Names_and_functions">

    <h3>Names and functions</h3>
    <div class="hidden-sm hidden-xs">
        <h2>Left</h2>
        <figure><img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/before_left.png" alt="gogoro"></figure>
        <br><br>
        <h2>Top</h2>
        <figure><img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/before_top.png" alt="gogoro"></figure>
        <br><br>
        <h2>Front</h2>
        <figure><img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/before_front.png" alt="gogoro"></figure>
        <br><br>
        <h2>Motor Mount</h2>
        <figure><img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/before_motormount.png" alt="gogoro"></figure>
        <br><br>
      </div>

    <!--Mobiel version-->

    <div class="row">
        <div class="hidden-lg hidden-md">



            <h2>Left</h2>
            <figure><img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/1_3_1_Mobile.png" alt="gogoro"></figure>
            <div class="col-sm-12 col-xs-12">
                <ul class="number">
                    <li>
                        Seat
                    </li>
                    <li>
                        Integrated Hook
                    </li>
                    <li>

                        Aeroframe™ Aluminum Monocoque Chassis
                    </li>
                    <li>
                        Front Wheel
                    </li>
                    <li>
                        Front Disc Brake
                    </li>
                    <li>
                        Aluminum Inverted Single Shock Single Arm
                    </li>
                    <li>
                        Turn Assist Light (Optional)
                    </li>
                    <li>
                        Aluminum Kickstand
                    </li>

                    <li>
                        Vehicle Identification Number
                    </li>
                    <li>
                        Motor Mount
                    </li>
                    <li>
                        Aluminum Multi­Link
                    </li>
                    <li>
                        Rear Disc Brake
                    </li>
                    <li>
                        Rear Wheel
                    </li>
                    <li>
                        License Plate Light
                    </li>
                    <li>
                        Tail Grip
                    </li>
                    <li>
                        LED Horizon Taillight
                    </li>
                </ul>
            </div>


            <h2>Top</h2>
            <figure><img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/1_3_2_Mobile.png" alt="gogoro"></figure>
            <div class="col-sm-12 col-xs-12">
                <ul class="number">
                    <li>
                      Saferide™ Electric Throttle
                    </li>
                    <li>
                        Front Brake Lever
                    </li>
                    <li>
                        Personalized Spectrum Edgeless Dashboard
                    </li>
                    <li>
                        Rear Brake Lever
                    </li>
                    <li>
                        Reverse Throttle
                    </li>
                    <li>
                        Left Handle Switches
                    </li>
                    <li>
                        Orientation­Agnostic Connector
                    </li>
                    <li>
                        Luggage Compartment
                    </li>
                    <li>
                        Trunk Light and USB Charge Port
                    </li>
                    <li>
                        Gogoro® Battery
                    </li>
                    <li>
                        Right Handle Switches
                    </li>
                </ul>
            </div>

            <h2>Front</h2>
            <figure><img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/1_3_3_Mobile.png" alt="gogoro"></figure>
            <div class="col-sm-12 col-xs-12">
                <ul class="number">
                    <li>
                        Anti­glare Adjustable Mirrors
                    </li>
                    <li>
                        Brake Fluid Inspection Window
                    </li>
                    <li>
                        Changeable Faceplate
                    </li>
                    <li>
                        Integrated Air Channel
                    </li>
                    <li>
                        Pill­shaped Main Stand
                    </li>
                    <li>
                        SmartBrite™ LED Headlight
                    </li>
                    <li>
                        LED Halo Position Light
                    </li>
                    <li>
                        LED Front Turn Signal
                    </li>
                </ul>
            </div>




            <h2>Motor Mount</h2>
            <figure><img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/1_3_4_Mobile.png" alt="gogoro"></figure>
            <div class="col-sm-12 col-xs-12">
                <ul class="number">
                    <li>
                      Motor Identification Number
                    </li>
                    <li>
                        G1 Motor
                    </li>
                    <li>
                        MOSFET Fluid Cooled Controller
                    </li>
                    <li>
                        Coolant Reservoir
                    </li>
                    <li>
                        Radiator
                    </li>

                </ul>
            </div>
        </div>
    </div>
</article>
<br>
<!--MicroDotDNA code-->
<article class="MicroDotDNA_code">

    <h3>MicroDotDNA code</h3>
    <p>To prevent theft, we deploy the MicroDotDNA anti-theft identification code on various parts of the Smartscooter™; please refer to the following figure for deployed parts (may vary from actual locations).</p>
    <div class="hidden-sm hidden-xs">
        <figure><img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/before_dna.png" alt="gogoro"></figure>
    </div>
    <!--Mobiel version-->
    <div class="hidden-lg hidden-md">
        <figure><img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/1_4_1_Mobile.png" alt="gogoro"></figure>

        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <ul class="number">
                    <li>
                        Dashboard
                    </li>
                    <li>
                        Steering Handle
                    </li>
                    <li>
                        Foot Rest
                    </li>
                    <li>
                        Left Side
                    </li>
                    <li>
                        Rear Wheel Cover
                    </li>
                    <li>
                        Luggage Compartment
                    </li>
                    <li>
                        Right Side
                    </li>
                    <li>
                        Inside of Seat
                    </li>

                </ul>
            </div>
        </div>
    </div>
</article>
<br>
<!--Left handle switches-->
<article class="Left_handle_switch">

    <h3>Left handle switches</h3>
    <figure><img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/before_lefthand.png" alt="gogoro"></figure>
    <p><img class="before_icon" src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/before_icon01.png"> Left turn signal switch</p>
    <p>
        Press once - the left turn signal blinks and plays an acoustic note. Press again or press “Hazard warning light switch” to turn off.
    </p>
    <br>
    <p><img class="before_icon" src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/before_icon02.png">Right turn signal switch</p>
    <p>
        Press once - the right turn signal blinks and plays an acoustic note. Press again or press “Hazard warning light switch” to turn off.
    </p>

    <ul class="support-dialogue support-note">
        <li>
            (Gogoro and Gogoro Plus) The auto-off feature built into the turn signal lights will be activated when the handle is turned back past a certain threshold.
        </li>
    </ul>
    <p><img class="before_icon" src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/before_icon03.png">High/low beam switch</p>
    <ul>
        <li>
            When the headlight is on, press once to switch the headlight from low beam to high beam. Press again to switch it back to low beam.
        </li>
        <li>
            No matter whether the headlight is on or off, long press for 0.5 seconds and release, the headlight will flash alternating between the low and high beam for 3 cycles, to warn the oncoming vehicles and passengers.
        </li>
        <li>
            No matter whether the headlight is on or off, long press for more than 0.5 seconds and hold, the headlight will flash alternating between the low beam and high beam until the button is released, to warn the oncoming vehicles and passengers.
        </li>
    </ul>
    <br>
    <p><img class="before_icon" src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/before_icon04.png"> Hazard warning light switch</p>
    <ul>
        <li>If both left and right turn signals are not activated, a short press on the switch makes both turn signals  blink and play an acoustic note; another press turns turn signals and audio off. </li>
        <li>If the right or left turn signal is already blinking, a short press turns the turn signal off.</li>
        <li>
            Press the switch for a few seconds until the “iQ System™ Quick Link” icon on the instrument panel blinks to initiate Bluetooth pairing with your smart phone. As the pairing process completes and a wireless connection is established, the “iQ System™ Quick Link” icon remains lit. (Please refer to the chapter: Smart Phone App and Personalization)

        </li>
    </ul>
    <br>
    <p><img class="before_icon" src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/before_icon05.png"> Horn button</p>
    <ul><li>Hold the horn button to activate the sound, release to stop.</li></ul>
</article>
<br>
<!--Right handle switches-->
<article class="Right_handle_switch">

    <h3>Right handle switches</h3>

    <figure><img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/before_righthand.png" alt="gogoro"></figure>
    <p><img class="before_icon" src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/before_icon06.png">Seat open button</p>
    <p>
        If the Smartscooter™ is already unlocked, press this button to open the seat for accessing the storage compartment below.
    </p>
    <br>
    <p><img class="before_icon" src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/before_icon07.png">S Button</p>
    <p>
        Press the S Button to enter Super Boost Mode, another press switches back to Normal Mode.

    </p>
    <br>
    <p><img class="before_icon" src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/before_icon08.png">Trip Toggle Button</p>
    <ul>
        <li>
            Short presses cycle through different information on the odometer display; the information includes total mileage (ODO), single trip mileage (TRIP) and estimated remaining mileage for the current charge (REMAINING).

        </li>
        <li>
            With TRIP information on display, press the button for 3 seconds to reset.
        </li>
    </ul>
    <!--Note-->
    <ul class="support-dialogue support-note">
        <li>
            The display returns to ODO mode after being idle for 10 seconds if the remaining battery power is two bars or above.

        </li>
        <li>
            The display returns to REMAINING mode after being idle for 10 seconds if the remaining battery power is exactly one bar.

        </li>
        <li>
            If the battery power is drained, the display stops at the REMAINING mode and the mileage is shown as “-----” without any number, and the button won’t respond.
        </li>
    </ul>
    <br>
    <p><img class="before_icon" src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/before_icon09.png">Headlight switch</p>

    <p>
        Short presses cycle through different headlight modes: sensor activation (AUTO ON), switch on (ON) and switch off (OFF); the factory default is AUTO ON after every unlocking.
    </p>
    <br>
    <p><img class="before_icon" src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/before_icon10.png">Smart Button</p>
    <p>
        Press the button to activate the Smart Mode, another press deactivates the mode. (Please refer to the chapter: Moving and Stopping)
    </p>

</article>
<br>
<!--Dashboard information-->
<article class="Dashboard_information">

    <h3>Dashboard information</h3>
    <figure><img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/before_dashboard.png" alt="gogoro"></figure>
    <div class="row row-data  before_icon" style="text-align:left;">
        <div class="col-xs-12 col-sm-4 specs-name"><img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/1_7_20.png">Start Button</div>
        <div class="col-xs-12 col-sm-8 specs-desc">Sets the Smartscooter™ to motor standby mode or shuts down the motor. (Please refer to the chapter: Moving and Stopping)</div>
        <div class="col-xs-12">&nbsp;</div>
        <div class="col-xs-12 col-sm-4 specs-name"><img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/1_7_3_1.png">Left turn signal</div>
        <div class="col-xs-12 col-sm-8 specs-desc">Blinks in sync with the left turn signal</div>
        <div class="col-xs-12">&nbsp;</div>
        <div class="col-xs-12 col-sm-4 specs-name"><img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/before_icon11.png">Right turn signal</div>
        <div class="col-xs-12 col-sm-8 specs-desc">Blinks in sync with the right turn signal</div>
        <div class="col-xs-12">&nbsp;</div>
        <div class="col-xs-12 col-sm-4 specs-name"><img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/before_icon12.png">Remaining battery power display</div>
        <div class="col-xs-12 col-sm-8 specs-desc">Indicates the current battery level</div>
        <div class="col-xs-12">&nbsp;</div>
        <div class="col-xs-12 col-sm-4 specs-name"><img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/before_icon13.png">Speed display</div>
        <div class="col-xs-12 col-sm-8 specs-desc">Indicates the current moving speed. No figure is shown with motor off, and “0” is displayed if the Smartscooter™ is in motor standby mode and remains in full stop. </div>
        <div class="col-xs-12">&nbsp;</div>
        <div class="col-xs-12 col-sm-4 specs-name"><img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/before_icon14.png">Super Boost Mode</div>
        <div class="col-xs-12 col-sm-8 specs-desc">If the Smartscooter™ is in Super Boost Mode, the icon lights up. </div>
        <div class="col-xs-12">&nbsp;</div>
        <div class="col-xs-12 col-sm-4 specs-name"><img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/before_icon16.png">Clock</div>
        <div class="col-xs-12 col-sm-8 specs-desc">Displays the current time; the time is automatically calibrated when the owner exchanges batteries at a GoStation®.</div>
        <div class="col-xs-12">&nbsp;</div>
        <div class="col-xs-12 col-sm-4 specs-name"><img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/before_icon15.png">Odometer display</div>
        <div class="col-xs-12 col-sm-8 specs-desc">Displays total mileage (ODO), single trip mileage (TRIP) and estimated remaining mileage for the current charge (REMAINING). </div>
        <div class="col-xs-12 hidden-lg hidden-md hidden-sm">&nbsp;</div>


    </div><!--/.row -->


    <figure><img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/before_dashboard2.png" alt="gogoro"></figure>
    <div class="row row-data  before_icon" style="text-align:left;">
        <div class="col-xs-12 col-sm-4 specs-name"><img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/before_icon26.png">Error warning</div>
        <div class="col-xs-12 col-sm-8 specs-desc">Turns on during operating errors or temporary system abnormalities.</div>
        <div class="col-xs-12 hidden-lg hidden-md hidden-sm">&nbsp;</div>
        <div class="col-xs-12 col-sm-4 specs-name"><img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/before_icon25.png">turn signals</div>
        <div class="col-xs-12 col-sm-8 specs-desc">Blinks in sync with the turn signals. </div>
        <div class="col-xs-12">&nbsp;</div>
        <div class="col-xs-12 col-sm-4 specs-name"><img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/before_icon024.png">Low beam</div>
        <div class="col-xs-12 col-sm-8 specs-desc">Lights up along with the low beam.</div>
        <div class="col-xs-12">&nbsp;</div>
        <div class="col-xs-12 col-sm-4 specs-name">Smart headlight<br>(Gogoro and Gogoro Plus)</div>
        <div class="col-xs-12 col-sm-8 specs-desc">
            AUTO ON: lights up with Smart headlight function activations. Headlight turns on automatically with insufficient ambient illumination (such as in the dark or in tunnels) and turns off in bright places.
            <br>
            The factory default is AUTO ON after every unlocking.
        </div>
        <div class="col-xs-12">&nbsp;</div>
        <div class="col-xs-12 col-sm-4 specs-name"><img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/before_icon23.png">High beam</div>
        <div class="col-xs-12 col-sm-8 specs-desc">Lights up along with the high beam.</div>
        <div class="col-xs-12">&nbsp;</div>
        <div class="col-xs-12 col-sm-4 specs-name"><img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/before_icon22.png">Maintenance reminder</div>
        <div class="col-xs-12 col-sm-8 specs-desc">Informs the owner of any system abnormalities or if the regular maintenance mileage is reached. The owner should visit a Gogoro service center. </div>
        <div class="col-xs-12">&nbsp;</div>
        <div class="col-xs-12 col-sm-4 specs-name"><img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/before_icon21.png">Light system failure warning</div>
        <div class="col-xs-12 col-sm-8 specs-desc">If any illumination light is out of order or experiencing abnormalities, the sign reminds the owner to visit a Gogoro service center for repairs. </div>
        <div class="col-xs-12">&nbsp;</div>
        <div class="col-xs-12 col-sm-4 specs-name"><img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/before_icon20.png">System overheat warning</div>
        <div class="col-xs-12 col-sm-8 specs-desc">In case of motor or battery system overheating, the sign lights up to warn the owner that the system will reduce its power output or shut down automatically. </div>
        <div class="col-xs-12">&nbsp;</div>
        <div class="col-xs-12 col-sm-4 specs-name"><img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/before_icon19.png">iQ System™ Quick Link</div>
        <div class="col-xs-12 col-sm-8 specs-desc">The sign fully lights up when the Smartscooter™ connects to owner’s smart phone, and dims when no connection is established. (Please refer to the chapter: Smart Phone App and Personalization) </div>
        <div class="col-xs-12">&nbsp;</div>
        <div class="col-xs-12 col-sm-4 specs-name"><img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/before_icon18.png">Sport Activation Tariff Plan Mode</div>
        <div class="col-xs-12 col-sm-8 specs-desc">
            The sign lights up when the Smartscooter™ is set to Sport Activation Tariff Plan (premium upgrade).

            Please consult the service center or sales staff.
        </div>
        <div class="col-xs-12 hidden-lg hidden-md hidden-sm">&nbsp;</div>
        <div class="col-xs-12 col-sm-4 specs-name"><img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/before_icon17.png">Smart Mode</div>
        <div class="col-xs-12 col-sm-8 specs-desc">The sign lights up when Smart Mode activated, blinks when Smart Climbing Mode activated. (Please refer to the chapter: Moving and Stopping)</div>
    </div><!--/.row -->
</article>
