<style type="text/css">
    .before_icon img, img.before_icon {
        width: initial;
    }
</style>

<article class="troubleshooting">

        <!--Common problems and troubleshooting-->
        <h2>Troubleshooting</h2>

        <ol>
            <li>
                <span id="troubleshooting1">
                    <a href="#">Unable to unlock with iQ System™ Smart Key</a>
                </span>
                <ul class="troubleshooting1">
                    <li>
                        Possible reasons
                        <ol>
                            <li>
                                iQ System™ Smart Key has low power level or is malfunctioning
                            </li>
                            <li>
                                No Gogoro batteries installed or power level is low
                            </li>
                            <li>
                                Scooter entered hibernation mode due to long-term inactivity or power level is too low before locked
                            </li>
                            <li>
                                Incorrect user ID registered in Gogoro batteries (might have installed batteries from another Smartscooter™)
                            </li>
                            <li>
                                The Smartscooter™ fell down and the Fall Down Protection is activated
                            </li>
                            <li>Strong radio signal sources, e.g. cell phone base stations, might interfere with the iQ System™ Smart Key, and shorten its effective range.</li>
                        </ol>
                    </li>

                    <li>
                        Solutions
                        <ol>
                            <li>Try another iQ System™ Smart Key</li>
                            <li>
                                Use charged batteries
                            </li>
                            <li>
                                Press the “GO” button for over three seconds to deactivate hibernation mode

                            </li>
                            <li>
                                Replace with correct Gogoro batteries
                            </li>
                            <li>
                                Pull out the batteries, wait for 5 seconds, and insert them back.
                            </li>
                            <li>Place the iQ System™ Smart Key near the center of the faceplate and press it firmly.
</li>
                        </ol>
                    </li>
                </ul>
</li>
            <li>
                <span id="troubleshooting2">
                    <a href="#">Unable to lock with iQ System™ Smart Key</a>
                </span>
                <ul class="troubleshooting2">
                    <li>
                        Possible reasons
                        <ol>
                            <li>
                                Motor still running in standby mode
                            </li>
                            <li>
                                Battery low in iQ System™ Smart Key

                            </li>
                            <li>Strong radio signal sources, e.g. cell phone base stations, might interfere with the iQ System™ Smart Key, and shorten its effective range.</li>
                        </ol>
                    </li>

                    <li>
                        Solutions
                        <ol class="before_icon">
                            <li>
                                Hold the brake lever and lightly press the <img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/1_7_20.png">“GO” button or extend the side stand to shut the motor off
                            </li>
                            <li>
                                Use iQ System™ Smart Key with charged batteries

                            </li>
                            <li>Place the iQ System™ Smart Key near the center of the faceplate and press it firmly.
</li>
                        </ol>
                    </li>
                </ul>

</li>
            <li>
                <span id="troubleshooting3">
                    <a href="#">Seat cannot be opened</a>
                </span>
                <ul class="troubleshooting3">
                    <li>
                        Possible reasons
                        <ul>
                            <li>
                                The luggage compartment is too full and the seat is pushed upwards by the contents.
                            </li>
                        </ul>
                    </li>

                    <li>
                        Solutions
                        <ul class="before_icon">
                            <li>
                                Use your hand to push down firmly on the tail of the seat, and press and hold the button on iQ System™ Smart Key for 2 seconds, or press the<img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/before_icon06.png"> “seat opening” button, release or lift the seat when you hear the “Click” sound, and the seat will open
                            </li>
                        </ul>
                    </li>
                </ul>
</li>

            <li>
                <span id="troubleshooting4" class="before_icon">
                    <a href="#">
                        Motor does not enter standby mode after <img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/1_7_20.png">“GO” button is pressed
                    </a>
                </span>
                <ul class="troubleshooting4">
                    <li>
                        Possible reasons
                        <ol>
                            <li>
                                Electronic throttle or reverse throttle not returned to neutral position

                            </li>
                            <li>
                                Side stand not fully retracted
                            </li>
                            <li>
                                Brake lever not pulled firmly enough
                            </li>
                            <li>
                                Seat not closed firmly
                            </li>
                        </ol>
                    </li>

                    <li>
                        Solutions
                        <ol>
                            <li>
                                Return the electronic throttle or reverse throttle to neutral position

                            </li>
                            <li>
                                Retract the side stand
                            </li>
                            <li>
                                Hold braking lever on either side firmly
                            </li>
                            <li>
                                Close the seat firmly

                            </li>
                        </ol>
                    </li>
                </ul>
</li>


            <li><span id="troubleshooting5">
    <a href="#">Scooter performs poorly or stops completely on the road</a>
</span>
                <ul class="troubleshooting5">
                    <li>
                        Possible reasons
                        <ol>
                            <li>
                                System temperature too high activates Overheat Protection Mode automatically

                            </li>
                            <li>
                                Power of Gogoro batteries is low and the scooter enters Low Energy Mode or cuts the power completely

                            </li>
                        </ol>
                    </li>

                    <li>
                        Solutions
                        <ol>
                            <li>
                                Exchange batteries with normal temperature at GoStation®
                            </li>
                            <li>
                                Use charged batteries
                            </li>
                        </ol>
                    </li>
                </ul>
</li>
            <li><span id="troubleshooting6">
    <a href="#">Smart phone cannot pair with scooter</a>
</span>
                <ul class="troubleshooting6">
                    <li>
                        Possible reasons
                        <ol>
                            <li>
                                Phone specification does not meet minimum system requirements
                            </li>
                            <li>
                                Latest version of Gogoro® App not installed and opened correctly

                            </li>
                            <li>
                                User did not press the Hazard Button or did not press the button long enough for the scooter to enter Bluetooth pairing mode

                            </li>
                            <li>
                                User pressed the Hazard Button in motor standby mode, which prevents the scooter from entering Bluetooth pairing mode
                            </li>
                            <li>
                                User tried to log into the Gogoro® App with incorrect account credentials
                            </li>
                        </ol>
                    </li>

                    <li>
                        Solutions
                        <ol class="before_icon">
                            <li>
                                Use another phone with adequate specification

                            </li>
                            <li>
                                Download and install the latest Gogoro® App

                            </li>
                            <li>
                                Make sure the Hazard Button is pressed long enough and the <img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/before_icon19.png"> “iQ System™ Quick Link” icon is blinking to start the pairing process
                            </li>
                            <li>
                                For safety, please shut off the motor before pressing the Hazard Button to start the pairing process
                            </li>
                            <li>
                                Log in with correct account credentials
                            </li>
                        </ol>
                    </li>
                </ul>
</li>
            <li><div class="before_icon" id="troubleshooting7">
    <a href="#"><img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/before_icon22.png">The “Service” icon on the dashboard lights up</a>
</div>
                <ul class="troubleshooting7">
                    <li>
                        Possible reasons
                        <ul>
                            <li>
                                Abnormality occurred on the scooter

                            </li>
                        </ul>
                    </li>

                    <li>
                        Solutions
                        <ul>
                            <li>
                                Contact Gogoro Service Center for assistance
                            </li>
                        </ul>
                    </li>
                </ul>
</li>
        </ol>




        <ul class="support-dialogue support-note">
            <li>
                If any situation not listed above takes place or problem cannot be solved by following the instructions, please remove batteries from the scooter, wait five seconds and insert the batteries again; this triggers a quick reset to the onboard systems. Once the dashboard ⚠ warning icon goes off, unlock with iQ System™ Smart Key again. (Quick reset does not affect existing personal settings).
                If situation persists, please contact Gogoro Service Center at 080-036-5996 for inspection or services.
            </li>
        </ul>

</article>
