<article>
    <!--配件安裝手冊 - 個性化防滑貼-->
    <h2>Accessory Installation Guide - Grip Art</h2>
    <h3>Content in the package</h3>

    <table class="table">
        <thead>
            <tr>
                <td>No.</td>
                <td>Item</td>
                <td>Quantity</td>
            </tr>
        </thead>

        <tr>
            <td>1</td>
            <td>Grip Art</td>
            <td>1</td>
        </tr>
    </table>

    <h3>Tools needed</h3>
    <ul>
        <li>None</li>
    </ul>

    <h3>Installation</h3>
    <ol>
        <li>Clean the surface of the applying location.</li>
        <li>Remove the base paper.</li>
        <li>Put the Grip Art on the designated position, and use the arrow markings for alignment.</li>
        <li>Adjust it at the proper position, and press hard to secure.</li>
        <li>Wait 30 minutes after the installation before you ride again.</li>
    </ol>
</article>
