<article>
    <!--Maintenance-->
    <h2>Maintenance</h2>
    <p>
        Proper service and maintenance ensure durability, reliability and safety of your Smartscooter™.
        It’s recommended to take care of your scooter by following the instructions below:
    </p>

    <h3>Check the following before your ride</h3>
    <ul>
        <li>
            Make sure the tire pressure is within normal range;
            for single rider, the pressure is 32 psi for the front wheel and 36 psi for the rear.
        </li>

        <li>If the tire surface has any cracks, damage, excessive abrasion, object punctures or attachments.</li>
        <li>If the tire treads have enough depth above 0.8mm.</li>
        <li>If the suspension or powertrain is leaking or has exterior anomaly.</li>
        <li>The cooling air intake is clean and unobstructed.</li>
        <li>No warning symbol on the dashboard is lit after the scooter is unlocked.</li>
        <li>If the batteries still have sufficient power for your trip.</li>
        <li>If switches and buttons on the left and right handles are working normally.</li>
        <li>If headlight, braking light and indicator lights and horn are working normally.</li>
        <li>Mirrors are clean and set to appropriate angles.</li>
        <li>If the braking fluid level is appropriate, the entire braking system is working normally.</li>
        <li>If the Saferide™ electronic throttle and reverse throttle are working normally.</li>
        <li>In case of any abnormality or uncertainty, please contact the Gogoro Service Center at 0800-365-996.</li>
    </ul>
    <h3>Daily cleaning and maintenance</h3>
    <ul>
        <li>Avoid cleaning with powerful water jet to prevent excessive humidity from entering and damaging the interior.</li>
        <li>
            Please use soft cloths, sponges or soft brushes along with tap water and mild detergent to clean the exterior.
            Do not use scouring pads, steel wool, metal brushes or sand paper to avoid damaging the exterior surface.
        </li>
        <li>If possible, park your scooter indoors in dry, shaded and cool places. This will slow down the normal wear and tear of the scooter caused by the sun and rain. </li>
    </ul>
    <h3>Regular service and maintenance</h3>
    <ul>
        <li>Newly delivered scooters should return to a Gogoro workshop for its first inspection after 1,000 kilometers or 2 months.</li>
        <li>It’s recommended to bring your scooter back to a Gogoro workshop for inspection and maintenance every 3,000 kilometers or every six months.</li>
        <li>All service and maintenance must be performed in authorized Gogoro workshops using genuine Gogoro parts and components.</li>
        <li>Owners will be notified of regular maintenance time by the Gogoro® App.</li>
        <li>If the owner does not return for regular services as recommended, Gogoro reserves the right to refuse fulfilling warranty obligations.</li>
        <li>If the owner sends their Smartscooter™ to any unauthorized workshop for maintenance or uses any parts that are not genuine, Gogoro reserves the right to refuse fulfilling warranty obligations.</li>
    </ul>


    <h3>Table of regular service</h3>
    <p>It’s recommended to bring your scooter back to a Gogoro workshop for inspection and maintenance every 5,000 kilometers or every six months.</p>
