<style type="text/css">

    .before_icon img, img.before_icon {
        width: initial;
    }
</style>


<article>

    <h2>Moving and stopping</h2>

    <h3 class="Startup_and_takeoff">Startup and takeoff</h3>
    <p>After your scooter is unlocked with the iQ System™ Smart Key, an additional startup sequence is needed to enter the Motor Standby Mode and be ready for takeoff.</p>
    <ol class="before_icon">
        <li>Please make sure the scooter is unlocked (but not yet in Motor Standby Mode).</li>
        <li>Retract the main stand and side stand, and confirm the electronic throttle or reverse throttle has not been activated; close the seat firmly and keep the scooter in complete standstill.</li>
        <li>Hold down the brake lever and lightly press the  <img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/1_7_20.png"> “GO” button; you’ll see the speedometer on the dashboard start counting down. The scooter enters motor standby mode as “0” appears on the speedometer.</li>
        <li>Release the brake lever and twist the Saferide™ Electronic Throttle to start riding.</li>
    </ol>
    <figure>
        <img src="//images.gogoroapp.com/support/MovingAndStopping/MovingAndStopping_Mode1_0724.png" alt="gogoro">
    </figure>
    <p>
        Motor is activated in standby mode
    </p>
    <figure>
        <img src="//images.gogoroapp.com/support/MovingAndStopping/MovingAndStopping_Mode2_0724.png" alt="gogoro">
    </figure>
    <p>
        Motor off display
    </p>

    <ul class="support-dialogue support-note before_icon">
        <li>
            You must not activate the Saferide™ Electric Throttle or reverse throttle when starting the scooter,
            and please keep the stands retracted, seat closed firmly and the scooter in complete standstill, or the scooter will display a <img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/1_7_20.png">  warning symbol and will not start.
        </li>
    </ul>

    <ul class="support-dialogue support-note">
        <li>
            The Saferide™ Electric Throttle will not respond while the Smartscooter™ is moving forwards
            (gliding or being pushed), and the torque will be inactive until the Smartscooter™ is fully stopped to 0 km/h.
        </li>
    </ul>

    <ul class="support-dialogue support-note">
        <li>
            When the Smartscooter™ is on an uphill and starts moving backwards, it will not respond to the electric throttle. You must hold the break until the scooter has stopped completely, only then you can pull the throttle to move forward.
        </li>
    </ul>

    <ul class="support-dialogue support-warning">
        <li>
            Lowering the side stand will turn the motor off. Please do not extend it while in motion to avoid the risk of sudden power loss.
        </li>
    </ul>

    <ul class="support-dialogue support-warning before_icon">
        <li>
            In emergencies, holding the brake lever plus a long press on the <img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/1_7_20.png">  “GO” button will cut the power and motor off.
            Please avoid such operation during normal riding conditions to prevent the risk of sudden power loss.
        </li>
    </ul>

    <ul class="support-dialogue support-warning">
        <li>
            The scooter can only be started in complete standstill conditions. In case the motor shuts off accidentally, please guide or push it to the roadside slowly and carefully.
            Do not attempt to restart it while in motion or in the middle of the road to avoid any risk.
        </li>
    </ul>

    <h3 class="Regenerative_Braking">Regenerative Braking</h3>
    <p>When you release Saferide™ electric throttle and let the Smartscooter™ glide during riding, the regenerative braking function might be activated. It converts dynamic energy to electric energy, and puts the energy back into the Gogoro® battery.</p>
    <ul class="before_icon">
        <li> When regenerative braking is activated, the <img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/1_7_20.png">  remaining battery power display on the dashboard will show an animation to inform you that the battery is charging.</li>
        <li>The power recovery rate can be adjusted or turned off through the Gogoro® App. When regenerative braking is activated, you will feel a braking force on the rear wheel. The higher the power recovery rate you set, the stronger the braking force.</li>
        <li>The brake light turns on when regenerative braking is activated.</li>
        <li>The system sets the intensity of regenerative braking based on the setting in the Gogoro® App, but also takes the current speed and remaining battery level into consideration, and makes minor adjustments accordingly.</li>
        <li>In some instances, regenerative braking will not be activated. When that happens, the <img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/1_7_20.png">  remaining battery power display on the dashboard will not show an animation, e.g. the Gogoro® battery is nearly fully charged.</li>
    </ul>

    <h3 class="Reversing">Reversing(Gogoro and Gogoro Plus)</h3>


        <div class="hidden-lg hidden-md">
            <figure>
                <img src="//images.gogoroapp.com/support/MovingAndStopping/left_ch_0725.png" alt="gogoro">
            </figure>
        </div>
        <div class="hidden-sm hidden-xs">
            <figure>
                <img src="//images.gogoroapp.com/support/MovingAndStopping/left_en_0804.png" alt="gogoro">
            </figure>
        </div>
    <p>Please follow the instructions below to reverse:</p>
    <ol>
        <li>Make sure the scooter is started and is in motor standby mode.</li>
        <li>Make sure the scooter is in complete standstill and its electronic throttle is not activated.</li>
        <li>Twist the reverse throttle forward; the scooter will reverse slowly with flashing and audible warning sign.</li>
    </ol>

    <ul class="support-dialogue support-note">
        <li>
            The electronic throttle will not respond while the the reversing function is activated.
        </li>
    </ul>

    <ul class="support-dialogue support-note">
        <li>
            The reverse throttle will not respond while the Smartscooter™ is moving backwards (gliding or being pushed),
            and the reverse power will be inactive until the Smartscooter™ is fully stopped to 0 km/h.
        </li>
    </ul>


    <h3 class="Motor_shutoff_and_locking_scooter">Motor shutoff and locking scooter</h3>
    <ul>
        <li>Slow the scooter to a complete standstill via the brake.</li>
        <li>Hold the brake lever and lightly press the  “GO” button or extend the side stand to shut the motor off; the speedometer display turns off and the electronic throttle stops to respond.</li>
        <li>Lower the side stand or main stand to park the scooter.</li>
        <li>Lightly press the iQ System™ Smart Key button; the headlight and taillight will flash with an audible tone, the handlebar locks and dashboard dims to confirm the locking command.</li>
        <li>If no further operation is performed within three minutes after motor shutoff, the scooter locks itself automatically.</li>
    </ul>

    <h3 class="Smart_Mode">Smart Mode</h3>
    <p>The Smart Mode dynamically tunes the scooter settings according to road conditions and rider preference for optimized safety and power efficiency.</p>
    <ul>
        <li>Pressing the Smart Mode button activates or deactivates the function.</li>
        <li>The factory default of Smart Mode is on. The owner can alter this setting via the Gogoro® App.</li>
    </ul>
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <h3 class="Smart_Mode_on">Smart Mode on</h3>
            <ul>
                <li>The Smartscooter™ optimizes power output for a more intuitive and efficient traveling experience.</li>
                <li>The regenerative braking function dynamically adjusts power recovery rates depending on the current battery levels.</li>
                <li>The headlight is set to full brightness in motion when activated.</li>
                <li>After 30 seconds in complete standstill, the headlight is gradually dimmed to low brightness.</li>
                <li>As the scooter takes off, the headlight is gently lit up to full brightness.</li>
            </ul>
        </div>
        <div class="col-lg-6 col-md-6">
            <h3 class="Smart_Mode_off">Smart Mode off</h3>
            <ul>
                <li>Uniform power output curve</li>
                <li>While your App setting decides the basic power regeneration rates, the current battery level is also taken into account.</li>
                <li>The same brightness in standstill as in motion.</li>
            </ul>
        </div>
    </div>

    <ul class="support-dialogue support-note">
        <li>
            Different plans offer different power output levels. Please refer to the Gogoro website or service center for details.
        </li>
    </ul>




    <h3 class="Super_Boost_Mode">Super Boost Mode</h3>
    <ul class="before_icon">
        <li>The Super Boost Mode increases power output for instant takeoff and higher speed.</li>
        <li>Press the <img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/before_icon07.png">  Super Boost Mode button on the right handle to activate. The <img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/before_icon14.png"> Super Boost Mode symbol goes on to indicate activation.</li>
        <li>Press the  <img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/before_icon07.png"> Super Boost Mode button again to deactivate.</li>
        <li>If Smart Mode is already activated, a three-second long press on Super Boost Mode button deactivates Smart Mode and simultaneously activates Super Boost Mode.</li>
    </ul>

    <ul class="support-dialogue support-note">
        <li>
            Activating Super Boost Mode increases power consumption and decreases the mileage of each battery exchange.
        </li>
    </ul>

    <h3 class="mart_Climbing_Mode">Smart Climbing Mode</h3>

    <ul class="before_icon">
        <li>When the Smartscooter™ is climbing uphill under heavy load, the system might automatically activate Smart Climbing Mode, and the <img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/before_icon17.png"> icon on the dashboard will start blinking regardless of the Smart Mode status.</li>
        <li>When the Smart Climbing Mode is activated, the system adjusts motor output automatically for optimal uphill performance. The climbing will be smoother and energy use more efficient, resulting in extended climbing mileage and reduced frequency of battery swapping.</li>
    </ul>

    <h3 class="Low_Energy_Mode">Low Energy Mode</h3>
    <figure>
        <img src="//images.gogoroapp.com/support/MovingAndStopping/MovingAndStopping_Mode3_0724.png" alt="gogoro">
    </figure>

    <ul class="before_icon">
        <li><img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/Battery_One.png">If you find there’s only one bar flashing slowly, the battery level is low; it’s advised to replace the batteries soon.</li>
        <li>
            <img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/Battery_One.png">If the last bar flashes quickly, the battery level is pretty low. The Smartscooter™ will enter “Pre-crawl home mode”,
            the speed of the scooter will be limited to save electricity, and a sound alert will beep every 20 seconds.
            It’s advised to replace the batteries as soon as possible. If the Smartscooter™is under motor shutdown mode, it’s advised to replace batteries within 24 hours or the next time the motor is turned on into standby mode (the eariler one).
        </li>
        <li>
            <img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/Battery_None.png">When the last bar disappears, the batteries have less than 8% power remaining and the scooters enters “Crawl home mode” with the top speed limited to approx. 25 km/h, and a sound alert will beep every 20 seconds.
            The “REMAINING” display on the dashboard appears as “------” without the mileage figure. At this point, the batteries can run out any time. Please replace the batteries immediately. If the Smartscooter™is under motor shutdown mode,
            please replace batteries within 24 hours or the next time the motor is turned on into standby mode (the eariler one).
        </li>
        <li>The scooter will regain its normal performance once the batteries are replaced.</li>
    </ul>

    <ul class="support-dialogue support-note">
        <li>
            When the last bar disappears and the Low Energy Mode is activated, the Smartscooter™ enters hibernation mode once it is locked over 3 minutes and cannot be unlocked with the iQ System™ Smart Key. (Please see chapter 2 “hibernation mode”)
        </li>
    </ul>



    <h3 class="Overheat_Protection_Mode"> Overheat Protection Mode</h3>
    <ul class="before_icon">
        <li>
            Under extreme circumstances, such as riding at high speed for a long time, or climbing up hills continuously, there is a possibility that the temperature of the batteries will rise. When the batteries are overheated,
            in order to protect the battery function and lifespan, the Overheat Protection Mode will be activated, and the <img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/before_icon20.png"> System Overheat Warning symbol on the dashboard will light up.
        </li>
        <li>
            During Overheat Protection Mode, the system reduces power output automatically. If the temperature keeps rising even after power output reduction, the system will force the motor to shut down.
        </li>
        <li>
            Therefore, when the <img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/before_icon20.png"> System Overheat Warning symbol turns on, please exchange your batteries at a nearby GoStation® immediately. The system will revert to normal status and you can continue riding.
        </li>
        <li>In case the situation is not solved after exchanging batteries, please contact the Gogoro Service Center for assistance. Phone number: 0800-365-996.</li>
    </ul>

    <h3 class="Fall_down_protection">Fall down protection</h3>
    <ul>

        <li>
            If the Smartscooter™ falls down when it's unlocked or while the motor is on, it will shut down and lock.
        </li>
        <li>
            You will not be able to use iQ System™ Smartkey to unlock the Smartscooter™.
        </li>
        <li>Please check whether the Smartscooter™ is ok, pull out the batteries, wait for 5 seconds, and insert them back. After the ⚠ Error Warning icon turns off, you can use iQ System™ Smartkey as usual.</li>
    </ul>




</article>
