<section class="navigation-topbar visible-sm visible-xs">
    <div class="container">
        <div id="page-navigation" class="row">
            <ul class="nav nav-pills-gogoro">
                <li {% if page.action == 'before' %} class="active" {% endif %}><a href="/tw/en/support/before-you-hit-the-road">Before You Hit the Road</a></li>
                <li {% if page.action == 'locking' %} class="active" {% endif %}><a href="/tw/en/support/locking-and-unlocking">Locking and Unlocking</a></li>
                <li {% if page.action == 'moving' %} class="active" {% endif %}><a href="/tw/en/support/moving-and-stopping">Moving and Stopping</a></li>
                <li {% if page.action == 'battery' %} class="active" {% endif %}><a href="/tw/en/support/battery-exchange">Battery Exchange</a></li>
                <li {% if page.action == 'smartphone' %} class="active" {% endif %}><a href="/tw/en/support/smart-phone-app-and-personalization">Smart Phone App and Personalization</a></li>
                <li {% if page.action == 'maintenance' %} class="active" {% endif %}><a href="/tw/en/support/maintenance">Maintenance</a></li>
                <li {% if page.action == 'troubleshooting' %} class="active" {% endif %}><a href="/tw/en/support/common-problems-and-troubleshooting">Troubleshooting</a></li>
                <li {% if page.action == 'installation' %} class="active" {% endif %}><a href="/tw/en/support/installation">Accessories</a></li>
                <li {% if page.action == 'productWarrantyPolicies' %} class="active" {% endif %}><a href="/tw/en/support/productWarrantyPolicies">Product Warranty Policies</a></li>
              </ul>
        </div>
    </div>
</section>
