<style type="text/css">
    .before_icon img, img.before_icon {
        width: initial;
    }
</style>

<article>

        <!--Smart Phone App and Personalization-->
        <h2>Smart Phone App and Personalization</h2>
        <p>
            Smartscooter™ is capable of communicating with the owner’s smart phone via Bluetooth.
            The Gogoro® App not only allows on-board systems to notify the owner of important information, but also offers the owner with options to personalize the scooter or inquire about its condition.
        </p>

        <h3>Downloading and installing the Gogoro® App</h3>
        <ul>
            <li>The Gogoro® App is available for iOS and Android platforms. Please check your smart phone for its specification.</li>
            <li>iOS platform: Requires iOS 8.0 or later. Please download from Gogoro official site or Apple iOS App Store.</li>
            <li>Android platform: Requires Android 4.2 or later. Please download from Gogoro official site or Google Play App Store.</li>
            <li>Best for screens of sizes from 3.5 to 5.0 inches and resolutions from 720p to 1080p.</li>
        </ul>

        <ul class="support-dialogue support-note">
            <li>
                Gogoro does not guarantee that every brand or model of smartphone can download and execute Gogoro® App properly.
                You can find a list of all smartphone models that Gogoro has tested in Gogoro official website <a href="http://www.gogoro.com/faq">(http://www.gogoro.com/faq)</a>
            </li>
        </ul>
    <div class="before_icon">
        <h3>Pairing your phone with Smartscooter™</h3>
        <ol>
            <li>After installing Gogoro® App successfully, open it and log in with your account credentials following the on-screen instructions.</li>
            <li>If you have more than one Smartscooter™ in your account, select one from the menu to pair with your phone.</li>
            <li>Follow the on-screen instructions to find the Bluetooth setting on your smart phone.</li>
            <li>Unlock your Smartscooter™ with iQ System™ Smart Key.</li>
            <li>Hold the hazard warning light switch on the left handlebar until the  <img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/before_icon19.png"> “iQ System™ Quick Link” symbol flashes; the system will scan for nearby smart phones that can be paired.</li>
            <li>After pairing is completed a connection with your smart phone establishes automatically every time the scooter is unlocked. When a connection with your smartphone is active, the <img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/before_icon19.png">   “iQ System™ Quick Link” symbol lights up fully. The icon dims down when the smart phone is disconnected from the scooter.</li>
        </ol>

        <ul class="support-dialogue support-note">
            <li>A Smartscooter™ can pair with only one smart phone at a time; please repeat the pairing process if you’re using another phone.</li>
        </ul>

        <ul class="support-dialogue support-note">
            <li>The Gogoro® App transmits data via the Internet occasionally and service charges may apply.</li>
        </ul>
    </div>
        <h3>Introduction to Gogoro® App</h3>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 before_icon">
                <ul class="word_pic_align">
                    <li>Introduction to Gogoro(r) App (The actual content might be different due to model or version changes)</li>
                    <li>
                        Smart Card: the lower part of the main screen accommodates pop-up Smart Cards that remind the owner of condition and usage information of the scooter.
                        The information includes the battery level, regular service reminders, detected irregularities or malfunctions, last parking place and new achievement badges received.
                    </li>
                    <li>Menu: Click the upper-left corner  <img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/Menu_0724.png" alt=" gogoro"> to open the main menu for the following commands: <img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/Setting_0724.png" alt=" gogoro"> Settings, Home, GoStations, Customize, Diagnostics My Ride Status, and My Profile. </li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <figure><img src="//images.gogoroapp.com/support/SmartPhone/app1_0721.PNG" alt=" gogoro"></figure>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                <ul class="word_pic_align before_icon">


                    <li>Settings: Click the icon on the upper-left corner <img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/Setting_0724.png" alt=" gogoro">  to find the Settings command. This command configures Gogoro® App functions such as toggling system notifications on/off, Bluetooth pairing, pair with another Smartscooter™, account name/password change and version information.</li>
                    <li>GoStations: Locates available nearby GoStations® through the GPS function of your smart phone and reserves fresh batteries.</li>
                    <li>Customize: Allows the owner to personalize various settings of the scooter, including sounds, lights and power regeneration levels, among others. (The actual content might be different due to model or version changes)</li>

                </ul>


            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <figure><img src="//images.gogoroapp.com/support/SmartPhone/app2_0721.PNG" alt=" gogoro"></figure>
            </div>
        </div>
        <ul>
            <li>Diagnostics: Checks and displays health status of major on-board systems. In case of any irregularity, click the related system symbol to locate nearby Gogoro Service Centers for further inspection and services.</li>
            <li>My Ride Status: Displays records of the last 12 trips, including average speeds, mileages, battery exchange frequency, remaining battery level, number of accumulated battery exchanges, last parking place and remaining mileage until the next regular service.</li>
            <li>My Profile: Displays owner’s account information and “Badge wall”.</li>
        </ul>


        <h3>Gogoro® App customization options（The actual content might be different due to model or version changes）:</h3>
        <table class="table table-striped">

            <thead>
                <tr>
                    <td>Function </td>
                    <td>Description</td>
                    <td>Customization data delivery</td>
                </tr>
            </thead>

            <tr>
                <td>Light themes（Note 3）</td>
                <td>Light patterns for scooter locking / unlocking and motor starting/shutoff.</td>
                <td>Smart phone Bluetooth</td>
            </tr>

            <tr>
                <td>Sound themes（Note 3）</td>
                <td>Indicator activation, scooter locking/unlocking, motor standby, luggage compartment opening/closing and side stand retracting/extending, etc.</td>
                <td>Smart phone Bluetooth</td>
            </tr>

            <tr>
                <td>Pulsating frequency of LED Position Lights（Note 3）</td>
                <td>Adaptive light patterns of front and rear positioning lights; default setting is “on”.</td>
                <td>Smart phone Bluetooth or battery exchange</td>
            </tr>

            <tr>
                <td>Dashboard colors</td>
                <td>
                    Nighttime color changing patterns of the dashboard.
                    Bluetooth connection with owner’s smart phone must be maintained, or the light colors will revert to default setting (blue for left and green for right).
                </td>
                <td>Smart phone Bluetooth or battery exchange</td>
            </tr>

            <tr>
                <td>Power regeneration</td>
                <td>
                    Power regenerative system is automatically activated when the battery level drops below 90% to extend the range.
                    The Adjustable Regenerative Braking system allows customized power regeneration rate; higher rates produce more drag as the rider releases the throttle.
                </td>
                <td>Smart phone Bluetooth or battery exchange</td>
            </tr>

            <tr>
                <td>Low-speed warning（Note 3）</td>
                <td>
                    The system emits a warning sound to alert pedestrians if the speed of the scooter is lower than a preset value.
                    The default setting is “off”; selectable preset values are 10, 15, 20 or 25 km/h.
                </td>
                <td>Smart phone Bluetooth or battery exchange</td>
            </tr>

            <tr>
                <td>Delayed headlight off</td>
                <td>
                    The headlight goes off several seconds after the scooter is locked.
                    The default delay value is “10 seconds”; selectable delay values are 0, 10, 20 or 30 seconds.
                </td>
                <td>Smart phone Bluetooth or battery exchange</td>
            </tr>

            <tr>
                <td>Speeding reminder（Note 3）</td>
                <td>
                    The system gives a warning sound if the speed exceeds a preset value.
                    The default setting is “off”; selectable preset values are 50, 60, 70 or 80 km/h.
                </td>
                <td>Smart phone Bluetooth or battery exchange</td>
            </tr>



            <tr>
                <td>Turn Assist Lights (optional)</td>
                <td>Different flashing patterns can be selected.</td>
                <td>Smart phone Bluetooth or battery exchange</td>
            </tr>



        </table>


        <p>(Note 1) Please visit the Gogoro online store for additional light, sound and dashboard themes.</p>
        <p>
            (Note 2) The Gogoro® App can still configure some functions even it’s not connected with the scooter.
            The modified configuration is sent to the Gogoro cloud server when your smart phone is connected to the Internet, and the new configuration will be delivered to your scooter next time you replace batteries.
        </p>
        <p>(Note 3) Gogoro and Gogoro Plus only.</p>

        <ul class="support-dialogue support-note">
            <li>Functions of the Gogoro® App are subject to change with subsequent updates, models or upgrades of Samrtscooter™, and the latest version prevails.</li>
        </ul>

        <ul class="support-dialogue support-note">
            <li>
                The information on the information hub might vary due to the legal regulations or device, and the information provided is only for user’s convenience.
                Until further announcement by Gogoro, Gogoro is not responsible for the integrity, correctness or effectiveness of the information provided.
            </li>
        </ul>

        <ul class="support-dialogue support-note">
            <li>
                The adjustable speed limit in the low-speed warning function might be higher than the local regulation. User should use his/her own judgment to adjust or turn off the low-speed warning for improved safety.
                This function is only for bringing the current speed to notice, user should not use it as a reference for judgment related to any issue about “speed”.
            </li>
        </ul>


        <ul class="support-dialogue support-note">
            <li>
                The adjustable speed limit in the speeding reminder function might be higher than the local regulation. User should use his/her own judgment to adjust the speed limit.
                This function is only for bringing the speed to notice, user should not use it as a reference for judgment related to any issue about “speed”, including but not restricted to whether the user is “speeding or not”.
            </li>
        </ul>

</article>
