<article>

    <h2>Accessory Installation - Guide Y­Mount</h2>
    <h3>Content in the package</h3>

    <table class="table">
        <thead>
            <tr>
                <td>No.</td>
                <td>Item</td>
                <td>Quantity</td>
            </tr>
        </thead>

        <tr>
            <td>1</td>
            <td>Y-Mount</td>
            <td>1</td>
        </tr>

        <tr>
            <td>2</td>
            <td>Y-Mount Bridge</td>
            <td>1</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Hex Head Cap Screw M6*16 mm</td>
            <td>2</td>
        </tr>

        <tr>
            <td>4</td>
            <td>Hex Head Cap Screw M8*16 mm M8*16 mm</td>
            <td>1</td>
        </tr>

        <tr>
            <td>5</td>
            <td>Hex Head Cap Screw M8*25 mm</td>
            <td>1</td>
        </tr>
    </table>

    <h3>Tools needed</h3>
    <ul>
        <li>6 mm Allen Key</li>
        <li>8 mm Allen Key</li>
    </ul>

    <h3>Installation</h3>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <figure>
                <img src="//images.gogoroapp.com/support/installation/Acc_Y_out.png" alt="gogoro" />
            </figure>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <figure>
                <img src="//images.gogoroapp.com/support/installation/Acc_Y_in.png" alt="gogoro" />
            </figure>
        </div>
    </div>

    <ol>
        <li>Remove the hook assembly with a 6 mm Allen Key.</li>

        <li>Install the Y-Mount Bridge with 2 screw (3), the suggested torque is 6.5 - 8.5 Nm.</li>

        <li>Install the Y-Mount (1), the suggested torque is 19 - 25 Nm. Please note that the shorter screw (4) is at the lower position and the longer screw (5) is at the higher position.</li>

    </ol>

</article>
