<section class="navigation-topbar visible-sm visible-xs">
    <div class="container">
        <div id="page-navigation" class="row">
            <ul class="nav nav-pills-gogoro">
                <li {% if page.action == 'before' %} class="active" {% endif %}><a href="/tw/support/before-you-hit-the-road">行車前準備</a></li>
                <li {% if page.action == 'locking' %} class="active" {% endif %}><a href="/tw/support/locking-and-unlocking">用智慧鑰匙解鎖與上鎖</a></li>
                <li {% if page.action == 'moving' %} class="active" {% endif %}><a href="/tw/support/moving-and-stopping">行進與停止</a></li>
                <li {% if page.action == 'battery' %} class="active" {% endif %}><a href="/tw/support/battery-exchange">電池交換</a></li>
                <li {% if page.action == 'smartphone' %} class="active" {% endif %}><a href="/tw/support/smart-phone-app-and-personalization">手機App與自訂個人化</a></li>
                <li {% if page.action == 'maintainance' %} class="active" {% endif %}><a href="/tw/support/maintainance">保養維護</a></li>
                <li {% if page.action == 'troubleshooting' %} class="active" {% endif %}><a href="/tw/support/common-problems-and-troubleshooting">常見問題與故障排除</a></li>
                <li {% if page.action == 'installation' %} class="active" {% endif %}><a href="/tw/support/installation">選購配件</a></li>
                <li {% if page.action == 'productWarrantyPolicies' %} class="active" {% endif %}><a href="/tw/support/productWarrantyPolicies">產品保固政策</a> </li>
             </ul>
        </div>
    </div>
</section>
