<div class="border-right border-fade-down">
    <ul class="nav nav-pills-gogoro">
        <li {% if page.action == 'before' %} class="active" {% endif %} class="UserManual_Dropdown">
            <a href="/tw/support/before-you-hit-the-road">行車前準備</a>
            <ul class="UserManual_Dropdown_link  before_you_hit_the_road_ul">
                <li id="Safety_notice">安全提示</li>
                <li id="24H_roadside_assistance">24小時道路救援服務</li>
                <li id="Names_and_functions">車身各部位</li>
                <li id="MicroDotDNA_code">防盜微粒識別碼</li>
                <li id="Left_handle_switch">左把手開關</li>
                <li id="Right_handle_switch">右把手開關</li>
                <li id="Dashboard_information">儀表板資訊</li>
            </ul>
        </li>
        <li {% if page.action == 'locking' %} class="active" {% endif %}><a href="/tw/support/locking-and-unlocking">用智慧鑰匙解鎖與上鎖</a></li>
        <li {% if page.action == 'moving' %} class="active" {% endif %}><a href="/tw/support/moving-and-stopping">行進與停止</a>
            <ul class="UserManual_Dropdown_link moving_and_stopping_ul">
                <li id="Startup_and_takeoff">啟動與行進</li>
                <li id="Regenerative_Braking">電能回充</li>
                <li id="Reversing">倒車</li>
                <li id="Motor_shutoff_and_locking_scooter">關閉馬達與上鎖</li>
                <li id="Smart_Mode">智慧模式</li>
                <li id="Smart_Mode_on">智慧模式開啟</li>
                <li id="Smart_Mode_off">智慧模式關閉</li>
                <li id="Super_Boost_Mode">競速模式</li>
                <li id="Smart_Climbing_Mode">智慧上坡模式</li>
                <li id="Low_Energy_Mode">低電量模式</li>
                <li id="Overheat_Protection_Mode">溫度保護模式</li>
                <li id="Fall_down_protection">傾倒斷電保護</li>
            </ul>
        </li>
        <li {% if page.action == 'battery' %} class="active" {% endif %}><a href="/tw/support/battery-exchange">電池交換</a>
      </li>
        <li {% if page.action == 'smartphone' %} class="active" {% endif %}><a href="/tw/support/smart-phone-app-and-personalization">手機App與自訂個人化</a></li>
        <li {% if page.action == 'maintainance' %} class="active" {% endif %}><a href="/tw/support/maintainance">保養維護</a></li>
        <li {% if page.action == 'troubleshooting' %} class="active" {% endif %}><a href="/tw/support/common-problems-and-troubleshooting">常見問題與故障排除</a></li>
    </ul>
    <ul class="nav nav-pills-gogoro second_nav">
        <li {% if page.action == 'installation' %} class="active" {% endif %}><a href="/tw/support/installation">選購配件</a></li>
    </ul>
    <ul class="nav nav-pills-gogoro second_nav">
        <li {% if page.action == 'productWarrantyPolicies' %} class="active" {% endif %}><a href="/tw/support/productWarrantyPolicies">產品保固政策</a> </li>
    </ul>
    <p class="margin-left-15">客服電話: <br>0800-365-996</p>
</div>
