---
layout: en-us/LayoutMaster
style: |
    <link rel="stylesheet" href="/css/press.css">
scripts: |
    <script src="/js/press.js"></script>
---

<div id="site-content">
    <div class="pg-press" data-state="Faq">
        <section id="hero-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                        <h1>FAQ</h1>
                    </div>
                </div>
            </div>
        </section>

        {% include en-us/PressSmallSizesMenuPartial.html %}

        <section class="main-section" data-state="Faq">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-md-offset-0 col-sm-10 col-sm-offset-1 hidden-sm hidden-xs press-sidebar">
                        {% include en-us/PressLargeSizesMenuPartial.html %}
                    </div>

                    <div class="col-md-7 col-md-offset-0 col-xs-12 press-main">
                        <div class="faq">
                            <h2>What is Gogoro?</h2>
                            <p>Gogoro is a new company using mobile connectivity and data analytics to deliver consumer innovations that will transform energy distribution and management in the world’s megacities.</p>
                        </div>
                        <div class="faq">
                            <h2>What is Gogoro doing?</h2>
                            <p>Gogoro is working toward a better future by developing a more intelligent and adaptive energy network to enable smart cities. The company’s products and business model will impact a variety of consumer areas to create a metropolitan ecosystem with better connectivity, easier access to energy and a more enjoyable urban living experience.</p>
                        </div>
                        <div class="faq">
                            <h2>What inspired Gogoro’s vision?</h2>
                            <p>Gogoro’s vision was inspired by one of the greatest challenges of our time: How to distribute energy in a smarter way to have the greatest impact on our lives and the lives of future generations.</p>
                        </div>
                        <div class="faq">
                            <h2>Why is Gogoro’s strategy focused on smart cities?</h2>
                            <p>Transforming the way people use, consume and experience energy in urban areas is an important first step in reshaping our world for the better. We believe that by putting power in the hands of everyone, we’ll all move forward, faster.</p>
                        </div>
                        <div class="faq">
                            <h2>Who founded Gogoro? When was it founded?</h2>
                            <p>Gogoro was founded in 2011 by Horace Luke and Matt Taylor, technology veterans experienced in creating some of the industry’s most innovative consumer products, including Xbox, award-winning smartphones and more.</p>
                        </div>
                        <div class="faq">
                            <h2>How much funding has Gogoro secured?</h2>
                            <p>Gogoro secured $50 million in Series A funding in 2011 from a variety of influential Asian investors including Dr. Samuel Yin of Ruentex Group and Cher Wang of HTC. The company is currently finalizing a $100 million Series B funding with a focus on broadening its investor portfolio to expand its initial rollout in 2015.</p>
                        </div>
                        <div class="faq">
                            <h2>How many employees does Gogoro have?</h2>
                            <p>Gogoro has more than 275 employees.</p>
                        </div>
                        <div class="faq">
                            <h2>What are Gogoro’s products? When will they be available?</h2>
                            <p>Gogoro plans to unveil its first products at the Consumer Electronics Show in Las Vegas in January 2015. To stay updated on what’s happening at Gogoro, check out our <a href="/contact/keep-me-informed/" class="">email sign-up</a>.</p>
                        </div>
                        <div class="faq">
                            <h2> How can I get in contact with Gogoro to discuss a partnership? </h2>
                            <p>We appreciate your interest. To contact Gogoro, please go to our <a href="/contact/">Contact</a> page.</p>
                        </div>
                    </div><!--/.col-md-7 -->
                </div><!--/.row -->
            </div><!--/.container -->
        </section><!--/.main-section -->
    </div>


</div> <!-- /#site-content -->
