---
layout: en-us/LayoutMaster
style: |
    <link rel="stylesheet" href="/css/media-kit.css">
scripts: |
    <script src="/js/media-kit.js"></script>
action: media
---

<div class="pg-press" data-state="MeditKit">
    <section id="hero-header">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                    <h1>Media Kit</h1>
                </div>
            </div>
        </div>
    </section>

    {% include en-us/PressSmallSizesMenuPartial.html %}

    <section class="main-section" data-state="Download">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-md-offset-0 col-sm-10 col-sm-offset-1 hidden-sm hidden-xs press-sidebar">
                    {% include en-us/PressLargeSizesMenuPartial.html %}
                </div>

                <div class="col-md-7 col-md-offset-0 col-xs-12 press-main">
                    <article>
                        <h2>Gogoro Fact Sheet</h2>

                        <ul class="list-inline">
                            <li><strong>Download:</strong></li>
                            <li><a href="//images.gogoroapp.com/download/PDF/gogoro-fact-sheet-2015-01-05.pdf" target="_blank" download>PDF</a></li>
                        </ul>
                    </article>

                    <article>
                        <h2>Smartscooter&trade; Spec Sheet</h2>

                        <ul class="list-inline">
                            <li><strong>Download:</strong></li>
                            <li>
                                <a href="//images.gogoroapp.com/download/PDF/gogoro-smartscooter-spec-sheet-metric-unit.pdf" target="_blank" download>PDF - Metric</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                                <a href="//images.gogoroapp.com/download/PDF/gogoro-smartscooter-spec-sheet-imperial-unit.pdf" target="_blank" download>PDF - Imperial</a>
                            </li>
                        </ul>
                    </article>

                    <article>
                        <h2>Executive Biographies</h2>

                        <ul class="list-inline">
                            <li><strong>Download:</strong></li>
                            <li><a href="//images.gogoroapp.com/download/PDF/gogoro-exec-bios.pdf" target="_blank" download>PDF</a></li>
                        </ul>
                    </article>

                    <article>
                        <h2>Logos</h2>

                        <p><img src="//images.gogoroapp.com/download/Logos/Gogoro_wordmark_medium.png" alt="Logos" class="logo-img"></p>
                        <ul class="list-inline">
                            <li><strong>Small:</strong></li>
                            <li><a href="//images.gogoroapp.com/download/Logos/Gogoro_wordmark_small.png" target="_blank" download>PNG</a></li>
                            <li><a href="//images.gogoroapp.com/download/Logos/Gogoro_wordmark_small.jpg" target="_blank" download>JPG</a></li>
                            <li><a href="//images.gogoroapp.com/download/Logos/Gogoro_wordmark_small.eps" target="_blank" download>EPS</a></li>
                        </ul>
                        <ul class="list-inline">
                            <li><strong>Medium:</strong></li>
                            <li><a href="//images.gogoroapp.com/download/Logos/Gogoro_wordmark_medium.png" target="_blank" download>PNG</a></li>
                            <li><a href="//images.gogoroapp.com/download/Logos/Gogoro_wordmark_medium.jpg" target="_blank" download>JPG</a></li>
                            <li><a href="//images.gogoroapp.com/download/Logos/Gogoro_wordmark_medium.eps" target="_blank" download>EPS</a></li>
                        </ul>
                        <ul class="list-inline">
                            <li><strong>Large:</strong></li>
                            <li><a href="//images.gogoroapp.com/download/Logos/Gogoro_wordmark_large.png" target="_blank" download>PNG</a></li>
                            <li><a href="//images.gogoroapp.com/download/Logos/Gogoro_wordmark_large.jpg" target="_blank" download>JPG</a></li>
                            <li><a href="//images.gogoroapp.com/download/Logos/Gogoro_wordmark_large.eps" target="_blank" download>EPS</a></li>
                        </ul>
                    </article>

                    <article>
                        <h2>Executive Headshots</h2>

                        <p><img src="//images.gogoroapp.com/download/Executive-Headshot/horace-luke-lg.jpg" alt="Horace Luke"></p>

                        <ul class="list-inline">
                            <li><strong>Horace Luke</strong></li>
                            <li><a href="//images.gogoroapp.com/download/Executive-Headshot/horace-luke-lg.jpg" target="_blank" download="//images.gogoroapp.com/download/Executive-Headshot/horace-luke-lg.jpg">JPG</a></li>
                        </ul>

                        <p><img src="//images.gogoroapp.com/download/Executive-Headshot/matt-taylor-lg.jpg" alt="Matt Taylor"></p>

                        <ul class="list-inline">
                            <li><strong>Matt Taylor</strong></li>
                            <li><a href="//images.gogoroapp.com/download/Executive-Headshot/matt-taylor-lg.jpg" target="_blank" download="">JPG</a></li>
                        </ul>

                    </article>

                </div><!--/.col-md-7 -->
            </div><!--/.row -->
        </div><!--/.container -->
    </section><!--/.main-section -->
</div>
