---
layout: en-us/LayoutMaster
style: |
    <link rel="stylesheet" href="/css/videos.css">
scripts: |
    <script src="/js/videos.js"></script>
action: videos
---

<div class="pg-press" data-state="Videos">
    <section id="hero-header">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                    <h1>Videos</h1>
                </div>
            </div>
        </div>
    </section>

    {% include en-us/PressSmallSizesMenuPartial.html %}

    <section class="main-section" data-state="Download">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-md-offset-0 col-sm-10 col-sm-offset-1 hidden-sm hidden-xs press-sidebar">
                    {% include en-us/PressLargeSizesMenuPartial.html %}
                </div>

                <div class="col-md-7 col-md-offset-0 col-xs-12 press-main">
                    <article>

                        <p class="video-container"><iframe src="//www.youtube.com/embed/hfPMJwMd6I8?rel=0&amp;controls=1&amp;showinfo=0" frameborder="0" allowfullscreen></iframe></p>
                        <strong><span class="graphik-semibold"> Intro:</span> Introducing Gogoro Plus</strong>&nbsp;&nbsp;<span class="videos-time-font">(1:05)</span>
                        <br />
                        <a href="//movies.gogoroapp.com/press/Gogoro-ColorCycle-H.264-1980%C3%971080.mp4" target="_blank" download>Download Video</a>

                    </article>
                    <article>
                        <h2>Videos</h2>
                        <p class="video-container"><iframe src="//www.youtube.com/embed/2DG8h8fs8Jw?rel=0&amp;controls=1&amp;showinfo=0" frameborder="0" allowfullscreen></iframe></p>
                        <strong>Smartscooter Intro: A Ride Like No Other</strong>&nbsp;&nbsp;<span class="videos-time-font">(1:44)</span>
                        <br />
                        <a href="http://goo.gl/8fDXrw" target="_blank">Download Video</a>
                    </article>

                    <article>
                        <p class="video-container"><iframe src="//www.youtube.com/embed/huxAGfoqDrY?rel=0&amp;controls=1&amp;showinfo=0" frameborder="0" allowfullscreen></iframe></p>
                        <strong>Up Close with the Gogoro Smartscooter</strong>&nbsp;&nbsp;<span class="videos-time-font">(0:51)</span>
                    </article>

                    <article>
                        <p class="video-container"><iframe src="//www.youtube.com/embed/GSYs4IEclpU?rel=0&amp;controls=1&amp;showinfo=0" frameborder="0" allowfullscreen></iframe></p>
                        <strong>The Gogoro Vision: Let’s Go! </strong>&nbsp;&nbsp;<span class="videos-time-font">(1:34)</span>
                        <br />
                        <a href="http://goo.gl/agpE2e" target="_blank">Download Video</a>
                    </article>
                    <p><strong>B-Roll</strong> | Contact us directly: <a href="mailto:press@gogoro.com">press@gogoro.com</a></p>
                </div><!--/.col-md-7 -->
            </div><!--/.row -->
        </div><!--/.container -->
    </section><!--/.main-section -->
</div>
