---
meta: |
    <meta name="keywords" content="gogoro,smartscooter,機車,電動機車,智慧雙輪,電池,睿能,睿能創意">
    <meta name="description" content="〔3/30/2015/台北訊〕以改進大都會區能源分布與管理為目標的新創公司 Gogoro，今日宣布將以臺北市和新北市為主的大臺北通勤圈作為全球試營運的第一站，Gogoro Smartscooter™ 智慧雙輪與 Gogoro 能源網路預計於今年夏天正式上市。第一個「Gogoro® 全球體驗中心」今日亦於大臺北首要商圈信義威秀揭幕，透過直接的互動方式，讓消費者對於 Gogoro 所引領的全新生活型態，有更完整的認識。">
    <meta name="application-name" content="新聞稿-Gogoro 第一且唯一 Smartscooter™ 智慧雙輪" />
    <meta name="msapplication-TileColor" content="#61399D" />
    <meta name="msapplication-TileImage" content="http://www.gogoro.com/favicon.ico" />
    <meta property="og:title" content="Gogoro® 宣布與臺北市及新北市合作，開始建設全球首個示範營運網路，Smartscooter™ 智慧雙輪今夏面市" />
    <meta property="og:type" content='website' />
    <meta property="og:url" content="http://www.gogoro.com/tw/press/releases/2014-10-30-Gogoro宣布與臺北市及新北市合作，開始建設全球首個示範營運網路Smartscooter" />
    <meta property="og:description" content="〔3/30/2015/台北訊〕以改進大都會區能源分布與管理為目標的新創公司 Gogoro，今日宣布將以臺北市和新北市為主的大臺北通勤圈作為全球試營運的第一站，Gogoro Smartscooter™ 智慧雙輪與 Gogoro 能源網路預計於今年夏天正式上市。第一個「Gogoro® 全球體驗中心」今日亦於大臺北首要商圈信義威秀揭幕，透過直接的互動方式，讓消費者對於 Gogoro 所引領的全新生活型態，有更完整的認識。" />
    <meta property="og:image" content="http://images.gogoroapp.com/share/website_thumbnail_1024.jpg" />
    <meta property="og:site_name" content="Gogoro" />
style: |
    <link rel="stylesheet" href="/css/press.css">
scripts: |
    <script src="/js/press.js"></script>
layout: zh-tw/LayoutMaster
---

<div class="pg-press" data-state="Press">
    <section id="hero-header">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                    <h1>Press</h1>
                </div>
            </div>
        </div>
    </section>


    {% include zh-tw/PressSmallSizesMenuPartial.html %}


    <section class="main-section" data-state="Press">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-md-offset-0 col-sm-10 col-sm-offset-1 hidden-sm hidden-xs press-sidebar">
                    {% include zh-tw/PressLargeSizesMenuPartial.html %}
                </div>

                <div class="col-md-7 col-md-offset-0 col-xs-12 press-main">
                    <article>
                        <p><strong>臺北 | 2015 年 3 月 30 日</strong></p>

                        <h2><span class='graphik-light'>Gogoro®</span> 宣布與臺北市及新北市合作，開始建設全球首個示範營運網路，<span class='graphik-light'>Smartscooter™</span> 智慧雙輪今夏面市</h2>

                        <h3><span class='graphik-semibold'>Gogoro Smartscooter™</span> 智慧雙輪與 <span class='graphik-semibold'>Gogoro®</span> 能源網路<br />即將出現在臺北市與新北市街頭</h3>

                        <h3><span class='graphik-semibold'>Gogoro®</span> 第一座全球體驗中心於信義威秀盛大開幕</h3>

                        <p>〔3 月 30 日-臺北〕以改進大都會區能源分布與管理為目標的新創公司 <span class='graphik-light'>Gogoro</span> ，今日宣布將以臺北市和新北市為主的大臺北通勤圈作為全球試營運的第一站，<span class='graphik-light'>Gogoro Smartscooter™</span> 智慧雙輪與 <span class='graphik-light'>Gogoro®</span>能源網路預計於今年夏天正式上市。第一座「<span class='graphik-light'>Gogoro®</span> 全球體驗中心」今日亦於大臺北首要商圈信義威秀揭幕，透過直接的互動方式，讓消費者對於 <span class='graphik-light'>Gogoro</span>  所引領的全新生活型態，有更完整的認識。</p>

                        <p>今年一月初，<span class='graphik-light'>Gogoro</span> 在美國電子消費大展中正式發表了 <span class='graphik-light'>Smartscooter™</span> 智慧雙輪和 <span class='graphik-light'>Gogoro®</span> 能源網路。<span class='graphik-light'>Smartscooter™</span> 是全世界第一個高性能、可交換電池的智慧電動雙輪交通工具，而整合雲端運算的 <span class='graphik-light'>Gogoro®</span> 能源網路則是都會區裡最先進的電池交換基礎設施。</p>

                        <p>創辦人暨執行長陸學森表示，「<span class='graphik-light'>Smartscooter™</span> 智慧雙輪以提供更高效率、更潔淨與更智慧的能源選擇，抓住機車通勤族的心。我們希望首波示範營運的地區，不僅結合高度密集與高頻率的機車使用，且對於創新產品也具有較高接受度，而大臺北地區正是我們最理想的選擇。」</p>

                        <h3><span class='graphik-semibold'>Gogoro</span> 與臺北市和新北市的合作關係</h3>

                        <p>透過提供智慧能源基礎建設與多項獎勵協助措施，<span class='graphik-light'>Gogoro</span>  與臺北市和新北市政府建立初步的合作夥伴關係，期望能提升消費者購買電動機車意願。具體措施包括：</p>

                        <ul>
                            <li>在大臺北人口密集地區廣設 <span class='graphik-light'>Gogoro®</span> 能源網路中的 <span class='graphik-light'>GoStation™</span> 電池交換站，提供「開放能源」選擇</li>
                            <li>設立雙北市電動機車優先或專屬停車位</li>
                            <li>增加購買電動機車補助名額</li>
                        </ul>

                        <p>執行長陸學森表示，「從臺北市與新北市的積極作為，我們可以感受到政府對於城市規劃與推動智慧城市的努力。致力於高效能電動機車的推廣，將為現在與未來世代帶來正面積極的影響，城市與民間單位攜手為市民創造福祉，更將成為全球都會的典範」。</p>

                        <h3>臺北市─生活實驗室計畫</h3>

                        <p>剛宣布成立的「臺北生活實驗室（<span class='graphik-light'>Living Lab ＠ Taipei</span>）」，將由臺北市政府提供行政協調與協助，幫助能增進市民福祉潛力之產品或創新商業模式的發展。<span class='graphik-light'>Gogoro</span> 非常榮幸地獲選為該計畫的第一個合作對象。</p>

                        <p>臺北市市長柯文哲表示，「臺北生活實驗室希望能透過公部門的力量，與民間能量結合，促使對於市民生活有幫助的創新產品，可以快速克服早期推廣的困難，為這個城市帶來新氣象。<span class='graphik-light'>Gogoro</span> 提出彈性與永續的能源網路，導入一個與眾不同的觀點，透過臺北生活實驗室合作計畫佈建智慧能源系統，我相信臺北市可藉此汰換更多的汽油機車，共同打造更健康、更尖端的智慧臺北」。</p>

                        <h3>新北市─智慧城市再進化，城市綠能新佈局</h3>

                        <p>近年來，新北市在推動各項資訊應用技術的發展上，位居全球的領先地位。2014年國際智慧城市論壇（<span class='graphik-light'> Intelligent Community Forum, ICF</span>）更將新北市選為全球頂尖七大智慧城市。<span class='graphik-light'>Gogoro</span> 很高興能有機會與新北市政府合作，在智慧城市的實踐上繼續創新。</p>

                        <p>新北市市長朱立倫把智慧城市列為新北市發展願景的重要標竿，副市長陳伸賢表示，「與 <span class='graphik-light'>Gogoro</span> 的合作，突顯了我們進一步升級新北智慧城市的強烈企圖心。『城市綠能』是我們提出的新布局，藉由電動機車串連智慧能源、智慧產業與智慧交通三個面向，建構智慧能源網路的相關基礎建設，共享與運用大數據資料，規劃嶄新的能源系統與分享網路，我們以帶給市民更優質的生活為方向，讓明日的科技於今日提前實踐。」</p>

                        <h3>全球體驗中心於臺北盛大開幕</h3>

                        <p>選定在臺北市設立全球體驗中心，是 <span class='graphik-light'>Gogoro</span> 營運規劃中的一個重要據點。這是一個先進完整的展示空間，讓消費者可以經由最直接的體驗與互動，了解到 <span class='graphik-light'>Gogoro Smartscooter™</span> 智慧雙輪所擁有的傲人性能、極致工藝、智慧科技和滿足個人風格的個性化配置，我們竭誠的歡迎來自世界各地的消費者，在此體驗智慧能源網路與載具的多樣驚喜。（店面位置：<a href="https://www.google.com.tw/maps/place/110台北市信義區松壽路18號" target="_blank">臺北市信義區松壽路18號／信義威秀影城</a>）</p>

                        <h3>城市新探<span class="graphik-semibold">Beta</span>計畫</h3>

                        <p>試營運計畫的另一個重要環節，是 <span class='graphik-light'>Gogoro</span> 正在籌劃中的城市新探 Beta 計畫。這個傳統機車產業中極為少見的上市前測試活動，將會召集 100 名都會騎士搶先試騎，以每個人 1,000 小時的親身體驗，共同達到累計 100,000 小時的實際道路驗證成果，透過大家的共通努力，不只證明車輛與能源網路的性能和穩定性，同時也探索發掘大臺北區域的生活熱點。除了 60 位已經邀請的專業人士之外，<span class='graphik-light'>Gogoro</span> 也向大臺北地區的都會騎士發出召集令，誠摯尋求 40 位社群菁英一同參與。更多活動詳情請洽：<a href="/tw/campaign/beta">www.gogoro.com/tw/campaign/beta</a></p>

                        <h3>關於 <span class='graphik-semibold'>Gogoro</span></h3>

                        <p>成立於 2011， <span class='graphik-light'>Gogoro</span> 矢志透過網路和科技的力量，重新創造人們的能源體驗，促使全世界大型都會逐步轉型成為智慧城市。2015年1月，<span class='graphik-light'>Gogoro</span> 推出<span class='graphik-light'>Smartscooter™</span> 智慧雙輪──全世界第一個高性能、可交換電池的智慧電動雙輪交通工具，以及先進的電池交換設施── <span class='graphik-light'>Gogoro®</span> 能源網路。<span class='graphik-light'>Gogoro</span> 希望透過更自主更智慧的個人能源使用方式，帶領大家向未來快步前進，共同創造更好的明天。更多資訊請洽：<a href="/tw/press">www.gogoro.com/tw/press</a></p>

                        <h3><a href="http://www.facebook.com/Gogoro/?fref=ts" target="_blank"><span class='graphik-semibold'>Gogoro®</span>臉書官方粉絲團</a></h3>



                        <p></p>
                        <!--   <div id="press-navigation" class="hidden-xs">
                           <a href="#" class="navigate-btn navigate-older">
                             <div class="text">
                               Older
                             </div>
                             <span class="icon"><i class="icon-left"></i></span>
                           </a>
                           <a href="#" class="navigate-btn navigate-newer">
                             <div class="icon">
                               <i class="icon-right"></i>
                             </div>
                             <div class="text">
                               Newer
                             </div>
                           </a>
                         </div>

                         <div id="press-navigation-mobile" class="visible-xs">
                           <a href="#" class="btn btn-outline btn-sm margin-top navigate-older">< Older</a>
                           <a href="#" class="btn btn-outline btn-sm margin-top navigate-newer">Newer ></a>
                         </div>
                        -->
                    </article>

                    <div id="social-share">
                        <br /><label>分享</label>
                        <ul class="list-inline">
                            <li><a href="#" target="_blank" id="social-share-twitter"><i class="fa fa-twitter-square"></i></a></li>
                            <li><a href="#" target="_blank" id="social-share-facebook"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#" target="_blank" id="social-share-google"><i class="fa fa-google-plus-square"></i></a></li>
                            <li><a href="#" target="_blank" id="social-share-linkedin"><i class="fa fa-linkedin-square"></i></a></li>
                        </ul>
                    </div>
                </div><!--/.col-md-7 -->
            </div><!--/.row -->
        </div><!--/.container -->
    </section><!--/.main-section -->
</div>
