---
meta: |
    <meta name="keywords" content="gogoro,smartscooter,機車,電動機車,智慧雙輪,電池,睿能,睿能創意">
    <meta name="description" content="〔6月17日 - 臺北〕以改進大都會區能源分布與管理為目標的新創公司Gogoro®，今日宣布Smartscooter™ 智慧雙輪於大臺北地區正式上市。">
    <meta name="application-name" content="新聞稿-Gogoro 第一且唯一 Smartscooter™ 智慧雙輪" />
    <meta name="msapplication-TileColor" content="#61399D" />
    <meta name="msapplication-TileImage" content="http://www.gogoro.com/favicon.ico" />
    <meta property="og:title" content="Gogoro® 智慧雙輪正式上市 「預GO專案」限時啟動" />
    <meta property="og:type" content='website' />
    <meta property="og:url" content="http://www.gogoro.com/tw/press/releases/2015-06-03-試騎活動開放線上及現場預約" />
    <meta property="og:description" content="〔6月17日 - 臺北〕以改進大都會區能源分布與管理為目標的新創公司Gogoro®，今日宣布Smartscooter™ 智慧雙輪於大臺北地區正式上市。" />
    <meta property="og:image" content="http://images.gogoroapp.com/press/press_share_2015-06-03.jpg" />
    <meta property="og:site_name" content="Gogoro" />
style: |
    <link rel="stylesheet" href="/css/press.css">
scripts: |
    <script src="/js/press.js"></script>
layout: zh-tw/LayoutMaster
---

<div class="pg-press" data-state="Press">
    <section id="hero-header">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                    <h1>Press</h1>
                </div>
            </div>
        </div>
    </section>


    {% include zh-tw/PressSmallSizesMenuPartial.html %}


    <section class="main-section" data-state="Press">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-md-offset-0 col-sm-10 col-sm-offset-1 hidden-sm hidden-xs press-sidebar">
                    {% include zh-tw/PressLargeSizesMenuPartial.html %}
                </div>

                <div class="col-md-7 col-md-offset-0 col-xs-12 press-main">
                    <article>
                        <p><strong>臺北 | 2015 年 6 月 17 日</strong></p>

                        <h2><span class='graphik-light'>Gogoro®</span>智慧雙輪正式上市 「預GO專案」限時啟動</h2>

                        <h3>6月27日起搶先預購，7月25日開始陸續交車</h3>

                        <h3><span class='graphik-semibold'>GoStation®</span> 電池交換站年底將達150座</h3>

                        <p>〔6月17日 - 臺北〕以改進大都會區能源分布與管理為目標的新創公司<span class='graphik-light'>Gogoro®</span>，今日宣布Smartscooter™ 智慧雙輪於大臺北地區正式上市。「<span class='graphik-light'>Gogoro®</span> 智慧雙輪在智能、連結、性能、效率四大面向，展現了前所未有的優異表現。今日的上市，更代表了大臺北年輕一代將有機會領先全世界，迎向嶄新風貌的都會雙輪文化。」<span class='graphik-light'>Gogoro®</span> 創辦人暨執行長Horace Luke表示：「我們創新的電池交換基礎設施 <span class='graphik-light'>Gogoro®</span> 能源網路也已同時於雙北全面佈建，為智慧雙輪供應最可靠、最便利與源源不絕的動力，進一步做到智慧和高效的能源管理。」</p>

                        <h3>「預<span class='graphik-semibold'>GO</span>專案」享低頭款及12期0利率  再送兩年不限次數電池交換「換電馳」服務</h3>

                        <p>讓大眾期盼已久的價格今日正式公佈，<span class='graphik-light'>Gogoro Smartscooter™</span> 智慧雙輪含稅售價新台幣128,000元（不含政府補助）；而提供每月不限次數電池交換的「換電馳」服務，月租費為新台幣899元；並於6月27日至 7 月 24 日間開放預購，7月25日開始陸續交車。為了答謝顧客的耐心等候，<span class='graphik-light'>Gogoro®</span> 也特別推出「預GO專案」，除了贈送兩年「換電馳-都會方案」不限次數電池交換服務、兩年免費保養、兩年道路救援、客戶還可享有超低頭款新台幣38,000元及餘款12期0利率分期，一年丟車賠車竊盜險等諸多優惠。詳細的「預GO專案」內容及條件如下：</p>

                        <ul>
                            <li>低頭款新台幣38,000元</li>
                            <li>提供餘款90,000元12個月0利率分期付款或貸款註 （月付7,500元，無須支付額外手續費或設定費用）</li>
                            <li>贈送12個月丟車賠車全額竊盜險</li>
                            <li>贈送24個月換電馳-都會方案（價值新台幣 899 x 24 = 21,576元）</li>
                            <li>贈送24個月不限里程免費保養（包含材料與工資）</li>
                            <li>贈送24個月道路救援服務（因保固產生之救援服務不限次數，再送非保固救援每年兩次、兩年共四次。服務區域為大臺北地區，詳細區域規畫請參考官網。）</li>
                        </ul>

                        <h3>新推出<span class='graphik-semibold'>Gogoro Plus</span>智慧雙輪 </h3>

                        <p><span class='graphik-light'>Gogoro®</span> 今日同步推出配備更豐富、色彩繽紛的Gogoro Plus，提供不同選擇給追求個性表現的時尚車主。有別於一般版本Gogoro的白、灰兩種經典車色，Gogoro Plus特別提供了白、灰、銀、藍、橘、黃六種車色選擇，並配有鈦灰特殊色車架、銀灰色鋁合金輪圈、阻尼可調式後避震器、燻黑造型風鏡、轉向輔助照地燈、輔助煞車燈、煞車油量檢視燈等多項配備升級。Gogoro Plus含稅售價新台幣138,000元（不含政府補助），同樣可適用上述「預GO專案」優惠。</p>

                        <h3><span class='graphik-semibold'>GoStation®</span> 今日啟用32座  年底前將增設至150座</h3>

                        <p>為提供Smartscooter™ 智慧雙輪車主完善的能源網路，<span class='graphik-light'>Gogoro®</span> 今日同步啟用於大臺北地區佈建的32座<span class='graphik-light'>GoStation®</span> 電池交換站，7月 25日開始交車時預計建置超過70座，年底前更將增設至150座。許多知名通路、商家、及學校機構基於對綠能理念的認同，也已經加入<span class='graphik-light'>Gogoro®</span> 能源網路夥伴計畫（<span class='graphik-light'>Gogoro®</span> Energy Network Partner Program）一起加速<span class='graphik-light'>GoStation®</span> 電池交換站的建設。<span class='graphik-light'>Gogoro®</span> 能源網路的建置將持續進行，消費者可隨時至官網查詢<span class='graphik-light'>GoStation®</span> 電池交換站設置地點的最新表列。</p>

                        <h3>臺北市光華八德店今日開始試營運</h3>

                        <p><span class='graphik-light'>Gogoro®</span> 預計年底前在大臺北地區建立11個銷售點以及8個維修中心，以滿足大臺北地區車主的購車和售後需求。<span class='graphik-light'>Gogoro®</span> 位於臺北市八德路一段27號的光華八德店亦於今日開始試營運，提供銷售與車輛維修服務，近期內士林、板橋、新店的直營店也會陸續開幕。更多營業與服務地點資訊，請上官網查詢。</p>

                        <h3><span class='graphik-semibold'>Gogoro®</span> 直營線上商店  預購享專屬分期優惠及姓名銘牌</h3>

                        <p>在實體銷售點之外，<span class='graphik-light'>Gogoro®</span> 同步設立直營網路商店。透過橫跨平板與電腦的網路購物介面，從下單到領牌，可全程在任何地點輕鬆完成。對於網路購車用戶，<span class='graphik-light'>Gogoro®</span> 提供以下額外的專屬服務：</p>

                        <ul>
                            <li>線上購車享有免費車主姓名（英文）銘牌刻製</li>
                            <li>線上全額刷卡完成購車可選擇免費到府交車服務</li>
                            <li>線上全額刷卡購車享有購物金額全額 12 期0利率分期付款優惠</li>
                        </ul>

                        <p><span class='graphik-light'>Gogoro®</span> 直營線上商店的網址為http://store.gogoro.com/tw，6月17日上線可供瀏覽，6月27日11時正式開始接受下單，線上購買同享「預GO專案」的所有優惠。</p>

                        <h3>前1000位先鋒騎士  獨享Gogoro Pioneer禮遇</h3>

                        <p>為了向全球前1,000位車主致敬，<span class='graphik-light'>Gogoro®</span> 別樹一幟地推出「Gogoro Pioneer」特仕禮遇，包含刻有限量編號 Gogoro Pioneer 專屬銘牌、標示限量編號Gogoro Pioneer專屬椅墊馬鞍帶掛飾以及Gogoro Pioneer 紀念 T-shirt。除此之外，<span class='graphik-light'>Gogoro®</span> 更提供限時「限量編號」選號服務，6月27日9點至11點之間，位於信義威秀的全球體驗中心將優先接受客戶預購，並可同時指定0001至1000間的任一限量序號。</p>

                        <h3>關於<span class='graphik-semibold'>Gogoro®</span></h3>

                        <p>成立於2011，<span class='graphik-light'>Gogoro®</span> 矢志透過網路和科技的力量，重新創造人們的能源體驗，促使世界大型都會逐步轉型成為智慧城市。2015年1月，Gogoro 推出 Smartscooter™ 智慧雙輪──全世界第一個高性能、可交換電池的智慧電動雙輪交通工具，以及先進的電池交換設施──<span class='graphik-light'>Gogoro®</span> 能源網路。<span class='graphik-light'>Gogoro®</span> 希望透過更自主、更智慧的個人能源使用方式，帶領大家向未來快步前進，共同創造更好的明天。</p>

                            </article>

                    <div id="social-share">
                        <label>Share</label>
                        <ul class="list-inline">
                            <li><a href="#" target="_blank" id="social-share-twitter"><i class="fa fa-twitter-square"></i></a></li>
                            <li><a href="#" target="_blank" id="social-share-facebook"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#" target="_blank" id="social-share-google"><i class="fa fa-google-plus-square"></i></a></li>
                            <li><a href="#" target="_blank" id="social-share-linkedin"><i class="fa fa-linkedin-square"></i></a></li>
                        </ul>
                    </div>
                </div><!--/.col-md-7 -->
            </div><!--/.row -->
        </div><!--/.container -->
    </section><!--/.main-section -->
</div>
