---
meta: |
    <meta name="keywords" content="gogoro,smartscooter,機車,電動機車,智慧雙輪,電池,睿能,睿能創意">
    <meta name="description" content="[10月1日-臺北]
    以改進大都會區能源分布與管理為目標的新創公司 Gogoro，今日宣布年底前將擴大營運市場，從目前的台北市及新北市、拓展至桃園市及新竹縣市。同時，Gogoro 發表一款價格極具市場競爭力的新車款 Gogoro® Lite，含政府補助款最低新台幣 62,000 起即可擁有">
    <meta name="application-name" content="新聞稿-Gogoro 宣布新市場、新產品  讓台灣更快進入智慧城市嶄新時代" />
    <meta name="msapplication-TileColor" content="#61399D" />
    <meta name="msapplication-TileImage" content="http://www.gogoro.com/favicon.ico" />
    <meta property="og:title" content="Gogoro 宣布新市場、新產品  讓台灣更快進入智慧城市嶄新時代" />
    <meta property="og:type" content='website' />
    <meta property="og:url" content="http://www.gogoro.com/tw/press/releases/2015-06-03-試騎活動開放線上及現場預約" />
    <meta property="og:description" content="[10月1日-臺北]
    以改進大都會區能源分布與管理為目標的新創公司 Gogoro，今日宣布年底前將擴大營運市場，從目前的台北市及新北市、拓展至桃園市及新竹縣市。同時，Gogoro 發表一款價格極具市場競爭力的新車款 Gogoro® Lite，含政府補助款最低新台幣 62,000 起即可擁有" />
    <meta property="og:image" content="http://images.gogoroapp.com/share/FB_Image.jpg" />
    <meta property="og:site_name" content="Gogoro" />
style: |
    <link rel="stylesheet" href="/css/press.css">
    <style type="text/css">
        html[lang=zh-TW] p, li, small{
            font-family: 'graphik-light','xingothic-w3', 'Microsoft JhengHei','STHeiti';
        }
    </style>
scripts: |
    <script src="/js/press.js"></script>
layout: zh-tw/LayoutMaster
---

<div class="pg-press" data-state="Press">
    <section id="hero-header">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                    <h1>Press</h1>
                </div>
            </div>
        </div>
    </section>


    {% include zh-tw/PressSmallSizesMenuPartial.html %}


    <section class="main-section" data-state="Press">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-md-offset-0 col-sm-10 col-sm-offset-1 hidden-sm hidden-xs press-sidebar">
                    {% include zh-tw/PressLargeSizesMenuPartial.html %}
                </div>

                <div class="col-md-7 col-md-offset-0 col-xs-12 press-main">
                    <article>
                        <p><strong>臺北 | 2015 年 10 月 1 日</strong></p>

                        <h2><span class='graphik-light'>Gogoro</span> 宣布新市場、新產品  讓台灣更快進入智慧城市嶄新時代</h2>

                        <h3>年底前拓展至桃園新竹地區，<span class='graphik-semibold'>Gogoro® Lite</span>新品登場</h3>

                        <h3>政府補助後最低 NT$62,000 元起即可擁有</h3>

                        <h3><span class='graphik-semibold'>Smartscooter™</span> 智慧雙輪全系列價格調整更貼進主流市場</h3>

                        <p>[10月1日-臺北] 以改進大都會區能源分布與管理為目標的新創公司 Gogoro，今日宣布年底前將擴大營運市場，從目前的台北市及新北市、拓展至桃園市及新竹縣市。同時，Gogoro 發表一款價格極具市場競爭力的新車款 Gogoro® Lite，含政府補助款最低新台幣 62,000 起即可擁有<sup><small>[1]</small></sup>。</p>

                        <p>Gogoro 創辦人暨執行長陸學森表示：「搭配 GoStation® 電池交換站運作的 Smartscooter™ 智慧雙輪在大臺北地區問市以來，獲得熱烈迴響。為進一步滿足多元的需求，讓更多喜歡 Gogoro 的朋友也可以輕鬆地成為 Smartscooter™ 的車主，我們不僅推出入門款 Gogoro® Lite，也同步調整 Gogoro® 和 Gogoro® Plus 的產品價格，希望消費者在二輪市場主流價格帶有更多、更好的選擇，並透過實際擁有 Gogoro®，享受智慧綠能移動的新價值，加速邁入智慧城市的嶄新時代。」</p>

                        <p>Smartscooter™ 智慧雙輪自開始交車至今，目前已經累積近 1,000 台的車輛掛牌數，同時 GoStation® 電池交換站的建置數量已經超過 80 座，這個實績已經驗證 Gogoro® 能源網路是目前全世界使用最頻繁，最成熟的電動交通工具能源交換系統，大台北也成為全世界首個真正實踐智慧能源管理的先進城市。</p>

                        <h3>Gogoro 擴大服務與銷售據點至桃園、新竹</h3>

                        <p>Gogoro 宣佈擴大能源網絡佈建，將 GoStation® 電池交換站、銷售與維修據點延伸至桃園、新竹地區，建立高度連結且更便利的能源使用模式，串連起佈建城市內用戶更好的騎乘體驗。陸學森表示：「 Gogoro 於年底前將實現雙北、桃園、新竹一日來回，更將桃園、新竹近 250 萬人口，納入了 Gogoro 的綠能城市新布局，讓更多人可享受兼具科技、操控、舒適於一身的獨特騎乘體驗。感謝過去幾個月和我們交換意見的桃竹朋友們，也謝謝你們的耐心等候、一路熱情相挺，我們已經做好準備，預計於 2015 年底前就可以讓大家在北、北、基、桃、竹的泛北部地區，盡興換電馳騁。」</p>

                        <h3>全新推出<span class='graphik-semibold'> Gogoro® Lite Smartscooter™ </span>智慧雙輪</h3>

                        <p>Gogoro 矢志透過網路和科技的力量，重新打造人們的能源體驗，促使大型都會逐步轉型成為智慧城市。繼於 2015 年初推出 Gogoro® 與 Gogoro® Plus 後，延續一貫的創新科技與高品質精神，現在更推出入門款 Gogoro® Lite — 讓消費者有更多樣的選擇。與之前版本相較，Gogoro® Lite 鎖定都會騎乘需求的用戶，化繁為簡，以更具吸引力的價格，人人都可輕鬆擁有 Smartscooter™，享受智慧雙輪的核心科技、以及 GoStation® 電池交換站的無比便利。Gogoro® Lite 售價在扣除政府補助款後，最低新台幣 62,000 元起，讓主流市場用戶多了一個才貌兼備、與眾不同的綠能選擇。</p>

                        <h3>宣布調整<span class='graphik-semibold'>Gogoro® </span>與<span class='graphik-semibold'>Gogoro® Plus</span>智慧雙輪的價格</h3>

                        <p>政府對於電動機車產業的推廣不遺餘力，台灣已經發展成為全球電動機車市場成長最快速的國家之一。為了加速實現產、官、學共有的智慧綠能移動願景，Gogoro 今日同時宣佈調整現有兩款產品之價格。若以桃園市新購電動機車補助新台幣 26,000 元為例，試算車主最終須支付的車價：</p>

                        <ul>
                            <li>Gogoro® Lite 扣除政府補助款後，為新台幣 62,000 元（補助前零售價格為 88,000）。</li>
                            <li>Gogoro® 扣除政府補助款後，為新台幣 72,000 元（補助前零售價格為 98,000）。</li>
                            <li>Gogoro® Plus 扣除政府補助款後，為新台幣 82,000 元（補助前零售價格為 108,000）。</li>
                        </ul>

                        <p>即日起之新購車主，還享有每月不限里程的「換電馳」服務至 2015年 12 月 31 日止（包含免費保養、豁免電池遺失或損壞賠償），另可選擇低頭款（新台幣 28,000 元）、低利率（36期、月付新台幣 1,911 元）的分期付款專案。</p>

                        <p>因為 Gogoro 現有車主的愛護與支持，我們得以在大台北開始發芽茁壯，為表達對先期購買車主最真摯的謝意，凡於 9/30 前完成付款購買的車主，Gogoro 會退還當初購買價格與新價格之間的差價，且承諾購買當時所享的權益維持不變。即日起 Gogoro 將透過多種管道主動聯繫車主，協助辦理退款事宜。</p>

                        <p>感謝大家的期待與支持，一如既往，Gogoro 會持續努力，提供更好、更智慧、並滿足消費者需求的產品。有各位的熱情參與、一路相伴，我們會一起讓世界眼睛一亮、讓台灣空氣更好、路上更美、你更酷。</p>

                        <h3>關於<span class='graphik-semibold'>Gogoro®</span> 智慧雙輪</h3>

                        <p>於 2015 年國際消費電子展首度見世即榮獲國際肯定，Smartscooter™ 智慧雙輪是世界上第一部使用電池交換技術的高性能智慧型電動雙輪載具。擁有極速 95km/h 以及最高續航力 100 公里的性能表現，Smartscooter™ 智慧雙輪採用了超級跑車的製程、材料以及精細度，提供大眾市場兼具優異性能、便捷使用者介面的交通工具。Smartscooter™ 智慧雙輪於全車及電池共計搭載 80 組的感應器，加上雲端連結以及高度整合的行動裝置 App，每次的騎乘都能讓 Smartscooter™ 智慧雙輪更聰明、更有效率。</p>

                        <h3>關於<span class='graphik-semibold'>Gogoro </span> </h3>

                        <p>
                            成立於 2011， Gogoro 矢志透過網路和科技的力量，重新創造人們的能源體驗，促使全世界大型都會逐步轉型成為智慧城市。2015 年 1 月， Gogoro 推出 Smartscooter™ 智慧雙輪，以及先進的電池交換設施 ─ Gogoro® 能源網路。 Gogoro 希望透過更自主、更智慧的個人能源使用方式，帶領大家向未來快步前進，共同創造更好的明天。
                            更多資訊請洽：www.gogoro.com/tw/press
                        </p>

                        <p>Gogoro® 臉書官方粉絲團：www.facebook.com/Gogoro</p>

                        <small>[1]由原始售價扣除縣市政府補助、經濟部工業局補助與行政院環保署助計算而得，政府補助方案之相關具體規定及限制，包括但不限於申請方式、期限、限制或名額等，可能隨時有變動或名額用罄之情形，最終仍依中央或地方政府所公告之法令及規定內容為準。</small>

                    </article>

                    <div id="social-share">
                        <label>Share</label>
                        <ul class="list-inline">
                            <li><a href="#" target="_blank" id="social-share-twitter"><i class="fa fa-twitter-square"></i></a></li>
                            <li><a href="#" target="_blank" id="social-share-facebook"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#" target="_blank" id="social-share-google"><i class="fa fa-google-plus-square"></i></a></li>
                            <li><a href="#" target="_blank" id="social-share-linkedin"><i class="fa fa-linkedin-square"></i></a></li>
                        </ul>
                    </div>
                </div><!--/.col-md-7 -->
            </div><!--/.row -->
        </div><!--/.container -->
    </section><!--/.main-section -->
</div>
