---
meta: |
    <meta name="keywords" content="gogoro,smartscooter,機車,電動機車,智慧雙輪,電池,睿能,睿能創意">
    <meta name="description" content="媒體朋友您好，富比世 (Forbes) 評選 2015 年最熱門的全球百大新創物聯網公司排名出現更動，Gogoro 排名上升至第七名，附上更新新聞稿，敬請惠予刊登，若造成不便還請見諒，謝謝。">
    <meta name="application-name" content="新聞稿-Gogoro 宣布新市場、新產品  讓台灣更快進入智慧城市嶄新時代" />
    <meta name="msapplication-TileColor" content="#61399D" />
    <meta name="msapplication-TileImage" content="http://www.gogoro.com/favicon.ico" />
    <meta property="og:title" content="Gogoro 名列「2015全球百大新創物聯網公司」第七名 全球公司中台灣唯一上榜公司" />
    <meta property="og:type" content='website' />
    <meta property="og:url" content="http://www.gogoro.com/tw/press/releases/2015-10-28-全球百大新創物聯網公司" />
    <meta property="og:description" content="媒體朋友您好，富比世 (Forbes) 評選 2015 年最熱門的全球百大新創物聯網公司排名出現更動，Gogoro 排名上升至第七名，附上更新新聞稿，敬請惠予刊登，若造成不便還請見諒，謝謝。" />
    <meta property="og:image" content="http://images.gogoroapp.com/share/website_thumbnail_1024.jpg" />
    <meta property="og:site_name" content="Gogoro" />
style: |
    <link rel="stylesheet" href="/css/press.css">
    <style type="text/css">
        html[lang=zh-TW] p, li, small{
            font-family: 'graphik-light','xingothic-w3', 'Microsoft JhengHei','STHeiti';
        }
    </style>
scripts: |
    <script src="/js/press.js"></script>
layout: zh-tw/LayoutMaster
---

<div class="pg-press" data-state="Press">
    <section id="hero-header">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                    <h1>Press</h1>
                </div>
            </div>
        </div>
    </section>


    {% include zh-tw/PressSmallSizesMenuPartial.html %}


    <section class="main-section" data-state="Press">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-md-offset-0 col-sm-10 col-sm-offset-1 hidden-sm hidden-xs press-sidebar">
                    {% include zh-tw/PressLargeSizesMenuPartial.html %}
                </div>

                <div class="col-md-7 col-md-offset-0 col-xs-12 press-main">
                    <article>
                        <p><strong>臺北 | 2015 年 10 月 27 日</strong></p>

                        <h2><span class='graphik-light'>Gogoro</span> 名列「2015全球百大新創物聯網公司」第七名<br />全球公司中台灣唯一上榜公司</h2>

                        <p>
                            [10月27日-臺北] 向來關注全球財經趨勢的富比世 (Forbes)，日前運用企業數據分析平台 Mattermark 數據，評選出 2015 年最熱門的全球百大新創物聯網公司，而獲選名單中唯一來自台灣的公司，即是上市以來備受關注的 Gogoro。
                        </p>

                        <p>
                            根據富比世此篇報導，進榜全球前百大新創物聯網公司中有近一半 (48 家) 位於美國舊金山灣區，為全球最為集中的地區。而另外較為集中的城市則是波士頓，洛杉磯與多倫多等。Gogoro 是少數來自亞洲，更是台灣唯一進榜的公司。Gogoro 在物聯網大潮流引領的當下，其商業模式與科技創新已經引起了全球高科技產業的高度關注！
                        </p>

                        <h3>全球百大新創物聯網公司評選  <span class='graphik-semibold'>Gogoro</span> 成長指數 (Growth Score) 高居第 2 名</h3>
                        <p>這份百大資料針對全球超過 100 萬家新創公司，運用了人工智慧及數據分析方式，瞭解包括員工資料與募資等活動，以此作為初步結果，再輔以社會影響指數、網站流量、員工成長率及募資規模及比例作為更進一步的資料分析，綜合以上的資料加權比對，獲得所謂的成長指數 (Growth Score)。成長指數是衡量公司在未來的發展中，不論以公司規模、型態或是其創意與顧客的生活連結等，評比發展潛力的綜合指標。而 <span class='graphik-light'>Gogoro</span> 在此次全球百大新創物聯網公司所獲得的成長指數當中，更是高居第 2 名！</p>

                        <h3>物聯網的核心價值來自日常生活運用</h3>
                        <p><span class='graphik-light'>Gogoro</span> 自從發布以來，即以其創意及科技引領話題，富比世網站也曾以「機車中的特斯拉」來形容 Gogoro® Smartscooter™ 智慧雙輪。此次在全球百大新創物聯網公司的榜單中名列前茅，更說明了 <span class='graphik-light'>Gogoro</span> 的創新價值不止於一般人所熟知的電動機車，而是在物聯網時代當中，帶給消費者突破傳統科技，同時也能於日常生活實用的產品核心價值！</p>

                        <h3><span class='graphik-semibold'>Gogoro</span> 破百萬公里里程碑 騎乘中零污染零排放</h3>
                        <p>特別值得一提的是，就在富比世 (Forbes) 發布這篇報告的同一日， <span class='graphik-light'>Gogoro® Smartscooter™</span> 智慧雙輪的累積里程數迄今已突破 100 萬公里的總騎乘里程，這是 <span class='graphik-light'>Gogoro</span> 的第一個百萬里程。行駛中零排放的 <span class='graphik-light'>Gogoro® Smartscooter™</span> 智慧雙輪，在達成上述里程碑的同時，在大台北都會區減少了相當於大安森林公園一季所能吸收的二氧化碳總量。</p>

                        <p><span class='graphik-light'>Gogoro</span> 一直以來都以改進大都會區能源分布與管理為目標，預計於年底前實現台北、桃園、新竹一日來回，更將桃園、新竹近 250 萬人口，納入了 Gogoro 的綠能城市新布局，讓更多人可享受最先進、舒適的騎乘經驗，讓更多消費者可以享受到前所未有的騎乘體驗。</p>

                    </article>

                    <div id="social-share">
                        <label>Share</label>
                        <ul class="list-inline">
                            <li><a href="#" target="_blank" id="social-share-twitter"><i class="fa fa-twitter-square"></i></a></li>
                            <li><a href="#" target="_blank" id="social-share-facebook"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#" target="_blank" id="social-share-google"><i class="fa fa-google-plus-square"></i></a></li>
                            <li><a href="#" target="_blank" id="social-share-linkedin"><i class="fa fa-linkedin-square"></i></a></li>
                        </ul>
                    </div>
                </div><!--/.col-md-7 -->
            </div><!--/.row -->
        </div><!--/.container -->
    </section><!--/.main-section -->
</div>
