---
meta: |
    <meta name="keywords" content="gogoro,smartscooter,機車,電動機車,智慧雙輪,電池,睿能,睿能創意">
    <meta name="description" content="〔6月3日 - 臺北〕自Gogoro全球體驗中心進駐台北市信義區以來，參觀人數超過14萬人次，SmartscooterTM 智慧雙輪的獨特設計與性能表現，也已吸引眾多消費者躍躍欲試。為了在上市前提供消費者實際的試乘體驗，Gogoro 今日宣布「見‧試Gogoro」試騎活動開放線上及現場預約，體驗地點包括信義區臺北101對面戶外場地、Ｇogoro全球體驗中心，以及Gogoro誠品松菸店，歡迎有興趣的消費者親身感受其所帶來的馳乘快感。">
    <meta name="application-name" content="新聞稿-Gogoro 第一且唯一 Smartscooter™ 智慧雙輪" />
    <meta name="msapplication-TileColor" content="#61399D" />
    <meta name="msapplication-TileImage" content="http://www.gogoro.com/favicon.ico" />
    <meta property="og:title" content="「見‧ 試Gogoro」試騎活動開放線上及現場預約" />
    <meta property="og:type" content='website' />
    <meta property="og:url" content="http://www.gogoro.com/tw/press/releases/2015-06-03-試騎活動開放線上及現場預約" />
    <meta property="og:description" content="〔6月3日 - 臺北〕自Gogoro全球體驗中心進駐台北市信義區以來，參觀人數超過14萬人次，SmartscooterTM 智慧雙輪的獨特設計與性能表現，也已吸引眾多消費者躍躍欲試。為了在上市前提供消費者實際的試乘體驗，Gogoro 今日宣布「見‧試Gogoro」試騎活動開放線上及現場預約，體驗地點包括信義區臺北101對面戶外場地、Ｇogoro全球體驗中心，以及Gogoro誠品松菸店，歡迎有興趣的消費者親身感受其所帶來的馳乘快感。" />
    <meta property="og:image" content="http://images.gogoroapp.com/press/press_share_2015-06-03.jpg" />
    <meta property="og:site_name" content="Gogoro" />
style: |
    <link rel="stylesheet" href="/css/press.css">
scripts: |
    <script src="/js/press.js"></script>
layout: zh-tw/LayoutMaster
---

<div class="pg-press" data-state="Press">
    <section id="hero-header">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                    <h1>Press</h1>
                </div>
            </div>
        </div>
    </section>


    {% include zh-tw/PressSmallSizesMenuPartial.html %}


    <section class="main-section" data-state="Press">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-md-offset-0 col-sm-10 col-sm-offset-1 hidden-sm hidden-xs press-sidebar">
                    {% include zh-tw/PressLargeSizesMenuPartial.html %}
                </div>

                <div class="col-md-7 col-md-offset-0 col-xs-12 press-main">
                    <article>
                        <p><strong>臺北 | 2015 年 6 月 3 日</strong></p>

                        <h2>「見‧ 試<span class='graphik-light'>Gogoro</span>」試騎活動開放線上及現場預約</h2>

                        <h3>首站設於臺北101大樓旁  邀請消費者一同釋放電「馳」快感</h3>

                        <h3>6月5日首埸公開體驗，Uber 用戶免費專車接駁</h3>

                        <p>〔6月3日 - 臺北〕自<span class='graphik-light'>Gogoro</span>全球體驗中心進駐台北市信義區以來，參觀人數超過14萬人次，<span class='graphik-light'>Smartscooter™</span> 智慧雙輪的獨特設計與性能表現，也已吸引眾多消費者躍躍欲試。為了在上市前提供消費者實際的試乘體驗，<span class='graphik-light'>Gogoro</span> 今日宣布「見‧試<span class='graphik-light'>Gogoro</span>」試騎活動開放線上及現場預約，體驗地點包括信義區臺北101對面戶外場地、<span class='graphik-light'>Gogoro</span>全球體驗中心，以及<span class='graphik-light'>Gogoro</span>誠品松菸店，歡迎有興趣的消費者親身感受其所帶來的馳乘快感。</p>

                        <p>欲參加 <span class='graphik-light'>Smartscooter™</span> 智慧雙輪試騎活動的消費者，可至官方網頁 <a href="http://www.gogoro.com/tw/book-a-ride" target="_blank">www.gogoro.com/tw/book-a-ride</a> 預約未來兩週的試騎場次。屆時，騎士可隨著專屬領航員，透過精心安排的試騎路線，於實際道路上體驗 <span class='graphik-light'>Smartscooter™</span> 智慧雙輪的優越性能與多種個人化智慧功能。消費者可依據個人需求選擇位於臺北市的三個試騎活動地點，每日名額有限，額滿為止 <sup><small>[1]</small></sup> : </p>

                        <ul>
                            <li><strong>見‧試<span class='graphik-semibold'>Gogoro</span> @ 臺北101：</strong> 捷運臺北101 世貿站2號出口</li>
                            <li><strong><span class='graphik-semibold'>Gogoro</span> 全球體驗中心：</strong> 臺北市信義區松壽路18號</li>
                            <li><strong><span class='graphik-semibold'>Gogoro</span> 誠品松菸店：</strong> 臺北市松山區菸廠路88號2樓</li>
                        </ul>

                        <p>此外，於6月5日當天，<span class='graphik-light'>Gogoro</span> 與全球最熱門的共乘平台 Uber 將提供 Uber 使用者專屬體驗 <span class='graphik-light'>Smartscooter™</span> 智慧雙輪的試騎活動 。大臺北民眾只要在 6月5日之前下載註冊 Uber App，於活動當天 11 點起至晚上 8 點打開 Uber App就可以看見特殊的 <span class='graphik-light'>Gogoro</span> 車輛選項，輕點 Uber App 呼叫指定車輛，即可免費載您至「見‧試<span class='graphik-light'>Gogoro</span> @臺北101」活動地點，立即搶先試騎<span class='graphik-light'>Smartscooter™</span> 智慧雙輪。（活動車輛每台車最多僅限兩人搭乘，每人僅限搭乘乙次）<sup><small>[2]</small></sup></p>

                        <p><span class='graphik-light'>Gogoro</span>誠摯邀請消費者參加 <span class='graphik-light'>Smartscooter™</span> 智慧雙輪試騎活動，共同體驗智慧城市新型態的移動方式！</p>

                        <small>[1]<span class='graphik-light'>Gogoro</span>保留隨時修改本活動內容、暫停或取消本活動之權利，不另行通知。相關詳情請見官方網頁(<a href="http://www.gogoro.com/tw/book-a-ride" target="_blank">www.gogoro.com/tw/book-a-ride</a>)說明。</small><br />

                        <small>[2]Uber所提供之免費路線僅限於至「見‧試<span class='graphik-light'>Gogoro</span> @臺北101」活動地點。</small>

                        <h3>關於 <span class='graphik-semibold'>Gogoro</span></h3>

                        <p>成立於 2011， <span class='graphik-light'>Gogoro</span> 矢志透過網路和科技的力量，重新創造人們的能源體驗，促使全世界大型都會逐步轉型成為智慧城市。2015年1月，<span class='graphik-light'>Gogoro</span> 推出 <span class='graphik-light'>Smartscooter™</span> 智慧雙輪──全世界第一個高性能、可交換電池的智慧電動雙輪交通工具，以及先進的電池交換設施──<span class='graphik-light'>Gogoro</span>® 能源網路。<span class='graphik-light'>Gogoro</span> 希望透過更自主、更智慧的個人能源使用方式，帶領大家向未來快步前進，共同創造更好的明天。</p>

                            </article>

                    <div id="social-share">
                        <label>Share</label>
                        <ul class="list-inline">
                            <li><a href="#" target="_blank" id="social-share-twitter"><i class="fa fa-twitter-square"></i></a></li>
                            <li><a href="#" target="_blank" id="social-share-facebook"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#" target="_blank" id="social-share-google"><i class="fa fa-google-plus-square"></i></a></li>
                            <li><a href="#" target="_blank" id="social-share-linkedin"><i class="fa fa-linkedin-square"></i></a></li>
                        </ul>
                    </div>
                </div><!--/.col-md-7 -->
            </div><!--/.row -->
        </div><!--/.container -->
    </section><!--/.main-section -->
</div>
