<article>
    <!--配件安裝手冊 - 鋁合金踏墊-->
    <h2>Accessory Installation Guide - Floor Guard Aluminum</h2>
    <h3>Content in the package</h3>

    <table class="table">
        <thead>
            <tr>
                <td>No.</td>
                <td>Item</td>
                <td>Quantity</td>
            </tr>
        </thead>

        <tr>
            <td>1</td>
            <td>Aluminum Floor Guard</td>
            <td>1</td>
        </tr>

        <tr>
            <td>2</td>
            <td>Rubber Washer - RF</td>
            <td>1</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Rubber Washer - LF</td>
            <td>1</td>
        </tr>

        <tr>
            <td>4</td>
            <td>Rubber Washer - RR</td>
            <td>1</td>
        </tr>

        <tr>
            <td>5</td>
            <td>Rubber Washer - LR</td>
            <td>1</td>
        </tr>

        <tr>
            <td>6</td>
            <td>Hex Head Cap Screw M8*30 mm</td>
            <td>4</td>
        </tr>
    </table>

    <h3>Tools needed</h3>
    <ul>
        <li>8 mm Allen Key</li>
    </ul>

    <h3>Installation</h3>


    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <figure>
                <img src="//images.gogoroapp.com/support/installation/Acc_Aluminum_0725.png" alt="gogoro" />
            </figure>
        </div>
    </div>


    <ol>
        <li>
            Remove the covers with a plastic crowbar.
            <br>
            a. Do not use sharp or metal objects as they might damage the surface of your Smartscooter™.
            <br>
            b. If you intend to reinstall the covers, please note that every cover has a designated position: LF, RF, LR, RR. LF means left-front, and RR means right-rear.
        </li>

        <li>Place the Rubber Washers  (2) (3) (4) (5) into the designated mounting pits. Please note that every Rubber Washer has a designated position: LF, RF, LR, RR. LF means left-front, and RR means right-rear.
</li>

        <li>Put the Floor Guard (1) on the installation position and align it with the Rubber Washers  (2) (3) (4) (5). Please note that the Floor Guard is directional.
</li>

        <li>Affiix the Floor Guard (1) with 4 screws (2). The suggested torque is 19 - 25 Nm.
</li>

    </ol>

</article>
