<article>
    <!--配件安裝手冊 - 安全帽收納套繩-->
    <h2>Accessory Installation Guide - Helmet Strap</h2>
    <h3>Content in the package</h3>

    <table class="table">
        <thead>
            <tr>
                <td>No.</td>
                <td>Item</td>
                <td>Quantity</td>
            </tr>
        </thead>

        <tr>
            <td>&nbsp;&nbsp;1</td>
            <td>Helmet Strap</td>
            <td>&nbsp;&nbsp;1</td>
        </tr>


    </table>

    <h3>Tools needed</h3>
    <ul>
        <li>None</li>

    </ul>

    <h3>Installation</h3>

    <ol>
        <li>
            Helmet Strap on the helmet hook in the trunk.
        </li>

        <li>D-ring of your helmet, fold the Helmet Strap and loop the other end on the helmet hook as well.
</li>

        <li>Close the seat and your helmet can now hang on your Smartscooter™.
</li>



    </ol>

</article>
