<!--用智慧鑰匙解鎖與上鎖-->
<article>
    <h2>Locking and unlocking</h2>

    <p>
        Simply press the button on the wireless iQ System™ Smart Key (featuring Bluetooth and passive NFC) to easily lock or unlock your Smartscooter™ from a few meters away.

    </p>

    <div class="row before_icon">

        <div class="col-lg-6 col-md-6 hidden-sm hidden-xs">
            <h2>Front</h2>
            <figure><img src="//images.gogoroapp.com/support/LockingAndUnlocking1.png" alt="gogoro"></figure>
        </div>

        <div class="col-lg-6 col-md-6 hidden-sm hidden-xs">
            <h2>Back</h2>
            <figure><img src="//images.gogoroapp.com/support/LockingAndUnlocking2.png" alt="gogoro"></figure>
        </div>
    </div>

    <div class="hidden-lg hidden-md">
        <h2>Front</h2>
        <figure><img src="//images.gogoroapp.com/support/LockingAndUnlock1_mobile.png" alt="gogoro"></figure>
        <h2>Back</h2>
        <figure><img src="//images.gogoroapp.com/support/LockingAndUnlock2_mobile.png" alt="gogoro"></figure>
    </div>

    <h3>Unlocking</h3>
    <div class="before_icon">
        <p>
            If your Smartscooter™ is locked, press the button on the iQ System™ Smart Key to unlock it.
            The headlight and taillight will flash, an audible tone will sound, the handlebar will be unlocked and the dashboard will light up to confirm the unlocking command.
        </p>

        <!--Note-->
        <ul class="support-dialogue support-note">
            <li>
                If no further action is taken after unlocking for a period of 3 minutes, the iQ System™ Smart Key will lock the Smartscooter™.
            </li>
        </ul>
        <ul class="support-dialogue support-note">
            <li>
                Every time when you unlock the Smartscooter™, before you ride, turn the handle bar all the way to the left end and make sure the handle bar lock is successfully unlocked.
            </li>
        </ul>

        <h3>Locking</h3>
        <p>
            If the Smartscooter™ is unlocked, press the button on the iQ System™ Smart Key to lock it.
            The headlight and taillight will flash, an audible tone will sound, the handlebar will be locked and the dashboard will dim to confirm the locking command.

        </p>
        <!--Note-->
        <ul class="support-dialogue support-note">
            <li>
                The Adjustable Headlight Off Delay feature allows the headlight to be turned off a few seconds after the Smartscooter™ is locked (the default time is 10 seconds).
            </li>
        </ul>

        <ul class="support-dialogue support-note">
            <li>
                Every time when you lock the Smartscooter™, turn the handle bar all the way to the left end and make sure the handle bar lock is successfully locked.
            </li>
        </ul>

        <ul class="support-dialogue support-note">
            <li>
                Strong radio signal sources, e.g. cell phone base stations, might interfere with the iQ System™ Smart Key, and shorten its effective range. This is not a malfunction of the iQ System™ Smart Key. If this happens, just place it near the center of the faceplate and press it firmly.

            </li>
        </ul>

        <h3>Opening the luggage compartment</h3>
        <ol class="before_icon">
            <li>
                If the Smartscooter™ is locked, press and hold the button on iQ System™ Smart Key for 2 seconds to open the seat and unlock the luggage compartment.

            </li>
            <li>
                If the Smartscooter™ is already unlocked and not on the move, press and hold the button on iQ System™ Smart Key for 2 seconds, or press the <img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/before_icon06.png"> “seat opening” button to open the seat and unlock the luggage compartment.

            </li>
        </ol>
        <!--Note-->
        <ul class="support-dialogue support-note">
            <li>
                Sometimes the seat doesn't open automatically, e.g. when the luggage compartment is too full and the seat is pushed upwards by the contents. In such situations, please use your hand to push down firmly on the tail of the seat, and press and hold the button on iQ System™ Smart Key for 2 seconds, or press the<img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/before_icon06.png">  “seat opening” button, release or lift the seat when you hear the “Click” sound, and the seat will open.
            </li>
            <li>
                The luggage compartment can’t be opened while on the move.

            </li>

        </ul>

        <ul class="support-dialogue support-warning">

            <li>
                error warning lights up for 10 seconds, and the Smartscooter™ cannot be started with the luggage compartment open. Please make sure it’s securely closed before unlocking again.
            </li>
        </ul>
        <h3>Hibernation mode</h3>
        <ol class="before_icon">
            <li>
                The Smartscooter™ enters hibernation mode under the following circumstances:
                <br>(a) When the battery level is too low (the last bar on battery display disappears), and the Smartscooter™ is locked over 3 minutes.

                <br>(b) When left idle for over 2 weeks.




            </li>
            <li>
                The Smartscooter™ doesn’t receive any commands from the iQ System™ Smart Key when in hibernation mode.
            </li>
            <li>
                You can release the Smartscooter™ from hibernation mode with a 3 second long press on the <img src="//images.gogoroapp.com/support/BeforeYouHitTheRoad/1_7_20.png"> “Start” button.

            </li>
            <li>
                The lights on the handlebar switches will flash for several seconds to confirm release from hibernation mode.

            </li>
            <li>
                With hibernation mode deactivated, you can use the iQ System™ Smart Key to unlock the Smartscooter™.

            </li>
        </ol>
        <h3>
            Owner identification
        </h3>
        <p>
            In addition to locking and unlocking, the iQ System™ Smart Key is also capable of confirming its owner’s identity via NFC (Near Field Communication). Simply touch the sensing area at any GoStation®  with the IQ System Smart Key to identify yourself. (Please refer to Chapter 4 for battery exchange details.)
        </p>
        <h3>
            Battery level of iQ System™ Smart Key
        </h3>
        <p>
            Each Smartscooter™ comes with two sets of iQ System™ Smart Keys. Your smartphone Gogoro App or GoStation® will inform you when the battery of the Smart Key you are using is low. Please switch to the second one and send the first one to Gogoro’s service center for battery replacement (premium service).
        </p>
        <!--警告-->
        <ul class="support-dialogue support-warning">
            <li>
                Warranty will be void if you disassemble your iQ System™ Smart Key.
            </li>
        </ul>
        </div>
</article>
