<div class="border-right border-fade-down">
    <ul class="nav nav-pills-gogoro">

        <li {% if page.action == 'before' %} class="active" {% endif %} class="UserManual_Dropdown">
            <a href="/support/before-you-hit-the-road">Before You Hit the Road</a>
            <ul class="UserManual_Dropdown_link  before_you_hit_the_road_ul">
                <li id="Safety_notice">Safety notice</li>
                <li id="24H_roadside_assistance">24H roadside assistance</li>
                <li id="Names_and_functions">Names and functions</li>
                <li id="MicroDotDNA_code">MicroDotDNA code</li>
                <li id="Left_handle_switch">Left handle switche</li>
                <li id="Right_handle_switch">Right handle switche</li>
                <li id="Dashboard_information">Dashboard information</li>
            </ul>
        </li>
        <li {% if page.action == 'locking' %} class="active" {% endif %}><a href="/support/locking-and-unlocking">Locking and Unlocking</a></li>
        <li {% if page.action == 'moving' %} class="active" {% endif %}><a href="/support/moving-and-stopping">Moving and Stopping</a>
            <ul class="UserManual_Dropdown_link moving_and_stopping_ul">
                <li id="Startup_and_takeoff">Startup and takeoff</li>
                <li id="Regenerative_Braking">Regenerative Braking</li>
                <li id="Reversing">Reversing</li>
                <li id="Motor_shutoff_and_locking_scooter">Motor shutoff and locking scooter</li>
                <li id="Smart_Mode">Smart Mode</li>
                <li id="Smart_Mode_on">Smart Mode on</li>
                <li id="Smart_Mode_off">Smart Mode off</li>
                <li id="Super_Boost_Mode">Super Boost Mode</li>
                <li id="Smart_Climbing_Mode">Smart Climbing Mode</li>
                <li id="Low_Energy_Mode">Low Energy Mode</li>
                <li id="Overheat_Protection_Mode">Overheat Protection Mode</li>
                <li id="Fall_down_protection">Fall down protection</li>
            </ul>
        </li>
        <li {% if page.action == 'battery' %} class="active" {% endif %}><a href="/support/battery-exchange">Battery Exchange</a></li>
        <li {% if page.action == 'smartphone' %} class="active" {% endif %}><a href="/support/smart-phone-app-and-personalization">Smart Phone App and Personalization</a></li>
        <li {% if page.action == 'maintenance' %} class="active" {% endif %}><a href="/support/maintenance">Maintenance</a></li>
        <li {% if page.action == 'troubleshooting' %} class="active" {% endif %}><a href="/support/common-problems-and-troubleshooting">Troubleshooting</a></li>
    </ul>
    <ul class="nav nav-pills-gogoro second_nav">
        <li {% if page.action == 'installation' %} class="active" {% endif %}><a href="/support/installation">Accessories</a></li>

    </ul>

    <ul class="nav nav-pills-gogoro second_nav">
        <li {% if page.action == 'productWarrantyPolicies' %} class="active" {% endif %}><a href="/support/productWarrantyPolicies">Product Warranty Policies</a></li>
    </ul>

         <p class="margin-left-15">Call Center: <br>0800-365-996</p>
</div>
