<!--ch1產品保固政策-->
<article>
   <h2>Product warranty policies</h2>
   <h3>Warranty coverage</h3>
   <ul>
       <li>
           New Gogoro Smartscooters™ sold through designated official service centers or authorized dealers are provided with warranty services free of charge if the following conditions are satisfied: 1. the vehicle has been operated and regularly serviced as instructed by the owners’ manual; 2. defects, malfunctions, anomalies, damages or similar conditions are found within the warranty period; 3. the designated service staff inspects the vehicle and confirms that it is eligible for and covered by the warranty. Gogoro has sole discretion to provide warranty services through official service providers or authorized dealers. The replaced (including but not limited to) parts become property of Gogoro or its authorized dealers (“warranty coverage” thereafter).

       </li>
   </ul>
   <h3>
       Warranty period
   </h3>
   <ul>
       <li>
           Two (2) years with no specific mileage limit for Gogoro Smartscooters™ (“warranty period” thereafter). The warranty period starts on the date of registration in the customer information system by Gogoro or its authorized dealer.
       </li>
   </ul>
   <h3>
       In the following situations, Gogoro reserves the right to void a part or all of the warranty coverage
   </h3>
   <ul>
       <li>
           Defects, malfunctions, anomalies, damages or similar conditions caused by natural disasters, accidents, turmoil, wars, riots or other force majeure.

       </li>
       <li>
           Conditions (e.g. noise, vibration, oil leakage, faded exterior color and rust on metal parts, etc.) with no impact on overall performance or normal usage of Smartscooter™.

       </li>
       <li>
           Consumables such as oils, belts, braking pads and tires.


       </li>
       <li>
           Defects, malfunctions, anomalies, damages or other adversities caused by air pollution, bird droppings, oxidization, weathering, sulfur, salts, chemical agents or similar substances.


       </li>
       <li>
           Any situation that leads to withdrawal or limitation of warranty coverage that becomes known to Gogoro or its authorized dealers.
       </li>
   </ul>
   <h3>
       In the following situations, warranty coverage will be void and Gogoro or its authorized dealers reserve the right to withdraw or limit a part or all of the warranty coverage (“cause of warranty withdrawal/limit”
   </h3>
   <ul>
       <li>
           Defects or malfunctions caused by failure to perform regular services.

       </li>
       <li>
           Defects, malfunctions, anomalies, damages or similar adversities caused by employment of oil products and parts that are not authentic Gogoro or not within the designated specifications.


       </li>
       <li>
           Defects, malfunctions, anomalies, damages or similar adversities caused by receiving services in places other than Gogoro official service centers or authorized dealers.


       </li>
       <li>
           Defects, malfunctions, anomalies, damages or similar adversities caused by acrobatic performance, racing or riding on surfaces other than usual paved roads.
       </li>
       <li>
           Difficulties caused by commercial or business usages, rental services or other situations that allow access by uncertain riders.


       </li>
       <li>
           Difficulties caused by modification or removal of bar codes, parts or accessories.

       </li>
       <li>
           Difficulties caused by modification, disassembly, addition or alternation to the original design.


       </li>
       <li>
           Damage, removal or alternation to the warranty seal; or the warranty identification labels being torn or damaged beyond recognition.

       </li>
       <li>
           Expansion or deterioration of defects, malfunctions, anomalies, damages or other adversities due to delayed delivery for service or warranty claim by the owner.

       </li>
   </ul>
   <h3>
       Effective period of warranty
   </h3>
   <ul>
       <li>
           The user or owner should deliver the Gogoro Smartscooter™ with defects, malfunctions, anomalies, damages or other adversities for service. Delivery occurs after the end of warranty period or fails to meet warranty requirement, which leads to ineligibility for service applications, is deemed as the owner surrendering rights to the warranty coverage, upon which Gogoro or its authorized dealers are not obliged to providing warranty services.

       </li>
   </ul>
   <h3>
       Applicable areas
   </h3>     <ul>
       <li>
           Taiwan, Penghu Islands, Kinmen and Matsu where Gogoro Smartscooters™ are sold.

       </li>
   </ul>
   <h3>
       Provision of warranty services

   </h3>
   <ul>
       <li>
           Gogoro reserves the right to decide whether the warranty services are provided by itself or commissioned third-party agents. Warranty services are principally provided by designated Gogoro official service centers or authorized dealers in their respective facilities.
       </li>
       <li>
           Vehicle registration ID or documents are required for warranty service claims.

       </li>
       <li>
           Gogoro and its authorized dealers are not responsible for additional expenses or compensation caused by warranty service claims, such as replacement vehicle rental, telephone, fax and transportation charges.

       </li>
   </ul>
   <!--note-->
   <ul class="support-dialogue support-note">
       <li>
           Gogoro does not guarantee the availability of its official service centers or authorized dealers in your area.


       </li>
       <li>
           Gogoro does not guarantee that all its official service centers or authorized dealers are capable of providing complete warranty coverage or time required for the related services. All or part of the warranty coverage may be available only in certain official service centers or authorized dealers. Please call to inquire and make an appointment before proceeding to the service facilities.

       </li>
   </ul>
</article>
