<article>
    <!--配件安裝手冊 - 燻黑造型風鏡-->
    <h2>Accessory Installation Guide - Visor - Smoke</h2>
    <h3>Content in the package</h3>

    <table class="table">
        <thead>
            <tr>
                <td>No.</td>
                <td>Item</td>
                <td>Quantity</td>
            </tr>
        </thead>

        <tr>
            <td>1</td>
            <td>Visor - Smoke</td>
            <td>1</td>
        </tr>

        <tr>
            <td>2</td>
            <td>Washers</td>
            <td>2</td>
        </tr>
    </table>

    <h3>Tools needed</h3>
    <ul>
        <li>14 mm Open-end wrench</li>
    </ul>

    <h3>Installation</h3>
    <figure><img src="//images.gogoroapp.com/support/installation/Acc_Visor_0725.png" alt="gogoro" /></figure>
    <ol>
        <li>Remove mirrors with the wrench.</li>
        <li>Put the visor at the front of the dashboard, and align it with the mirror screw pits.</li>
        <li>Place the washers in the screw pit of the visor.</li>
        <li>Re-install the mirrors. Suggested torque for the screws: 22 Nm.</li>

    </ol>
</article>
