<article>
    <!--配件安裝手冊 - 防滑踏墊-->
    <h2>Accessory Installation Guide - Tough Mat</h2>
    <h3>Content in the package</h3>

    <table class="table">
        <thead>
            <tr>
                <td>No.</td>
                <td>Item</td>
                <td>Quantity</td>
            </tr>
        </thead>

        <tr>
            <td>1</td>
            <td>Tough Mat</td>
            <td>1</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Hex Head Cap Screw M8*2 mm</td>
            <td>4</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Screw Cover</td>
            <td>4</td>
        </tr>
    </table>

    <h3>Tools needed</h3>
    <ul>
        <li>Plastic Crowbar</li>
        <li>8 mm Allen Key</li>
    </ul>

    <h3>Installation</h3>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <figure>
            <img src="//images.gogoroapp.com/support/installation/Acc_Rubber_0725.png" alt="gogoro" />
        </figure>
    </div>
    <ol>
        <li>Remove the covers with the plastic crowbar.<br>
            a. Do not use sharp or metal objects as they might damage the surface of your Smartscooter&trade;.<br>
            b. If you intend to reinstall the covers, please note that every cover has a designated position: LF, RF, LR, RR. LF means left-front, and RR means right-rear.
        </li>
        <li>Place the tough mat on the foot position for installation. Please note that the tough mat is directional.</li>
        <li>Nm。Fix the tough mat (1) with 4 screws (2). The suggested torque is 19 - 25 Nm.</li>
        <li>Put the screw covers (3) over the screw openings, twist them clockwise to secure.</li>

    </ol>
</article>
