
<article class="turn_assist_light">
    <h2>Turn Assist Light</h2>


    <h3>Installation</h3>
    <p>If your Gogoro Smartscooter™ is not equipped with Turn Assist Lights, you may purchase them at Gogoro Service Center and ask the technicians to install them for you.</p>

    <h3>Activation</h3>
    <p>When the Turn Assist Lights are installed, Gogoro Service Center will set up server authentication (about 10 minutes needed).</p>
    <ul>
        <li>After authentication is confirmed, the new function of choosing lighting pattern will show up in the Gogoro App after refresh. There is no need to restart the App or log in again.</li>
        <li>The Turn Assist Lights will start working after your next battery exchange.</li>
    </ul>

    <ul class="support-dialogue support-note">
        <li> If a user exchanges batteries soon after the Turn Assist Lights are installed, it is possible that the server is still processing the authentication and has not yet transferred data to the batteries. In this case, the user will have to exchange batteries again a few minutes later.</li>
    </ul>

    <h3>Lighting behavior</h3>

    <p>Smartscooter™ Status : Unlocked</p>
    <ul>
        <li>Daytime (Sufficient ambient light) : Flash along with the unlock animation and then turn off.</li>
        <li>Night time (dark environment) : On</li>
    </ul>

    <p>Smartscooter™ Status:Motor is activated, on the run, motor is off and turns into unlock mode</p>
    <ul>
        <li>Daytime (Sufficient ambient light):Off</li>
        <li>
            According to user’s Gogoro App setting
            <ul>

                <li> Mode 1 (default): Normally off. When the turn signal is flashing, the Turn Assist Light on the same side will be on constantly.</li>
                <li> Mode 2 : Always on.</li>
                <li> Mode 3 : Normally on, when user hits the brake and stops, Turn Assist Lights will be flashing along with the pulsating frequency of LED position lights.</li>
            </ul>
        </li>
    </ul>

    <p>Smartscooter™ Status:Locked</p>
    <ul>
        <li>Daytime (Sufficient ambient light):Off</li>
        <li>
            Night time (dark environment):
            <ul>
                <li>Off</li>
                <li>If user has set the delayed headlight off function, it will be off along with the headlight after set amount of seconds.</li>
            </ul>
        </li>
    </ul>

</article>
