/* ====================================
   Site colors
   ==================================== */
/*
   Brand colors
   ====================================
   White / Light Gray = Fresh and Clean Charcoal / Gray / Dark Gray = Bold and Direct Rich Blue = Performance
   Blue = Experience
   Teal = Style
   Dark Green = Value
   Green = Eco / Environment
   Hot Green = Community
   Red = Warning
*/
/* ====================================
 * Mixins and functions
 * ==================================== */
/* Media queries
 * ==================================== */
/* Usage: @include breakpoint(sm) {} */
/* Mixins and functions
 * ==================================== */
/* Usage: @include linearGradient() {} */
/* Usage: @include placeholder() {} */
/* Usage: @include border-radius(5px) */
/* Usage: @include opacity(0.8) */
/* Usage: @include center-block */
/* Usage: @include text-truncate  */
/* Extends
 * ==================================== */
/* Variables
 * ==================================== */
/* Mixins and functions
 * ==================================== */
.module-smarter-6-smart-battery {
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
  background-color: #eee;
  color: #323237;
  z-index: 100; }
  .module-smarter-6-smart-battery:before {
    content: "";
    float: left; }
  .module-smarter-6-smart-battery:after {
    content: "";
    display: table;
    clear: both; }
  .module-smarter-6-smart-battery .container {
    position: relative;
    height: 100%; }
  @media (min-width: 768px) and (max-width: 991px) {
    .module-smarter-6-smart-battery {
      height: auto;
      padding: 0 0 48px; } }
  @media (max-width: 767px) {
    .module-smarter-6-smart-battery {
      height: auto;
      padding: 0 0 48px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .module-smarter-6-smart-battery .vertical-center-flex {
      display: block; } }
  @media (max-width: 767px) {
    .module-smarter-6-smart-battery .vertical-center-flex {
      display: block; } }
  .module-smarter-6-smart-battery .background-image-container {
    position: relative;
    z-index: 0; }
  .module-smarter-6-smart-battery .background-image {
    display: block;
    width: 610px;
    height: 600px;
    z-index: 0;
    position: relative;
    top: 0;
    left: -65px; }


.module-smarter-6-smart-battery .background-image img.fallback{
    display: none;
}



@media (min-width: 768px) and (max-width: 991px) {
    .module-smarter-6-smart-battery .background-image {
        width: 140%;
        height: auto;
        position: static;
        margin-left: -20%;
        margin-bottom: 48px;
    }
    .module-smarter-6-smart-battery .background-image img.standard{
        display: none;
    }
    .module-smarter-6-smart-battery .background-image img.fallback{
        display: block;
    }
}
@media (max-width: 767px) {
    .module-smarter-6-smart-battery .background-image {
        width: 140%;
        height: auto;
        position: static;
        margin-left: -20%;
        margin-bottom: 48px;
    }
    .module-smarter-6-smart-battery .background-image img.standard{
        display: none;
    }
    .module-smarter-6-smart-battery .background-image img.fallback{
        display: block;
    }
}


  .module-smarter-6-smart-battery p {
    margin-bottom: 0; }
