.module-open-2-connect {
    background: url(/img/gen/open/Hubspot_0106.jpg) #000000 no-repeat;
    background-size: cover;
    background-position: center center;
    color: #FFF;
    min-height: 540px;
}

.module-open-2-connect .text-content {
    padding-top: 160px;
}

@media (max-width: 566px) {
	.module-open-2-connect {
		background: #F8F8F8;
	}
	.module-open-2-connect .mobile {
		display: block !important;
		padding: 0;
	}
	.module-open-2-connect .text-content {
		padding-top: 30px;
		padding-bottom: 30px;
		color: #323237;
		width: 100%;
	}
	.module-open-2-connect .hidden-mobile {
		display: none !important;
	}
}
