<div class="tabbar-container" tabbar data-current-action="{{ page.action }}">
    <div class="tabbar-wrapper collision">
        <div class="tabbar collision-reposition" data-position-top="80">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-xs-12">
                        <a class="faster" data-action-name="faster" href="/tw/en/smartscooter/Faster"><span>Faster</span> <i class="icon-arrow-down icon"></i></a>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <a class="smarter" data-action-name="smarter" href="/tw/en/smartscooter/Smarter"><span>Smarter</span> <i class="icon-arrow-down icon"></i></a>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <a class="easier" data-action-name="easier" href="/tw/en/smartscooter/Easier"><span>Easier</span> <i class="icon-arrow-down icon"></i></a>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <a class="customize" data-action-name="customize" href="/tw/en/smartscooter/Customize"><span>All You</span> <i class="icon-arrow-down icon"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
