<section class="navigation-topbar visible-sm visible-xs">
    <div class="container">
        <div id="page-navigation" class="row">
            <ul class="nav nav-pills-gogoro">
                <li {% if page.action == 'index' %} class="active" {% endif %}><a href="/tw/en/press/">Press Releases</a></li>
                <li {% if page.action == 'news' %} class="active" {% endif %}><a href="/tw/en/press/news-coverage/">News Coverage</a></li>
                <li {% if page.action == 'gallery' %} class="active" {% endif %}><a href="/tw/en/press/gallery/">Image Gallery</a></li>
                <li {% if page.action == 'videos' %} class="active" {% endif %}><a href="/tw/en/press/videos/">Videos</a></li>
                <li {% if page.action == 'media' %} class="active" {% endif %}><a href="/tw/en/press/media-kit/">Media Kit</a></li>
            </ul>
        </div>
    </div>
</section>
