.module-charger-6-iphone {
    background: url(/img/gen/gocharger/iphone.png) #000000 no-repeat;
    background-size: cover;
    background-position: center center;
    color: #FFF;
    height: 800px;
    position: relative;
}

.module-charger-6-iphone .text-content {
	padding: 265px 50px 0 100px;
}

.module-charger-6-iphone video {
	transform: rotate(-13.3deg);
	position: absolute;
	left: 50%;
	top: -20px;
	margin-left: -472px;
	width: 329px;
}
.module-charger-6-iphone video.fallback {
	display: none;
}
@media (max-width: 767px) {
    .module-charger-6-iphone {
		color: #26262E;
		background: none;
		height: auto;
	}
	.module-charger-6-iphone .text-content {
    	padding: 50px 40px;
    }
}