<div class="tabbar-container" tabbar data-current-action="{{ page.action }}">
    <div class="tabbar-wrapper collision">
        <div class="tabbar collision-reposition" data-position-top="80">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-xs-12">
                        <a class="faster" data-action-name="faster" href="/tw/smartscooter/faster"><span>更快速</span> <i class="icon-arrow-down icon"></i></a>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <a class="smarter" data-action-name="smarter" href="/tw/smartscooter/smarter"><span>更智慧</span> <i class="icon-arrow-down icon"></i></a>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <a class="easier" data-action-name="easier" href="/tw/smartscooter/easier"><span>更簡單</span> <i class="icon-arrow-down icon"></i></a>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <a class="customize" data-action-name="customize" href="/tw/smartscooter/customize"><span>隨心所欲</span> <i class="icon-arrow-down icon"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
