<div id="ie-upgrade-box">
    <div class="ie-upgrade-box-content">
        <h2>請更新你的瀏覽器</h2>
        <div class="ie-upgrade-box-body">
            <p>
                我們建議你使用 Google Chrome 或最新版本的 Mozilla Firefox，以瀏覽最完整的 gogoro.com。雖然 gogoro.com 支援大多數的瀏覽器，但是有部分的多媒體內容無法在比較舊的瀏覽器上順利播放，比如說 IE 10 以及更舊的版本。
            </p>
            <p> 請選擇以下按鈕進入下載畫面</p>
            <ul>
                <li>
                    <a target="_blank" href="https://www.google.com/chrome/browser/desktop/">
                        <i class="browser browser--chrome"></i>
                        Chrome
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.mozilla.org/en-US/firefox/new/">
                        <i class="browser browser--firefox"></i>
                        FireFox
                    </a>
                </li>
                <li class="last">
                    <a target="_blank" href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                        <i class="browser browser--ie11"></i>
                        IE11
                    </a>
                </li>
            </ul>
            <a href="#" id="btn-close-ie-alert-box" class="btn btn-outline">我不想更新瀏覽器</a>
        </div>
    </div>
</div>
