<div class="border-right border-fade-down">
    <ul class="nav nav-pills-gogoro">
        <li {% if page.action == 'index' %} class="active" {% endif %}><a href="/tw/press/">新聞稿</a></li>
        <li {% if page.action == 'global' %} class="active" {% endif %}><a href="/tw/press/globalnews/">國際媒體報導</a></li>
        <li {% if page.action == 'news' %} class="active" {% endif %}><a href="/tw/press/news-coverage/">媒體報導</a></li>
        <li {% if page.action == 'gallery' %} class="active" {% endif %}><a href="/tw/press/gallery/">圖片下載</a></li>
        <li {% if page.action == 'videos' %} class="active" {% endif %}><a href="/tw/press/videos/">影片下載</a></li>
        <li {% if page.action == 'media' %} class="active" {% endif %}><a href="/tw/press/media-kit/">媒體檔案</a></li>
    </ul>
    <p class="margin-left-15">連絡我們:<br /> <a href="mailto:press@gogoro.com">press@gogoro.com</a></p>
</div>
