---
layout: en-tw/LayoutMaster
style: |
    <link rel="stylesheet" href="/css/press.css">
scripts: |
    <script src="/js/press.js"></script>
meta: |
    <meta property="og:title" content="Gogoro Announces New Investors Including Panasonic And The National Development Fund Of Taiwan, Gogoro Has Raised More Than $180 Million In Total Capital" />
    <meta property="og:type" content='website' />
    <meta property="og:url" content="http://www.gogoro.com/tw/en/press/releases/2015-11-13-gogoro-df-panasonic-funding" />
    <meta property="og:description" content="Gogoro, an innovative technology company transforming how energy is distributed and managed in megacities, today announced it had closed its Series B equity financing round with approximately $130 million that was led by Ruentex Group Chairman Dr. Samuel Yin and includes new investments from Panasonic Corporation, the National Development Fund of Taiwan, and others.  Panasonic, one of the leading companies in battery innovation and a supplier of Gogoro battery cells, is the first strategic investor in Gogoro.  Gogoro has raised more than $180 million in total equity funding since it was founded in 2011." />
    <meta property="og:image" content="http://images.gogoroapp.com/press/gogoro.png" />
    <meta property="og:site_name" content="Gogoro" />
---

<div class="pg-press" data-state="Press">
    <section id="hero-header">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                    <h1>Press</h1>
                </div>
            </div>
        </div>
    </section>

    {% include en-tw/PressSmallSizesMenuPartial.html %}

    <section class="main-section" data-state="Press">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-md-offset-0 col-sm-10 col-sm-offset-1 hidden-sm hidden-xs press-sidebar">
                    {% include en-tw/PressLargeSizesMenuPartial.html %}
                </div>

                <div class="col-md-7 col-md-offset-0 col-xs-12 press-main">
                    <article>
                        <p><strong>TAIPEI, TAIWAN | NOVEMBER 13, 2015</strong></p>

                        <h2>Gogoro Announces New Investors Including Panasonic And The National Development Fund Of Taiwan, Gogoro Has Raised More Than $180 Million In Total Capital</h2>

                        <p><i>$130 Million in Series B Funding to Propel Gogoro’s Expansion Into New Markets and Categories</i></p>

                        <p>TAIPEI, TAIWAN ─ November 13, 2015 ─ Gogoro, an innovative technology company transforming how energy is distributed and managed in megacities, today announced it had closed its Series B equity financing round with more than $130 million that was led by Ruentex Group Chairman Dr. Samuel Yin and includes new investments from Panasonic Corporation, the National Development Fund of Taiwan and others.  Panasonic, one of the leading companies in battery innovation and a supplier of Gogoro battery cells, is the first strategic investor in Gogoro. Gogoro has raised more than $180 million in total equity funding since it was founded in 2011.</p>
                        <p>“We are proud to welcome our new investment partners, they share a similar vision for how we can transform and manage energy more efficiently in mega cities.  Panasonic, the National Development Fund of Taiwan and other new investors are committed to driving positive change in cities around the world,” said Horace Luke, co-founder and CEO of Gogoro. “In 2011, we set out to establish a company that could be a key driver in igniting the smart city transformation of mega cities by changing how energy is managed and distributed.  Today, we have sold close to 2,000 SmartscooterTM EVs and deployed nearly 90 GoStations® across Greater Taipei, making the Gogoro Energy Network the most active and sophisticated battery swapping system in the world.”</p>
                        <p>Dr. Samuel Yin is a current Gogoro Board Member and the major shareholder.  Being one of Asia's most successful entrepreneurs, Dr. Yin’s diverse business ventures include retail, sustainable technology, healthcare, financial services, property development and textiles.  In addition to his successful business ventures, Dr. Yin is one of only a few Asians to commit to the Warren Buffett and Bill Gates Giving Pledge and has recently established the Tang Prize, a set of international awards for individual achievements in Biopharmaceutical Science, Rule of Law, Sinology and Sustainable Development.</p>
                        <p>The National Development Fund of Taiwan was established in 1973 by Taiwan’s Cabinet to invest in major Taiwan finance enterprises and start-up projects in industrial infrastructure; assist in the development of small and medium sized enterprises through financing and also introduce technological research and development in order to strengthen Taiwan’s overall competitive advantage. The Fund primarily invests in semiconductor, optoelectronic, telecommunication, financial service, precision machinery, transportation infrastructure, biotechnology, aerospace, digital content, information, and cultural innovation sectors.</p>

                        <h3>About Gogoro</h3>
                        <p>Founded in 2011, Gogoro is putting energy into things that matter. With a mission to deliver consumer innovations that will improve how the world’s most populated cities distribute and utilize energy, the company is enabling the transformation of megacities into smart cities. Gogoro is working toward a better future by putting power in the hands of everyone – to move us all forward, faster. For more information, go to <a href="/tw/en/press/">www.gogoro.com/press.</a></p>

                    </article>

                    <div id="social-share">
                        <label>Share</label>
                        <ul class="list-inline">
                            <li><a href="#" target="_blank" id="social-share-twitter"><i class="fa fa-twitter-square"></i></a></li>
                            <li><a href="#" target="_blank" id="social-share-facebook"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#" target="_blank" id="social-share-google"><i class="fa fa-google-plus-square"></i></a></li>
                            <li><a href="#" target="_blank" id="social-share-linkedin"><i class="fa fa-linkedin-square"></i></a></li>
                        </ul>
                    </div>
                </div><!--/.col-md-7 -->
            </div><!--/.row -->
        </div><!--/.container -->
    </section><!--/.main-section -->
</div>
