---
layout: en-tw/LayoutMaster
style: |
    <link rel="stylesheet" href="/css/press.css">
scripts: |
    <script src="/js/press.js"></script>
meta: |
    <meta property="og:title" content="Gogoro® Ignites Smart City Transformation with Launch of World’s First Smartscooter™ and Battery Swapping Infrastructure" />
    <meta property="og:type" content='website' />
    <meta property="og:url" content="http://www.gogoro.com/press/2015-03-30-gogoro-announces-taipei-as-pilot-market" />
    <meta property="og:description" content="Gogoro Energy Network enables advanced six second battery swapping; Propels megacity transition toward a more efficient, cleaner and flexible energy future" />
    <meta property="og:image" content="http://www.gogoro.com/about/img/share-logo.png" />
    <meta property="og:site_name" content="Gogoro" />
---

<div class="pg-press" data-state="Press">
    <section id="hero-header">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                    <h1>Press</h1>
                </div>
            </div>
        </div>
    </section>

    {% include en-tw/PressSmallSizesMenuPartial.html %}

    <section class="main-section" data-state="Press">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-md-offset-0 col-sm-10 col-sm-offset-1 hidden-sm hidden-xs press-sidebar">
                    {% include en-tw/PressLargeSizesMenuPartial.html %}
                </div>

                <div class="col-md-7 col-md-offset-0 col-xs-12 press-main">
                    <article>
                        <p><strong>TAIPEI, TAIWAN | MARCH 30, 2015</strong></p>

                        <h2>Gogoro® Announces Taipei As Pilot Market, Smartscooter™ EV Set To Launch This Summer</h2>

                        <p><i>Gogoro Smartscooter™ EV and Gogoro Energy Network to be available in Taipei City and New Taipei City</i></p>

                        <p>Gogoro, an innovative technology company transforming how energy is distributed and managed in megacities, today announced Taipei City and New Taipei City Taiwan as the pilot market for the Gogoro Smartscooter™ electric vehicle and Gogoro Energy Network, set to be available this summer. Gogoro also announced the opening of the Gogoro Experience Center, a flagship store in Taipei's prime shopping district, designed to promote hands-on interaction with the Smartscooter™ EV.</p>

                        <p>Gogoro introduced the Gogoro Smartscooter™ EV and the Gogoro Energy Network earlier this year. The Smartscooter™ EV is the world’s first high-performance, smart electric two-wheel vehicle with swappable batteries. The integrated Gogoro Energy Network is an advanced battery-swapping infrastructure for cities.</p>

                        <p>The Smartscooter EV was designed to capture the hearts and minds of a generation of Taipei scooter riders who want to be catalysts for more efficient, cleaner, and smarter energy choices,” said Horace Luke, co-founder and CEO, Gogoro. “We wanted to launch the Gogoro pilot program in a market that has a strong track record of embracing innovation while also having a high concentration of scooters. Greater Taipei is clearly the ideal market.</p>

                        <h3>Partnerships with Taipei City and New Taipei City</h3>

                        <p>Gogoro’s partnership with Taipei City and New Taipei City will provide consumers with a variety of benefits when purchasing the Gogoro Smartscooter™ EV:</p>

                        <ul>
                            <li>Increased subsidy pool for electric vehicle purchases</li>
                            <li>Broad deployment of the Gogoro Energy Network throughout Greater Taipei</li>
                            <li>Preferred electric vehicle (EV) parking throughout both cities</li>
                        </ul>

                        <p>Taipei City and New Taipei City are taking a progressive approach to city planning and smart city urbanization,” said Luke. “The positive impact of this renewed effort for high-performance electric vehicles in the greater Taipei market will be felt for generations and will be a global example for what the private and public sectors can accomplish when they work together for the greater good of citizens.</p>

                        <h3>Taipei City – Living Lab Project</h3>

                        <p>Taipei City chose Gogoro as the first participant in its recently unveiled Living Lab Project, a program for innovators and entrepreneurs to pilot products and business ideas that can improve the quality of life for residents.</p>

                        <p>Gogoro is introducing a new perspective on a more flexible and sustainable electric refueling system. It is a perfect fit for our new Living Lab Project, and we are excited to be the global pilot city,” said Wen-Je Ko, Mayor, Taipei City. "Deploying the Gogoro Energy Network in Taipei City and incentivizing our citizens to retire traditional gas powered scooters will help shape a healthier, more sophisticated and smart Taipei city.</p>

                        <h3>New Taipei City – The Next Level of Smart City</h3>

                        <p>New Taipei City has made a strong commitment to embrace technology and has become a globally recognized leader in smart urbanization. The Intelligent Community Forum selected it as one of the top seven smart cities in the world in 2014. Gogoro is partnering with New Taipei City to support its transformation to become even smarter.</p>

                        <p>Gogoro is a key element in New Taipei City's plan to realize its potential as an ever growing smart city," said Shen Hsien Chen, Deputy Mayor, New Taipei City. "We are working closely with Gogoro to build a smart energy distribution infrastructure that integrates with our new energy sharing program to give our residents a greater sense of well-being.</p>

                        <h3>Gogoro Experience Center in Taipei</h3>

                        <p>Gogoro’s new Experience Center in Taipei's prime Xinyi shopping district will provide hands-on and highly interactive experiences for consumers to learn about the Smartscooter™ EV through a curated gallery demonstrating Gogoro’s craftsmanship, technology, style and personalization.</p>

                        <h3>About Gogoro</h3>

                        <p>Founded in 2011, Gogoro is enabling the transformation of megacities into smart cities by leveraging the power of connectivity and technology to reinvent how we experience energy in major cities around the world. In January 2015, Gogoro introduced the Gogoro Smartscooter™ EV, the world’s first high-performance, battery swappable, smart electric vehicle together with the Gogoro Energy Network, an advanced battery-swapping infrastructure for cities. Gogoro is working toward a better future by putting power in the hands of everyone – to move us all forward, faster. For more information, go to:<a href="/tw/en/press">www.gogoro.com/press</a></p>

                        <!--   <div id="press-navigation" class="hidden-xs">
                           <a href="#" class="navigate-btn navigate-older">
                             <div class="text">
                               Older
                             </div>
                             <span class="icon"><i class="icon-left"></i></span>
                           </a>
                           <a href="#" class="navigate-btn navigate-newer">
                             <div class="icon">
                               <i class="icon-right"></i>
                             </div>
                             <div class="text">
                               Newer
                             </div>
                           </a>
                         </div>

                         <div id="press-navigation-mobile" class="visible-xs">
                           <a href="#" class="btn btn-outline btn-sm margin-top navigate-older">< Older</a>
                           <a href="#" class="btn btn-outline btn-sm margin-top navigate-newer">Newer ></a>
                         </div>
                        -->
                    </article>

                    <div id="social-share">
                        <label>Share</label>
                        <ul class="list-inline">
                            <li><a href="#" target="_blank" id="social-share-twitter"><i class="fa fa-twitter-square"></i></a></li>
                            <li><a href="#" target="_blank" id="social-share-facebook"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#" target="_blank" id="social-share-google"><i class="fa fa-google-plus-square"></i></a></li>
                            <li><a href="#" target="_blank" id="social-share-linkedin"><i class="fa fa-linkedin-square"></i></a></li>
                        </ul>
                    </div>
                </div><!--/.col-md-7 -->
            </div><!--/.row -->
        </div><!--/.container -->
    </section><!--/.main-section -->
</div>
