---
layout: en-tw/LayoutMaster
style: |
    <link rel="stylesheet" href="/css/press.css">
scripts: |
    <script src="/js/press.js"></script>
meta: |
    <meta property="og:title" content="Gogoro brings Smartscooter&trade; EVs to new markets, beyond megacities, with introduction of the Gogoro OPEN Initiative" />
    <meta property="og:type" content='website' />
    <meta property="og:url" content="http://www.gogoro.com/tw/en/press/releases/2016-01-05-gogoro-ces-gocharger-open" />
    <meta property="og:description" content="Gogoro, a technology company transforming how energy is distributed and managed in cities, today announced the introduction of the Gogoro GoCharger&trade; and Gogoro OPEN Initiative, creating a more scalable and readily available solution for customers outside of Gogoro’s planned megacity rollout." />
    <meta property="og:image" content="http://www.gogoro.com/img/press/GoC_banner.jpg" />
    <meta property="og:site_name" content="Gogoro" />
---

<div class="pg-press" data-state="Press">
    <section id="hero-header">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                    <h1>Press</h1>
                </div>
            </div>
        </div>
    </section>

    {% include en-tw/PressSmallSizesMenuPartial.html %}

    <section class="main-section" data-state="Press">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-md-offset-0 col-sm-10 col-sm-offset-1 hidden-sm hidden-xs press-sidebar">
                    {% include en-tw/PressLargeSizesMenuPartial.html %}
                </div>

                <div class="col-md-7 col-md-offset-0 col-xs-12 press-main">
                    <article>
                        <p><strong>LAS VEGAS, USA | JANUARY 5, 2016</strong></p>

                        <h2>Gogoro brings Smartscooter&trade; EVs to new markets, beyond megacities, with introduction of the Gogoro OPEN Initiative</h2>

                        <p><i>Gogoro also unveiled the Gogoro® GoCharger&trade;, a battery charger for home and retail locations that together with the Gogoro® OPEN Initiative, enables Gogoro to expand and scale more quickly in different types of cities.</i></p>

                        <p><strong>LAS VEGAS ─ January 5, 2016 (Consumer Electronics Show)</strong> ─ Gogoro, a technology company transforming how energy is distributed and managed in cities, today announced the introduction of the Gogoro GoCharger&trade; and Gogoro OPEN Initiative, creating a more scalable and readily available solution for customers outside of Gogoro’s planned megacity rollout.</p>
                        <p>“Gogoro’s 2015 success has created an outpouring of support and interest from people all over the world. We want as many people as possible to have access to the Smartscooter EV revolution, so we created the Gogoro OPEN Initiative,” said Horace Luke, co-founder and CEO, Gogoro. ”The Gogoro OPEN Initiative gives power to the people, broadens our addressable market and speeds our commercialization beyond our core geographic focus of megacities.”</p>

                        <h3>Gogoro OPEN Initiative </h3>
                        <p>The Gogoro OPEN (Gogoro Owner Proposed Energy Network) Initiative allows consumers and businesses to express their interest in Gogoro and nominate themselves, their businesses and/or local communities to be part of Gogoro expansion markets. Gogoro will use the geographic enrollment data collected via the Gogoro OPEN portal to select new markets and will then deploy to cities with the most interest. Customers in selected Gogoro OPEN cities will be able to purchase the Gogoro Smartscooter&trade; EV and have access to GoStation® battery swapping stations, as well as public and private GoCharger&trade; stations.</p>
                        <p>The Gogoro Open portal can be accessed at <a href="http://www.gogoro.com/tw/en/OPEN">www.gogoro.com/tw/en/OPEN</a>. Gogoro will begin its first Gogoro OPEN city deployments in Europe this summer with plans to launch in the US shortly after. </p>

                        <h3>Gogoro GoCharger&trade;</h3>
                        <p>The new Gogoro GoCharger&trade; can be used at home or retail locations and can charge a pair of batteries simultaneously. When batteries are placed in the Gogoro GoCharger&trade; it connects wirelessly and can send charging notifications to the owner.  Gogoro also utilizes the connectivity to manage charge levels, charge rates and the overall health of the Gogoro battery. The Gogoro GoCharger&trade; has two models, a speed charger and an overnight charger. The Gogoro GoCharger&trade; will be available beginning this summer. For businesses interested in joining the Gogoro OPEN Initiative, a Gogoro GoCharger&trade; will be installed for no charge as long as it is made available to Gogoro customers.</p>

                        <h3>Gogoro Smartscooter&trade; EV Gets Smarter</h3>
                        <p>Gogoro also introduced smartphone keyless operation of the Smartscooter&trade; EV so customers no longer need to use a key fob but can now use their iOS/Android phone or Apple Watch to lock and unlock their Gogoro Smartscooter&trade; EV and perform other Smartscooter&trade; EV actions. Smartphone keyless operation is expected to be available as a standard feature on all new Gogoro Smartscooter&trade; EVs and as a free upgrade for all previously purchased Smartscooter&trade; EVs.</p>

                        <h3>Consumer Electronics Show 2016</h3>
                        <p>The Gogoro Smartscooter&trade; EV and GoStation® will be on display at the Consumer Electronics Show in Las Vegas on January 5-9, 2016, at select locations, including:</p>
                        <ul>
                            <li>Pepcom Digital Experience! (Jan. 5; The Mirage)</li>
                            <li>Panasonic booth, Green Mobility area (Jan. 6-9; LVCC, Central Hall, Booth #9808)</li>
                        </ul>

                        <h3>Gogoro Smartscooter&trade; EV</h3>
                        <p>Gogoro introduced the Gogoro Smartscooter&trade; EV and the Gogoro Energy Network at the Consumer Electronics Show in early 2015 and launched in Taipei Taiwan in August 2015. The Gogoro Smartscooter&trade; EV is the world’s first high-performance, smart electric two-wheel vehicle with swappable batteries. The integrated Gogoro Energy Network is an advanced battery-swapping infrastructure for cities.</p>

                        <h3>Key Gogoro Facts</h3>
                        <ul>
                            <li>More than 4,000 Gogoro Smartscooter&trade; EVs sold</li>
                            <li>More than 3 million kilometers ridden by customers</li>
                            <li>125+ GoStation® battery swapping stations deployed</li>
                            <li>More than 2,000 battery swaps per day</li>
                            <li>135,000 liters of gasoline saved plus 261,000 kilograms less CO2 emitted</li>
                        </ul>

                        <h3>About Gogoro</h3>
                        <p>Founded in 2011, Gogoro is enabling the transformation of megacities into smart cities by leveraging the power of connectivity and technology to reinvent how we experience energy in major cities around the world. In January 2015, Gogoro introduced the Gogoro Smartscooter&trade; EV, the world’s first high-performance, battery swappable, smart electric vehicle together with the Gogoro Energy Network, an advanced battery-swapping infrastructure for cities. Gogoro is working toward a better future by putting power in the hands of everyone – to move us all forward, faster. For more information, go to: <a href="/tw/en/press/">www.gogoro.com/tw/en/press.</a></p>

                        <h3>Contact for Journalists</h3>
                        <p>Jason Gordon – <a href="mailto:jason.gordon@gogoro.com">jason.gordon@gogoro.com</a>; (206) 778-7245</p>
                        <p>Megan Zaroda – <a href="mailto:mzaroda@webershandwick.com">mzaroda@webershandwick.com</a>; (917) 683-7270</p>
                    </article>

                    <div id="social-share">
                        <label>Share</label>
                        <ul class="list-inline">
                            <li><a href="#" target="_blank" id="social-share-twitter"><i class="fa fa-twitter-square"></i></a></li>
                            <li><a href="#" target="_blank" id="social-share-facebook"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#" target="_blank" id="social-share-google"><i class="fa fa-google-plus-square"></i></a></li>
                            <li><a href="#" target="_blank" id="social-share-linkedin"><i class="fa fa-linkedin-square"></i></a></li>
                        </ul>
                    </div>
                </div><!--/.col-md-7 -->
            </div><!--/.row -->
        </div><!--/.container -->
    </section><!--/.main-section -->
</div>
