---
style: |
    <link rel="stylesheet" href="/css/press.css">
scripts: |
    <script src="/js/press.js"></script>
layout: zh-tw/LayoutMaster
action: global
---

<div class="pg-press" data-state="GlobalNews">
    <section id="hero-header">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-offset-3 col-sm-8 col-sm-offset-2 hidden-xs">
                    <h1>Global &nbsp; News</h1>
                </div>
                <div class="hidden-lg hidden-md hidden-sm ">
                    <h1>Global</h1>
                    <h1>News</h1>
                </div>

        </div>
    </section>

    {% include zh-tw/PressSmallSizesMenuPartial.html %}

    <section class="main-section" data-state="Press">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-md-offset-0 col-sm-10 col-sm-offset-1 hidden-sm hidden-xs press-sidebar">
                    {% include zh-tw/PressLargeSizesMenuPartial.html %}
                </div>



                <div class="col-md-7 col-md-offset-0 col-xs-12 press-main">
                    <article>
                        <p><strong>The New York Times  | 2015年12月9日</strong></p>
                        <h2>機車界的「特斯拉」？台灣電機車實踐能源創新</h2>
                        <p>台灣起家的新創公司「睿能新動力(Gogoro)」自今年開始，在台北這個滿街機車的城市測試他們的智慧雙輪電動車。這是一種使用高效能全電力傳動系統的電機車，造型時髦，還是一個智慧型物聯網載具。不過Gogoro不甘於機車製造商的角色，他們自許為一間以能源服務為本的公司。</p>
                        <p><a href="http://cn.nytimes.com/business/20151209/c08iht-green-scooter/zh-hant/" target="_blank" class="btn btn-text-gray angle-right">閱讀全文</a></p>
                    </article>

                    <article>
                        <p><strong>The Wall Street Journal | 2015年9月2日</strong></p>
                        <h2>在台北，打造潔淨能源的新未來</h2>
                        <p>陸學森(Horace)在2011年創立了<span class='graphik-light'>Gogoro</span>，生產及研發 <span class='graphik-light'>Smartscooter™</span>智慧雙輪以及 <span class='graphik-light'>Gostation®</span> 電池交換站。以大台北地區為首發，讓消費者在各個地點都能透過換電暢行無阻。一般人對<span class='graphik-light'>Gogoro</span>的第一印象可能是一家設計精美、超品質以及超效能的機車公司；但經過我們解說我們在做什麼之後，他們會發現原來我們不只是一家機車公司，而是一家整合硬體、軟體以及大數據的科技公司。</p>
                        <p><a href="http://www.wsj.com/articles/tech-entrepreneur-creates-a-cleaner-future-starting-in-taipei-1441177635" target="_blank" class="btn btn-text-gray angle-right">閱讀全文</a></p>
                    </article>

                    <article>
                        <p><strong>The Verge | 2015年7月25日</strong></p>
                        <h2><span class='graphik-light'>Gogoro</span>首款電動<span class='graphik-light'>Smartscooter™</span><span class='graphik-light'></span>智慧雙輪開始出貨</h2>
                        <p><span class='graphik-light'>Gogoro</span>的<span class='graphik-light'>Smartscooter™</span>智慧雙輪，日前在台灣以大約4,100美元的價格開始出貨；價格中內含一年份竊盜險、以及二年份免費保固維修與不限次數交換電池的服務。目前<span class='graphik-light'>Smartscooter™</span>智慧雙輪在台北地區相當搶手，而該公司也將陸續在世界各地適合雙輪產品的市場供應產品、同時盡可能擴大電池交換站的服務涵蓋範圍。<span class='graphik-light'>Gogoro</span>相信，<span class='graphik-light'>Smartscooter™</span>智慧雙輪將會是未來個人交通工具最有希望的形式。</p>
                        <p><a href="http://www.theverge.com/2015/7/25/9038909/gogoro-smartscooter-pre-order-delivery" target="_blank" class="btn btn-text-gray angle-right">閱讀全文</a></p>
                    </article>

                    <article>
                        <p><strong>Engadget | 2015年7月24日</strong></p>
                        <h2><span class='graphik-light'>Gogoro</span>的<span class='graphik-light'>Smartscooter™</span>智慧雙輪在台出貨</h2>
                        <p><span class='graphik-light'>Gogoro</span>的<span class='graphik-light'>Smartscooter™</span>智慧雙輪，已經開始在台北的街道上風馳電掣。在不久前的<span class='graphik-light'>CES</span> 2015展覽中，剛剛嶄露頭角的<span class='graphik-light'>Gogoro</span>已經吸引了全世界媒體的目光；而目前除了銷售新車之外，該公司也正與商業空間和政府機關合作，建構更加完整的電池交換網路。除了像台北這樣民眾原本就普遍使用機車的地方之外，諸如舊金山之類機車較為常見的北美城市、以及許多亞洲國家，也將很快就能看到<span class='graphik-light'>Gogoro</span>電動車的蹤跡。</p>
                        <p><a href="http://www.engadget.com/2015/07/24/gogoro-shipping%20/" target="_blank" class="btn btn-text-gray angle-right">閱讀全文</a></p>
                    </article>

                    <article>
                        <p><strong>GreenBiz | 2015年7月20日</strong></p>
                        <h2>新創公司 <span class='graphik-light'>Gogoro</span> 以電動二輪車革新城市能源網路</h2>
                        <p><span class='graphik-light'>Gogoro</span> 的電動二輪車採用交換電池的方式，所以車主不用浪費時間等電池充飽；透過這個稱為「<span class='graphik-light'>Gogoro</span>能源網路」的體系，車主只要花幾秒鐘，就能在遍佈市區各處的交換站取得新的動力。除了為智慧二輪車提供電池之外，過去曾任職微軟與<span class='graphik-light'>HTC</span> 的執行長陸學森認為，這個網路將可以運用在其他地方、甚至成為企業和商家的備用電源。</p>
                        <p><a href="http://www.greenbiz.com/article/startup-bets-e-scooters-can-give-urban-power-grids-makeover" target="_blank" class="btn btn-text-gray angle-right">閱讀全文</a></p>
                    </article>

                    <article>
                        <p><strong>CNBC | 2015年7月12日</strong></p>
                        <h2>高科技新創公司將是台灣經濟成長的希望</h2>
                        <p>
                            像電動雙輪車廠商<span class='graphik-light'>Gogoro</span>這樣的新創公司，未來將在台灣經濟發展中佔有舉足輕重的地位。
                            與日本電池廠商<span class='graphik-light'>Panasonic</span>具有策略合作關係的<span class='graphik-light'>Gogoro</span>，
                            最近成功研發的新產品正符合台灣政府減少依賴<span class='graphik-light'>Htc</span>、台積電、鴻海等大規模高科技企業的期望。
                            國家發展委員會也表示：「我們希望能透過協助新創公司度過最困難的早期階段，讓它們都能像<span class='graphik-light'>Gogoro</span>一樣健全成長。」
                        </p>
                        <p><a href="http://www.cnbc.com/2015/07/12/taiwan-hopes-tech-startups-like-gogoro-will-fuel-economic-growth.html" target="_blank" class="btn btn-text-gray angle-right">閱讀全文</a></p>
                    </article>

                    <article>
                        <p><strong>Inhabitat | 2015年6月27日</strong></p>
                        <h2><span class='graphik-light'>Gogoro</span>的<span class='graphik-light'>Smartscooter™ </span>智慧雙輪問世</h2>
                        <p>雖然 <span class='graphik-light'>Gogoro</span> 的<span class='graphik-light'>Smartscooter™ </span>智慧雙輪的價格幾乎是傳統機車的兩倍，但它的銷售方案中包含了不少足以抵消較高價格的優惠；首先，<span class='graphik-light'>Gogoro</span> 為車主提供了兩年份免費更換電池的服務，以及一年份防竊盜險；通常防竊盜險都是由保險公司提供，而非由車廠提供。此外，還有兩年期的免費維修和道路救援，讓這整套方案更加完整超值。</p>
                        <p><a href="http://inhabitat.com/stylish-4140-electric-smartscooter-available-for-pre-order-june-27th/" target="_blank" class="btn btn-text-gray angle-right">閱讀全文</a></p>
                    </article>

                    <article>
                        <p><strong>Business Insider | 2015年6月23日</strong></p>
                        <h2>騎<span class='graphik-light'>Gogoro</span> <span class='graphik-light'>SmartScooter</span>的感覺就像開Tesla那麼棒！</h2>
                        <p>台北給人的第一印象就是濕熱，而且每個人都騎機車，這也正是新創公司<span class='graphik-light'>Gogoro</span>為什麼要在市中心設立展示中心的原因：因為<span class='graphik-light'>Gogoro</span><span class='graphik-light'>SmartScooter</span>很酷、而且感覺就像開Tesla電動車那麼棒。至於親自騎上去的感覺，只有一個詞可以形容，那就是「太棒了」。原本我以為電動車都感覺很不紮實，但Tesla Model S、BMW i3、以及現在的<span class='graphik-light'>Gogoro</span>都讓我完全改觀。</p>
                        <p><a href="http://www.businessinsider.com.au/this-is-what-its-like-to-ride-the-tesla-of-electric-bikes-the-gogoro-smartscooter-2015-6" target="_blank" class="btn btn-text-gray angle-right">閱讀全文</a></p>
                    </article>

                    <article>
                        <p><strong>Business Insider | 2015年6月21日</strong></p>
                        <h2><span class='graphik-light'>Gogoro</span>電動智慧雙輪價格與發售日期確定！</h2>
                        <p>具有連線功能的車輛，將會是未來的潮流；而在亞洲的大城市中，目前還是汽油引擎機車的天下，但來自台灣的<span class='graphik-light'>Gogoro</span>則異軍突起，希望以具有連線功能的電動機車減少大城市的能源消耗與污染；<span class='graphik-light'>Gogoro</span>智慧雙輪上具有30個感應器，能偵測各種行車狀況、或提醒車主交換電池。如果能將亞洲數以百萬計的汽油車替換成電動車，將能夠大幅改善這些地區的空氣污染問題。</p>
                        <p><a href="http://www.businessinsider.com/heres-what-happened-in-internet-of-things-this-week-2015-6" target="_blank" class="btn btn-text-gray angle-right">閱讀全文</a></p>
                    </article>

                    <article>
                        <p><strong>Business Insider | 2015年6月18日</strong></p>
                        <h2>「雙輪車中的Tesla」：<span class='graphik-light'>Gogoro</span>電動智慧雙輪問世</h2>
                        <p>以出眾造型和高科技功能引起全球媒體矚目、號稱「機車中的特斯拉」的<span class='graphik-light'>Gogoro</span>電動智慧雙輪日前終於問世。由台灣新創公司<span class='graphik-light'>Gogoro</span>設計製造的這款電動車，雖然目前僅在台北地區銷售，但該公司已在規劃進軍全球市場的動作；以大約4,100美元的價格、而且可以兩年免費交換電池而言，這輛電動車可以說是非常超值。此外，透過手機app的控制，車主還可以對燈光、聲音等許多部分進行個人設定。</p>
                        <p><a href="http://www.businessinsider.com/gogoro-smartscooter-is-available-and-it-looks-incredible-2015-6" target="_blank" class="btn btn-text-gray angle-right">閱讀全文</a></p>
                    </article>

                    <article>
                        <p><strong>Wired | 2015年6月17日</strong></p>
                        <h2>僅 $4,000 美金的機車讓電池交換成真</h2>
                        <p><span class='graphik-light'>Gogoro</span>相信，<span class='graphik-light'>Smartscooter™</span>智慧雙輪的普及，將會改變人們在市區移動、以及運用電力的方式。在媒體上已經喧騰一時的<span class='graphik-light'>Gogoro</span>電動車，除了性能優異、規格誘人之外，讓車主在各處交換站迅速取用電池的方式，更可以說是一項重要的創新。<span class='graphik-light'>Smartscooter™</span>智慧雙輪的電池重量僅有9公斤，替換相當方便；即使是一般身材的騎士，只要花6秒時間也都能輕鬆換裝。</p>
                        <p><a href="http://www.wired.com/2015/06/scooter-make-battery-swapping-work-costs-4k/" target="_blank" class="btn btn-text-gray angle-right">閱讀全文</a></p>
                    </article>

                    <article>
                        <p><strong>Tech Crunch | 2015年6月17日</strong></p>
                        <h2><span class='graphik-light'>Gogoro</span>發表最新<span class='graphik-light'>Smartscooter™</span>智慧雙輪</h2>
                        <p><span class='graphik-light'>Gogoro</span>發表最新<span class='graphik-light'>Smartscooter™</span>智慧雙輪
                        <p>台灣新創公司<span class='graphik-light'>Gogoro</span>日前在記者會中公布了新產品智慧雙輪 <span class='graphik-light'>Smartscooter™</span>的價格，並且表示在購買後二年的期間，如果計入政府對電動車的補助、以及燃料方面的費用節省，整體使用成本將會低於一般的汽油引擎機車。<span class='graphik-light'>Gogoro</span>目前還沒有公布台灣以外的下一波市場名單，但據稱該公司已經收到許多來自印度、中國、巴西、泰國等機車普及國家的詢問。</p>

                        <p><a href="http://techcrunch.com/2015/06/17/gogoro-is-almost-gogo/" target="_blank" class="btn btn-text-gray angle-right">閱讀全文</a></p>
                    </article>

                    <article>
                        <p><strong>Slash Gear | 2015年6月17日</strong></p>
                        <h2><span class='graphik-light'>Gogoro</span>七月份發表<span class='graphik-light'>Smartscooter™ </span>智慧雙輪</h2>
                        <p><span class='graphik-light'>Gogoro</span>訂於七月份在台北市發表 <span class='graphik-light'>Smartscooter™ </span> 智慧雙輪，並透過由<span class='graphik-light'>GoStation®</span> 電池交換站所構成的網路提供已充電妥善的電池。<span class='graphik-light'>Smartscooter™ </span> 智慧雙輪從 7 月 27 日開始接受預訂，並在大約一個月後於台北市和新北市陸續交貨。<span class='graphik-light'>Gogoro</span>於 2015 年初的 CES 展覽中，推出這款即將改變未來都市運輸方式的電動車，並以不同於 Tesla 電動車提供免費充電的方式，改以交換電池組的型態營運。 </p>
                        <p><a href="http://www.slashgear.com/gogoro-prices-up-its-smartscooter-for-july-riders-17388857/" target="_blank" class="btn btn-text-gray angle-right">閱讀全文</a></p>
                    </article>


                    <article>
                        <p><strong>Electric Cars Guide | 2015年6月17日</strong></p>
                        <h2><span class='graphik-light'>Gogoro</span>智慧雙輪：更聰明的移動方式</h2>
                        <p>如果您以為自己已經看過一切奇妙的東西，那您可能沒有看過 <span class='graphik-light'>Gogoro</span>智慧雙輪。首先，這不是一輛普通的電動車：您不能用插電的方式來充電，而是使用交換電池的方式；用來補充電源的電池站，將來會在各地如雨後春筍般的出現。那麼，這輛車到底有什麼奇妙的地方呢？它的設計精緻出眾、具有智慧網路連線功能、而且最高時速可達60英哩，比極速57英哩的偉士牌機車還快。</p>
                        <p><a href="http://www.electriccarsguide.com.au/latest-news/gorgoro-electric-scooter-smart-way-to-travel/" target="_blank" class="btn btn-text-gray angle-right">閱讀全文</a></p>
                    </article>



                    <article>
                        <p><strong>The Verge | 2015年6月9日</strong></p>
                        <h2>只有<span class='graphik-light'>Gogoro</span>能讓我想擁有一輛二輪車</h2>
                        <p>筆者上個星期造訪台北，來到亞洲最大的科技展──2015年Computex，看看有什麼最新、最酷的發明；然而後來我才發現，此行中最令我興奮的產品根本就不在Computex會場。走出會場外面，往東走幾分鐘，就會看到Gogoro電動二輪車的台北體驗中心。這裡的室內風格簡潔而俐落，又具有時尚感，而且服務人員都很友善，就像是其中銷售的電動二輪車一樣。</p>
                        <p><a href="http://www.theverge.com/2015/6/9/8750399/gogoro-smartscooter-experience-center-taipei" target="_blank" class="btn btn-text-gray angle-right">閱讀全文</a></p>
                    </article>

                    <article>
                        <p><strong>Taipei Times | 2015年6月9日</strong></p>
                        <h2>專訪：致力於徹底翻轉能源運用方式的 <span class='graphik-light'>Gogoro</span></h2>
                        <p><span class='graphik-light'>Gogoro</span>的自我定義是一家科技公司，而不是機車製造商，期望透過科技和網路連線功能，改善全世界的能源運用和管理效率，同時也徹底改變人們使用能源的方式。過去 100 年來，汽油主宰了能源市場；但對於人們如何使用這些燃料、以及如何獲得最大的使用效率，供應汽油的廠商沒有任何概念，因為效率高低跟他們的業務並沒有關係。然而如果我們能建立一個高科技的能源網路，就能夠瞭解人們如何使用、何時使用、以及在哪裡使用能源。</p>
                        <p><a href="http://www.taipeitimes.com/News/biz/archives/2015/06/09/2003620242" target="_blank" class="btn btn-text-gray angle-right">閱讀全文</a></p>
                    </article>

                    <article>
                        <p><strong>Forbes | 2015年4月15日</strong></p>
                        <h2>「機車中的Tesla」即將帶動亞洲的二輪革命</h2>
                        <p>在2012年Tesla Model S電動車問世時，喜愛研究一切事物造型和功能的<span class='graphik-light'>HTC</span>前創意長陸學森，希望成為台灣第一個擁有它的人，但因為家裡沒有空間為它充電，所以即使買得到也只能放在公司，無法在週末使用。大部分的台灣人都有相同的處境，所以陸學森在4年前創立了<span class='graphik-light'>Gogoro</span>，創造出「有如結合了iPhone和偉士牌」、馬力相當於125cc汽油車的<span class='graphik-light'>Smartscooter™ </span>智慧雙輪</p>
                        <p><a href="http://www.forbes.com/sites/aarontilley/2015/04/15/the-tesla-for-the-rest/?utm_campaign=Forbes&utm_source=TWITTER&utm_medium=social&utm_channel=Technology&linkId=13562887" target="_blank" class="btn btn-text-gray angle-right">閱讀全文</a></p>
                    </article>

                    <article>
                        <p><strong>Tech Crunch | 2015年3月30日</strong></p>
                        <h2><span class='graphik-light'>Gogoro</span>今夏將在台灣推出全新智慧雙輪電動車</h2>
                        <p>許多人都說台灣市場很小，甚至很多台灣品牌都不著眼在台灣市場上，但<span class='graphik-light'>Gogoro</span>有著完全不同的觀點，認為台灣是很重要的；台灣民眾習慣使用摩托車、而且樂於嘗試新產品，所以正是 <span class='graphik-light'>Gogoro</span>最理想的市場。除此之外，電動車還能讓城市空氣更乾淨、運用能源的方式也更靈活，而這些都正是有利於<span class='graphik-light'>Gogoro</span>推出創新產品的最佳環境。</p>
                        <p><a href=" http://techcrunch.com/2015/03/30/gogoro-launch/" target="_blank" class="btn btn-text-gray angle-right">閱讀全文</a></p>
                    </article>

                    <article>
                        <p><strong>The Verge | 2015年1月5日</strong></p>
                        <h2>認識即將改變電動二輪車未來的<span class='graphik-light'>Gogoro</span></h2>
                        <p>在低調運作達4年之後，台灣新創公司<span class='graphik-light'>Gogoro</span>終於登上新聞版面。他們專為通勤一族所設計的電動雙輪，背後其實有著一個極具前瞻理念的計畫在支撐著；<span class='graphik-light'>Gogoro</span>的電動車不能像一般同類產品一樣，讓車主自己充電，而是透過建構在各主要城市的龐大能源網路體系來交換電池。這種方式不只是有點瘋狂，而是非常瘋狂。</p>
                        <p><a href="http://www.theverge.com/2015/1/5/7484171/gogoro-smartscooter-electric-scooter-removeable-battery" target="_blank" class="btn btn-text-gray angle-right">閱讀全文</a></p>
                    </article>

                    <article>
                        <p><strong>Mashable Asia | 2015年1月5日</strong></p>
                        <h2>這輛智慧雙輪或許就是電動車的未來</h2>
                        <p>電動車或許已經獲得主流市場的注意，但即使是在大都市中，充電服務方面的麻煩仍然讓許多潛在顧客抱持著保留態度。而新創能源公司<span class='graphik-light'>Gogoro</span>所採用的解決方案，是建立一個系統，讓顧客可以直接交換充好店的電池，而不需要自己慢慢充電。2011 年以來，<span class='graphik-light'>Gogoro</span>就默默在開發這個城市能源網路，並期望能以電動二輪車作為啟動整個願景的開端。</p>
                        <p><a href="http://mashable.com/2015/01/05/gogoro-smartscooter-ces/" target="_blank" class="btn btn-text-gray angle-right">閱讀全文</a></p>
                    </article>

                    <article>
                        <p><strong>Forbes | 2015年1月5日</strong></p>
                        <h2>請注意：<span class='graphik-light'>Gogoro</span>電動雙輪即將在各大都會跟您見面</h2>
                        <p>陸學森過去大半輩子的工作是在研發<span class='graphik-light'>Microsoft Xbox</span>和<span class='graphik-light'>HTC</span>智慧手機之類的高科技產品，但他已經覺得沒有太大的意義，所以，他募集了一筆資金，想開啟一番更具也新的事業。過去幾年來，他所研發的是針對大型都會地區所設計的電動二輪車；設立在台北地區的<span class='graphik-light'>Gogoro</span>公司，則將在2015年推出具備雲端資訊連線功能、而且造型非常俐落的<span class='graphik-light'>Smartscooter™ </span>智慧雙輪。</p>
                        <p><a href="http://www.forbes.com/sites/aarontilley/2015/01/05/meet-gogoro-the-electric-scooter-coming-to-a-megacity-near-you/" target="_blank" class="btn btn-text-gray angle-right">閱讀全文</a></p>
                    </article>

                    <article>
                        <p><strong>Fast Coexist | 2015年1月5日</strong></p>
                        <h2>新創公司<span class='graphik-light'>Gogoro</span>將把您居住的城市變成電動車天堂</h2>
                        <p>世界各地的城市，近年來都有著大者恆大的趨勢；到了 2050 年，全世界將有高達 70% 比例的人口住在都會區，而這些居民都需要高效率、而且更可靠的交通工具。如果人們不希望環境像許多霧霾瀰漫的中國城市一樣，就必須大量採用無污染的車輛。過去幾年來一直保持神祕的新創公司 <span class='graphik-light'>Gogoro</span> 希望提供給城市居民的，正是這樣的潔淨交通工具。</p>
                        <p><a href="http://www.fastcoexist.com/3040273/this-startup-wants-to-turn-your-city-into-an-electric-scooter-heaven" target="_blank" class="btn btn-text-gray angle-right">閱讀全文</a></p>
                    </article>

                    <article>
                        <p><strong>Engadget | 2015年1月5日</strong></p>
                        <h2>前<span class='graphik-light'>HTC</span>主管揭露智慧電動二輪車與電池交換網路</h2>
                        <p>使用電動車輛最大的問題之一，是往往需要花好幾個小時充電才能上路；但如果只要幾秒鐘就能換好充滿電的電池呢？如果市區到處都換得到電池呢？如果這輛聰明的小速克達，甚至可以告訴你到哪裡去換電池呢？這些問題的答案都是<span class='graphik-light'>Gogoro</span> ── 一群前<span class='graphik-light'>HTC</span>員工所設立，以創新能源網路為目標、而且即將引發都會交通工具變革的新創公司。</p>
                        <p><a href=" http://www.engadget.com/2015/01/05/gogoro-smart-scooter/?ncid=rss_truncated" target="_blank" class="btn btn-text-gray angle-right">閱讀全文</a></p>
                    </article>

                    <article>
                        <p><strong>Mashable Asia | 2015年1月6日</strong></p>
                        <h2>CES 2015最佳產品：<span class='graphik-light'>Gogoro Smartscooter™</span>智慧雙輪</h2>
                        <p>大家都覺得電動車很好，但大家都不想等上幾個小時充電。而這正是能源新創公司<span class='graphik-light'>Gogoro</span>想要解決的問題之一；他們的方式是建立一個能讓使用者快速更換電池的網路，而不需要枯等電池充飽。<span class='graphik-light'>Gogoro</span>的第一個產品，是一輛電動二輪車、以及分布在市區各處的電池交換站網路。顧客購買車輛之後，可以按月訂購電池交換服務；而搭配的手機軟體則讓車主隨時監控車子的狀態、並在電量偏低時指引車主前往最近的電池交換站。</p>
                        <p><a href="http://mashable.com/2015/01/06/best-of-ces-2015/" target="_blank" class="btn btn-text-gray angle-right">閱讀全文</a></p>
                    </article>

                    <!--<div class="padding-top-100">
                                <a href="#" class="btn btn-text-gray">Load More Posts...</a>
                              </div> -->
                </div><!--/.col-md-7 -->
            </div><!--/.row -->
        </div><!--/.container -->
    </section><!--/.main-section -->
</div>
