---
style: |
    <link rel="stylesheet" href="/css/news-coverage.css">
scripts: |
    <script src="/js/news-coverage.js"></script>
layout: zh-tw/LayoutMaster
action: news
---

<div class="pg-press" data-state="NewsCoverage">
    <section id="hero-header">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                    <h1>News</h1>
                </div>
            </div>
        </div>
    </section>

    {% include zh-tw/PressSmallSizesMenuPartial.html %}

    <section class="main-section" data-state="Press">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-md-offset-0 col-sm-10 col-sm-offset-1 hidden-sm hidden-xs press-sidebar">
                    {% include zh-tw/PressLargeSizesMenuPartial.html %}
                </div>

                <div class="col-md-7 col-md-offset-0 col-xs-12 press-main">
                    <article>
                        <p><strong><span class='graphik-semibold'>iPhone4.tw</span> | 2015年4月30日</strong></p>
                        <h2><span class='graphik-light'>Gogoro</span>大解密，讓吉米跟大家分享智慧雙輪電動速克達的秘密</h2>
                        <p>相信最近大家在各大媒體、網路、部落格看到非常多關於gogoro的精彩報導。但是吉米相信我們這邊的伙伴，光是看到別人 <span class='graphik-light'>highlight</span> 的重點覺得還不夠。</p>
                        <p><a href="http://iphone4.tw/forums/showthread.php?t=216240" target="_blank" class="btn btn-text-gray angle-right">閱讀全文</a></p>
                    </article>


                    <article>
                        <p><strong>大人物 | 2015年4月29日</strong></p>
                        <h2>體驗更未來的生活！智慧型電動機車<span class='graphik-light'>Gogoro</span>動手騎</h2>
                        <p>原來當人安靜下來，會發現這世界比想像中的吵鬧。會有這樣的開頭不是大編轉了性，打算寫點抒情感人的內容，而是在試騎「智慧型電動機車<span class='graphik-light'>Gogoro</span>」時有感而發，過去人們太過習慣吵鬧、污染的環境，是時候該做些改變了。這次就跟著大編一起來看看<span class='graphik-light'>Gogoro</span>到底有什麼魅力，讓科技迷與機車族們為它著迷，它又到底有沒有機會徹底改變人們的生活呢？</p>
                        <p><a href="http://www.damanwoo.com/node/86332" target="_blank" class="btn btn-text-gray angle-right">閱讀全文</a></p>
                    </article>
                    <article>
                        <p><strong>自由時報 | 2015年4月28日</strong></p>
                        <h2>到底要賣多少？關於<span class='graphik-light'>Gogoro</span>你應該要知道的5件事</h2>
                        <p>在 <span class='graphik-light'>Gogoro</span> 這個名字出現之前，大多數人對於電動機車的印象都是「慢、醜、騎不遠」；慢，不只是車速慢，就連充電速度都慢；醜，外型上既跟不上主流，也沒有獨特性；騎不遠，對上加一次油至少可以跑個 150 公里的汽油機車來說，電動機車至多只有 50 公里上下，所以在被稱為速克達王國的台灣，以電動車做為通勤工具的人仍算少數。</p>
                        <p><a href="http://auto.ltn.com.tw/news.php?no=2470&t=4" target="_blank" class="btn btn-text-gray angle-right">閱讀全文</a></p>
                    </article>

                    <article>
                        <p><strong>有物報告 | 2015年4月27日</strong></p>
                        <h2>設計師的夢想成真 </h2>
                        <p>我看得出來 <span class='graphik-light'>Gogoro</span> 全體對產品灌注了所有的心神力量；每個 <span class='graphik-light'>Gogoro</span> 的工作人員介紹產品時，都充滿熱情與驕傲，眼睛都在發亮。這種氣氛非常棒。其企業的經營、行銷策略等也都是國際企業格局，已經將台灣科技業升級至另一個層次。但不知為何他們沒有先設定一個重要的限制因子 – 價格。簡直像是「我們先盡全力做出一台完美的機車，再來思考價格。」</p>
                        <p><a href="https://yowureport.com/gogoro-%E8%A9%A6%E4%B9%98%E5%BF%83%E5%BE%97-%E8%A8%AD%E8%A8%88%E5%B8%AB%E7%9A%84%E5%A4%A2%EF%BC%8C%E6%A8%A1%E7%B3%8A%E7%9A%84%E5%B8%82%E5%A0%B4%E5%AE%9A%E4%BD%8D/" target="_blank" class="btn btn-text-gray angle-right">閱讀全文</a></p>
                    </article>
                    <article>
                        <p><strong><span class='graphik-semibold'>Inside</span> | 2015年4月23日</strong></p>
                        <h2>台中試乘心得：機車版的特斯拉真是當之無愧！</h2>
                        <p>距離上一次我騎摩托車可能是五年多以前的事，而距離我上一次開車或騎車被搭訕，大概是沒有過；但在這從台中市區來回心之芳庭的約30公里的路上，我大概被一共被路人騎士問過四次；問題不外乎：「是這電動的嗎？」、「怎麼會跑這麼快？（相對於以前的電動車印象）」、「這是什麼牌子？」、「這要多少錢？」</p>
                        <p><a href="http://www.inside.com.tw/2015/04/23/gogoro-taiwan-test-drive" target="_blank" class="btn btn-text-gray angle-right">閱讀全文</a></p>
                    </article>
                    <article>
                        <p><strong><span class='graphik-semibold'>Carstuff</span> | 2015年4月23日</strong></p>
                        <h2>感受改變的力量！<span class='graphik-light'>Gogoro Smartscooter</span>智慧雙輪體驗行</h2>
                        <p><span class='graphik-light'>Smartscooter</span>智慧雙輪對於<span class='graphik-light'>Gogoro</span>而言，絕對非單一產品如此而已，背後更代表著諸多改變的起點。濃縮這場前所未有的台中體驗行，就如同開場所述，「改變」，正是<span class='graphik-light'>gogoro</span>想要進行的一場寧靜革命，以前鋒姿態問世的<span class='graphik-light'>Smartscooter</span>智慧雙輪，或許只是此「改變」計畫中的一顆棋子，但這棋子要如何發揮最大效應，才是日後計畫能否順利進行的關鍵，也因此，這棋子要盡可能的發熱發光，並從其身上展現出「改變」的力量。</p>
                        <p><a href="http://www.carstuff.com.tw/motocycle/item/17891-gogoro-smartscooter.html" target="_blank" class="btn btn-text-gray angle-right">閱讀全文</a></p>
                    </article>
                    <article>
                        <p><strong><span class='graphik-semibold'>Mobile01</span> | 2015年4月21日</strong></p>
                        <h2><span class='graphik-light'>E</span> 世代能源震撼彈 <span class='graphik-light'>Gogoro Smartscooter</span>試駕</h2>
                        <p>能夠接近取代燃油機車的純電動機車，這個夢想不知道在何時就是許多人心中的渴望，擁有低噪音、低震動與相對而言較為環保的汙染排放，是許多對於綠能使用者的首選車款，台灣最近有款電動車非常熱門</p>
                        <p><a href="http://www.mobile01.com/topicdetail.php?f=622&t=4354536" target="_blank" class="btn btn-text-gray angle-right">閱讀全文</a></p>
                    </article>
                    <article>
                        <p><strong>小老婆機車資訊網 | 2015年4月21日</strong></p>
                        <h2><span class='graphik-light'>Gogoro - Smartscooter</span>試乘短評</h2>
                        <p>在電動車市場上<span class='graphik-light'>GOGORO-Smartscooter</span> 完全是一個全新的級距的存在；<span class='graphik-light'>GOGORO-Smartscooter</span> 有著大量新穎技術與設計投入其中。動力上，油門一轉下可以感受到十分直接的力量湧現；</p>
                        <p><a href="http://forum.jorsindo.com/forum.php?mod=viewthread&tid=2474032&highlight=gogoro" target="_blank" class="btn btn-text-gray angle-right">閱讀全文</a></p>
                    </article>
                    <article>
                        <p><strong>有物報告 | 2015年4月13日</strong></p>
                        <h2>台灣最有野心的科技產品 -<span class='graphik-light'>Gogoro</span> </h2>
                        <p>7 年前我到加勒比海的<span class='graphik-light'> St. Martin</span> 島遊玩。為了環島，我在島上租了台機車。租車公司老闆問我哪裡來的，我說台灣。他馬上非常興奮，直說：『可不可以拜託你介紹台灣的機車公司？我的機車很多需要維修，但不知道該找誰？』</p>
                        <p><a href="https://yowureport.com/台灣最有野心的科技產品-gogoro/" target="_blank" class="btn btn-text-gray angle-right">閱讀全文</a></p>
                    </article>
                    <article>
                        <p><strong>天下雜誌 | 2015年4月01日</strong></p>
                        <h2>兩輪特斯拉 台灣製造</h2>
                        <p>吃電不吃油，照樣跑得比一二五CC的機車快。一群科技菁英開發電動機車，出色性能讓國際媒體盛讚為「兩輪特斯拉」。
                        輕微的嗡嗡聲傳來，一身黑的騎士，騎著一台電動機車，以驚人的高速穿過人群，引起一陣騷動，「好快喔」、「沒看清楚啊」。</p>
                        <p><a href="http://www.cw.com.tw/article/article.action?id=5066332&idSubChannel=6" target="_blank" class="btn btn-text-gray angle-right">閱讀全文</a></p>
                    </article>
                    <article>
                        <p><strong><span class='graphik-semibold'>Engadget</span> | 2015年3月31日</strong></p>
                        <h2>這次就讓台灣帶領世界「騎」向未來！深入探究<span class='graphik-light'>Gogoro</span> 智慧雙輪電動車</h2>
                        <p>以現今的角度而言，其實電動車也並非什麼太稀奇的產品，所以到底是什麼樣的特點讓<span class='graphik-light'> Gogoro</span> 的 <span class='graphik-light'>Smartscooter</span> 智慧雙輪引起了世界的關注呢？即將從台灣出發，要讓全世界知道<span class='graphik-light'> MIT</span> 設計工藝也能打造出精緻有型且耐用的交通工具的<span class='graphik-light'> Gogoro</span> ，先是以「不用充電的電動車」引發大家的好奇。</p>
                        <p><a href="http://chinese.engadget.com/2015/03/30/gogoro-smartscooter-hands-on/" target="_blank" class="btn btn-text-gray angle-right">閱讀全文</a></p>
                    </article>
                    <!--    <div class="padding-top-100">
                                <a href="#" class="btn btn-text-gray">Load More Posts...</a>
                              </div> -->
                </div><!--/.col-md-7 -->
            </div><!--/.row -->
        </div><!--/.container -->
    </section><!--/.main-section -->
</div>
