---
meta: |
    <meta name="keywords" content="gogoro,smartscooter,機車,電動機車,智慧雙輪,電池,睿能,睿能創意">
    <meta name="description" content="我們是 Gogoro，透過網路和科技的力量，打造 Smartscooter™ 智慧雙輪以及 GoStation® 電池交換站，改變能源使用的經驗，將全球大型都會逐步轉型為智慧城市。">
    <meta name="application-name" content="影片下載-Gogoro 第一且唯一 Smartscooter™ 智慧雙輪" />
    <meta name="msapplication-TileColor" content="#61399D" />
    <meta name="msapplication-TileImage" content="http://www.gogoro.com/favicon.ico" />
    <meta property="og:title" content="影片下載-Gogoro 第一且唯一 Smartscooter™ 智慧雙輪" />
    <meta property="og:type" content='website' />
    <meta property="og:url" content="http://www.gogoro.com/tw/press/videos" />
    <meta property="og:description" content="我們是 Gogoro，透過網路和科技的力量，打造 Smartscooter™ 智慧雙輪以及 GoStation® 電池交換站，改變能源使用的經驗，將全球大型都會逐步轉型為智慧城市。" />
    <meta property="og:image" content="http://images.gogoroapp.com/share/website_thumbnail_1024.jpg" />
    <meta property="og:site_name" content="Gogoro" />
style: |
    <link rel="stylesheet" href="/css/videos.css">
scripts: |
    <script src="/js/videos.js"></script>
layout: zh-tw/LayoutMaster
action: videos
---

<div class="pg-press" data-state="Videos">
    <section id="hero-header">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                    <h1>Videos</h1>
                </div>
            </div>
        </div>
    </section>

    {% include zh-tw/PressSmallSizesMenuPartial.html %}

    <section class="main-section" data-state="Download">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-md-offset-0 col-sm-10 col-sm-offset-1 hidden-sm hidden-xs press-sidebar">
                    {% include zh-tw/PressLargeSizesMenuPartial.html %}
                </div>

                <div class="col-md-7 col-md-offset-0 col-xs-12 press-main">
                    <h2>影片下載</h2>
                    <article>
                        <p class="video-container"><iframe src="//www.youtube.com/embed/hfPMJwMd6I8?rel=0&amp;controls=1&amp;showinfo=0" frameborder="0" allowfullscreen></iframe></p>
                        <strong><span class="graphik-semibold"> Intro:</span> 搶眼不色限 絕對備受矚目</strong>&nbsp;&nbsp;<span class="videos-time-font">(1:05)</span>
                        <br />
                        <a href="//movies.gogoroapp.com/press/Gogoro-ColorCycle-H.264-1980%C3%971080.mp4" target="_blank" download>下載影片</a>

                    </article>

                    <article>
                        <h2>影片下載</h2>
                        <p class="video-container"><iframe src="//www.youtube.com/embed/2DG8h8fs8Jw?rel=0&amp;controls=1&amp;showinfo=0" frameborder="0" allowfullscreen></iframe></p>
                        <strong><span class="graphik-semibold"> Intro: A Ride Like No Other</span></strong>&nbsp;&nbsp;<span class="videos-time-font">(1:44)</span>
                        <br />
                        <a href="http://goo.gl/8fDXrw" target="_blank">下載影片</a>
                    </article>



                    <article>
                        <p class="video-container"><iframe src="//www.youtube.com/embed/huxAGfoqDrY?rel=0&amp;controls=1&amp;showinfo=0" frameborder="0" allowfullscreen></iframe></p>
                        <strong><span class="graphik-semibold">Up Close with the Gogoro® Smartscooter™ EV</span></strong>&nbsp;&nbsp;<span class="videos-time-font">(0:51)</span>
                    </article>

                    <article>
                        <p class="video-container"><iframe src="//www.youtube.com/embed/GSYs4IEclpU?rel=0&amp;controls=1&amp;showinfo=0" frameborder="0" allowfullscreen></iframe></p>
                        <strong><span class="graphik-semibold">The Gogoro Vision: Let’s Go! </span></strong>&nbsp;&nbsp;<span class="videos-time-font">(1:34)</span>
                        <br />
                        <a href="http://goo.gl/agpE2e" target="_blank">下載影片</a>
                    </article>
                    <p><strong><span class="graphik-semibold">B-Roll</span></strong> | 請與我們連絡: <a href="mailto:press@gogoro.com">press@gogoro.com</a></p>
                </div><!--/.col-md-7 -->
            </div><!--/.row -->
        </div><!--/.container -->
    </section><!--/.main-section -->
</div>
