<div class="tabbar-container" tabbar data-current-action="{{ page.action }}">
    <div class="tabbar-wrapper collision">
        <div class="tabbar collision-reposition" data-position-top="80">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-xs-12">
                        <a class="gen" data-action-name="energy" href="/gen"><span>Gogoro&reg;<br class="visible-sm-block"/> Energy Network</span> <i class="icon-arrow-down icon"></i></a>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <a class="gostation" data-action-name="gostation" href="/gostation"><span>GoStation&reg;</span> <i class="icon-arrow-down icon"></i></a>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <a class="gocharger" data-action-name="gocharger" href="/gocharger"><span>GoCharger&trade;</span> <i class="icon-arrow-down icon"></i></a>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <a class="open" data-action-name="open" href="/open"><span>OPEN Initiative</span> <i class="icon-arrow-down icon"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
