<div id="ie-upgrade-box">
    <div class="ie-upgrade-box-content">
        <h2>Please upgrade your browser</h2>
        <div class="ie-upgrade-box-body">
            <p>
                We recommend that you use either Google Chrome or the latest version of Mozilla Firefox for optimal performance with gogoro.com. Although gogoro.com will work in most browsers, your experience will be limited and may experience issues if using older versions, such as Internet Explorer 10 and earlier.
            </p>
            <p> Just click on the icons to get to the download page.</p>
            <ul>
                <li>
                    <a target="_blank" href="https://www.google.com/chrome/browser/desktop/">
                        <i class="browser browser--chrome"></i>
                        Chrome
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.mozilla.org/en-US/firefox/new/">
                        <i class="browser browser--firefox"></i>
                        FireFox
                    </a>
                </li>
                <li class="last">
                    <a target="_blank" href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                        <i class="browser browser--ie11"></i>
                        IE11
                    </a>
                </li>
            </ul>
            <a href="#" id="btn-close-ie-alert-box" class="btn btn-outline">Continue anyway</a>
        </div>
    </div>
</div>
