---
layout: en-tw/LayoutMaster
style: |
    <link rel="stylesheet" href="/css/news-coverage.css">
scripts: |
    <script src="/js/news-coverage.js"></script>
action: news
---

<div class="pg-press" data-state="NewsCoverage">
    <section id="hero-header">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                    <h1>News</h1>
                </div>
            </div>
        </div>
    </section>

    {% include en-tw/PressSmallSizesMenuPartial.html %}

    <section class="main-section" data-state="Press">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-md-offset-0 col-sm-10 col-sm-offset-1 hidden-sm hidden-xs press-sidebar">
                    {% include en-tw/PressLargeSizesMenuPartial.html %}
                </div>

                <div class="col-md-7 col-md-offset-0 col-xs-12 press-main">

                    <article>
                        <p><strong>December 7, 2015 | The New York Times</strong></p>
                        <h2>Electric Scooters, and a Network</h2>
                        <p>This year, a Taiwan-based startup called Gogoro has been using the scooter-filled streets of Taipei to test its Smartscooter, an electric scooter with an efficient all-electric drive train, sleek design and Internet of Things ingenuity. But Gogoro doesn’t want to be called a scooter company. It sees itself as an energy services company at heart.</p>
                        <p><a href="http://www.nytimes.com/2015/12/08/business/energy-environment/electric-scooters-and-a-network.html?_r=1" target="_blank" class="btn btn-text-gray angle-right">View ORIGINAL ARICLE</a></p>
                    </article>

                    <!-- old -->
                    <article>
                        <p><strong>July 25, 2015 | The Verge</strong></p>
                        <h2>Gogoro's first Smartscooters are now being delivered</h2>
                        <p>On a wall inside the Gogoro Experience Center in Taipei, there's a big, neon-green sign proclaiming that the future is now. That bold declaration has never been truer than today, with Gogoro shipping out the first of its electric Smartscooters to preorder customers.</p>
                        <p><a href="http://www.theverge.com/2015/7/25/9038909/gogoro-smartscooter-pre-order-delivery" target="_blank" class="btn btn-text-gray angle-right">View ORIGINAL ARICLE</a></p>
                    </article>

                    <article>
                        <p><strong>July 25, 2015 | Mashable</strong></p>
                        <h2>Gogoro smart scooter launches in Taiwan, adds new models</h2>
                        <p>The smartphone-connected scooter we told you about earlier this year, called the Gogoro, is finally shipping to consumers, potentially kicking off a new phase in mainstream convenience and usability for electric vehicles.</p>
                        <p><a href="http://mashable.com/2015/07/25/gogoro-smart-scooter-taiwan/" target="_blank" class="btn btn-text-gray angle-right">View ORIGINAL ARICLE</a></p>
                    </article>
                    <article>
                        <p><strong>July 24, 2015 | Fortune</strong></p>
                        <h2>Gogoro Smartscooter pre-orders begin shipping tomorrow</h2>
                        <p>The company behind the Gogoro Smartscooter announces their intent to ship pre-orders as of this week. Customers that ordered the Gogoro Smartscooter earlier this year on pre-order can expect their shipments to begin as early as tomorrow.</p>
                        <p><a href="http://fortune.com/2015/07/24/startup-gogoro-is-shipping-its-first-souped-up-electric-scooters-this-weekend/" target="_blank" class="btn btn-text-gray angle-right">View ORIGINAL ARICLE</a></p>
                    </article>
                    <article>
                        <p><strong>July 24, 2015 | SlashGear</strong></p>
                        <h2>Gogoro Smartscooter pre-orders begin shipping tomorrow</h2>
                        <p>The company behind the Gogoro Smartscooter announces their intent to ship pre-orders as of this week. Customers that ordered the Gogoro Smartscooter earlier this year on pre-order can expect their shipments to begin as early as tomorrow.</p>
                        <p><a href="http://www.slashgear.com/gogoro-smartscooter-pre-orders-begin-shipping-tomorrow-24394293/" target="_blank" class="btn btn-text-gray angle-right">View ORIGINAL ARICLE</a></p>
                    </article>


                    <article>
                        <p><strong>July 24, 2015 | TechCrunch</strong></p>
                        <h2>The First Gogoro Smartscooters Will Start Shipping Tomorrow</h2>
                        <p>After raising $150 million dollars and operating in secrecy for three years, Gogoro finally told the world what they’re building: a smart electric scooter and a charging infrastructure to go with it.</p>
                        <p><a href="http://techcrunch.com/2015/07/24/the-first-gogoro-smartscooters-will-start-shipping-tomorrow/" target="_blank" class="btn btn-text-gray angle-right">View ORIGINAL ARICLE</a></p>
                    </article>

                    <article>
                        <p><strong>July 24, 2015 | Re/code</strong></p>
                        <h2>Gogoro’s First Scooters Hitting the Road in Taiwan</h2>
                        <p>Gogoro, which aims to build a network of scooters and chargers in urban cities around the globe, plans to start delivering its first preordered scooters on Saturday.</p>
                        <p><a href="http://t.co/ZwmU19XxnU" target="_blank" class="btn btn-text-gray angle-right">View ORIGINAL ARICLE</a></p>
                    </article>

                    <article>
                        <p><strong>July 24, 2015 | Engadget</strong></p>
                        <h2>Gogoro starts shipping its Smartscooter in Taiwan</h2>
                        <p>The Gogoro scooter is ready for the streets of Taipei. The company will starts shipping its electric Smartscooter to customers that preordered the bike today. The brainchild of former HTC executives, Gogoro became one of the darlings of CES 2015 with its swappable battery solution for its electric vehicle.</p>
                        <p><a href="http://www.engadget.com/2015/07/24/gogoro-shipping%20/" target="_blank" class="btn btn-text-gray angle-right">View ORIGINAL ARICLE</a></p>
                    </article>
                    <article>
                        <p><strong>July 20, 2015 | GreenBiz</strong></p>
                        <h2>This startup bets e-scooters can give urban power grids a makeover</h2>
                        <p>Electrified scooters, bicycles and motorcycles are still a tough sell in North America. But it’s another matter entirely in urban economies across Asia, India and China, where the technology could play a big role in reshaping the power grid.</p>
                        <p><a href="http://www.greenbiz.com/article/startup-bets-e-scooters-can-give-urban-power-grids-makeover" target="_blank" class="btn btn-text-gray angle-right">View ORIGINAL ARICLE</a></p>
                    </article>
                    <article>
                        <p><strong>July 2, 2015 | PSFK</strong></p>
                        <h2>PSFK, in partnership with HP Matter, speaks to Horace Luke, CEO of an urban energy distribution and management startup, about seeing limitation as inspiration</h2>
                        <p>Innovation is the new currency in today’s Idea Economy. In recognition of the leaders who are disrupting our tech-driven world, the editors at thought leadership site PSFK.com partnered with HP Matter to create the Innovators Index, a roster of digital pioneers making a global impact. This week we’ve featured Horace Luke for his efforts to transform energy management and transportation in the world’s cities.</p>
                        <p><a href="http://www.greenbiz.com/article/startup-bets-e-scooters-can-give-urban-power-grids-makeover" target="_blank" class="btn btn-text-gray angle-right">View ORIGINAL ARICLE</a></p>
                    </article>
                    <article>
                        <p><strong>April 15, 2015 | Forbes</strong></p>
                        <h2>The Tesla Of Scooters Is Driving Asia's Two Wheel Revolution</h2>
                        <p>Horace Luke wanted to be the first person in Taiwan with a Tesla Model S when the gorgeous electric sedan debuted in 2012. Luke, the former chief innovation officer at smartphone maker HTC, is obsessed with beauty and function in all things. But his beloved Teslas were not sold in Taiwan (and still aren’t). He thought about importing one, but his girlfriend finally talked him out of it. With no home garage to charge it in, he’d have to juice it at the office and thus wouldn’t have use of it on the weekends.</p>
                        <p><a href="http://www.forbes.com/sites/aarontilley/2015/04/15/the-tesla-for-the-rest/" target="_blank" class="btn btn-text-gray angle-right">View ORIGINAL ARICLE</a></p>
                    </article>
                    <article>
                        <p><strong>January 6, 2015 | Mashable</strong></p>
                        <h2>Best of CES 2015</h2>
                        <p>Everyone thinks electric vehicles are a good idea, but who likes waiting hours for a recharge? Energy startup Gogoro aims to solve this problemby creating a system that allows people to quickly swap their electric vehicles' batteries …</p>
                        <p><a href="http://mashable.com/2015/01/06/best-of-ces-2015/" target="_blank" class="btn btn-text-gray angle-right">View ORIGINAL ARICLE</a></p>
                    </article>
                    <article>
                        <p><strong>January 6, 2015 | FOX Business</strong></p>
                        <h2>Want an electric battery swappable scooter?</h2>
                        <p><a href="http://video.foxbusiness.com/v/3973949610001/want-an-electric-battery-swappable-scooter/?#sp=show-clips" target="_blank" class="btn btn-text-gray angle-right">View ORIGINAL ARICLE</a></p>
                    </article>
                    <article>
                        <p><strong>January 5, 2015 | CNET</strong></p>
                        <h2>Ex-HTCers bring their design chops to electric Smartscooter</h2>
                        <p>Gogoro, a Taiwanese startup created to help shake up energy usage in big cities, boasts talent from HTC: Gogoro CEO Horace Luke served as HTC's chief innovation officer and Gogoro Chief Technology Officer…</p>
                        <p><a href="http://www.cnet.com/news/ex-htcers-bring-their-design-chops-to-electric-smartscooter/" target="_blank" class="btn btn-text-gray angle-right">View ORIGINAL ARICLE</a></p>
                    </article>
                    <article>
                        <p><strong>January 5, 2015 | Engadget</strong></p>
                        <h2>Former HTC execs unveil smart scooter plus a network of swappable batteries</h2>
                        <p>One of the biggest barriers to owning an electric vehicle is that you have to charge it, often for hours, before taking it for a spin. But what if you could swap out its depleted battery for a fully charged one in seconds…</p>
                        <p><a href="http://www.engadget.com/2015/01/05/gogoro-smart-scooter/?ncid=rss_truncated" target="_blank" class="btn btn-text-gray angle-right">View ORIGINAL ARICLE</a></p>
                    </article>
                    <article>
                        <p><strong>January 5, 2015 | Fast Company</strong></p>
                        <h2>This Startup Wants To Turn Your City Into An Electric Scooter Heaven</h2>
                        <p>The world's cities are rapidly getting larger. By 2050, more than 70% of the world's population will live in urban areas. All of those people will need effective, reliable transportation—and unless we want to live on …</p>
                        <p><a href="http://www.fastcoexist.com/3040273/this-startup-wants-to-turn-your-city-into-an-electric-scooter-heaven" target="_blank" class="btn btn-text-gray angle-right">View ORIGINAL ARICLE</a></p>
                    </article>
                    <article>
                        <p><strong>January 5, 2015 | Forbes</strong></p>
                        <h2>Meet Gogoro, the Electric Scooter Coming to a Megacity Near You</h2>
                        <p>Horace Luke has spent much of his career building cutting edge consumer gadgets at Microsoft’s Xbox division and smartphone-maker HTC. But he got bored. Now he’s raised almost $150 million to try…</p>
                        <p><a href="http://www.forbes.com/sites/aarontilley/2015/01/05/meet-gogoro-the-electric-scooter-coming-to-a-megacity-near-you/" target="_blank" class="btn btn-text-gray angle-right">View ORIGINAL ARICLE</a></p>
                    </article>
                    <article>
                        <p><strong>January 5, 2015 | Mashable</strong></p>
                        <h2>The scooter that could be the future of electric vehicles</h2>
                        <p>Energy startup Gogoro aims to solve this problem by creating a system that allows people to quickly swap their electric vehicles' batteries rather than waiting to recharge. The company unveiled its plan for a network…</p>
                        <p><a href="http://mashable.com/2015/01/05/gogoro-smartscooter-ces" target="_blank" class="btn btn-text-gray angle-right">View ORIGINAL ARICLE</a></p>
                    </article>
                    <article>
                        <p><strong>January 5, 2015 | Re/Code</strong></p>
                        <h2>Well-Heeled Gogoro Unveils Plan to Cover Cities With Scooters and Battery-Swapping Kiosks</h2>
                        <p>Gogoro, the startup founded by former HTC executive Horace Luke, is finally ready to show off what it has spent the past several years working on…</p>
                        <p><a href="http://recode.net/2015/01/05/well-heeled-gogoro-unveils-plan-to-cover-cities-with-scooters-and-battery-swapping-kiosks/" target="_blank" class="btn btn-text-gray angle-right">View ORIGINAL ARICLE</a></p>
                    </article>
                    <article>
                        <p><strong>January 5, 2015 | The Verge</strong></p>
                        <h2>Meet Gogoro, the outrageous electric scooter of the future</h2>
                        <p>Taiwanese startup Gogoro is making news today after four years operating in stealth, revealing an electric scooter designed for commuters along with a ridiculously ambitious plan to power it. You don’t plug the... </p>
                        <p><a href="http://www.theverge.com/2015/1/5/7484171/gogoro-smartscooter-electric-scooter-removeable-battery" target="_blank" class="btn btn-text-gray angle-right">View ORIGINAL ARICLE</a></p>
                    </article>

                    <article>
                        <p><strong>October 30, 2014 | Gigaom</strong></p>
                        <h2>Introducing Gogoro, a startup with a consumer energy product for megacities & $100M in funding</h2>
                        <p>A product guru who helped bring the world the Xbox and the Pocket PC has now launched a new startup focused on energy, data and megacities. Horace Luke, who was previously the chief innovation officer at HTC and worked for almost a decade at Microsoft...</p>
                        <p><a href="https://gigaom.com/2014/10/30/introducing-gogoro-a-startup-with-a-consumer-energy-product-for-megacities-100m-in-funding/" target="_blank" class="btn btn-text-gray angle-right">View ORIGINAL ARICLE</a></p>
                    </article>
                    <article>
                        <p><strong>October 30, 2014 | Re/code</strong></p>
                        <h2>Former HTC Exec Raises Huge War Chest to Launch Gogoro, a Smart City Startup</h2>
                        <p>Gogoro, a Taiwanese startup led by former HTC executive Horace Luke, has quietly amassed tens of millions of dollars to build a device around energy management...</p>
                        <p><a href="http://recode.net/2014/10/30/former-htc-exec-raises-huge-war-chest-to-launch-gogoro-a-smart-city-startup/" target="_blank" class="btn btn-text-gray angle-right">View ORIGINAL ARICLE</a></p>
                    </article>
                    <article>
                        <p><strong>October 30, 2014 | The Verge</strong></p>
                        <h2>Mysterious smart energy company raises $150 million, led by ex-HTC executive</h2>
                        <p>Taiwanese firm Gogoro came out of stealth mode this morning — sort of — announcing in very broad, vague terms that it's looking to "utilize the power of mobile connectivity and data analytics to transform energy distribution and management in the world's cities...</p>
                        <p><a href="http://www.theverge.com/2014/10/30/7129199/mysterious-smart-energy-company-raises-150-million-led-by-ex-htc-executive" target="_blank" class="btn btn-text-gray angle-right">View ORIGINAL ARICLE</a></p>
                    </article>
                    <article>
                        <p><strong>October 30, 2014 | SlashGear</strong></p>
                        <h2>Gogoro teases big battery plans for smarter city travel</h2>
                        <p>Power: it's something none of us can do without, both the enabling and limiting factor of everything from smartphones through to electric vehicles, and it's ripe for a revolution...</p>
                        <p><a href="http://www.slashgear.com/gogoro-teases-big-battery-plans-for-smarter-city-travel-30353106/" target="_blank" class="btn btn-text-gray angle-right">View ORIGINAL ARICLE</a></p>
                    </article>
                    <!--    <div class="padding-top-100">
                                <a href="#" class="btn btn-text-gray">Load More Posts...</a>
                              </div> -->
                </div><!--/.col-md-7 -->
            </div><!--/.row -->
        </div><!--/.container -->
    </section><!--/.main-section -->
</div>
