---
style: |
    <link rel="stylesheet" href="/css/press.css">
scripts: |
    <script src="/js/press.js"></script>
layout: zh-tw/LayoutMaster
---

<div class="pg-press" data-state="Press">
    <section id="hero-header">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                    <h1>Blog</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="main-section" data-state="Press">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-md-offset-0 col-sm-10 col-sm-offset-1 hidden-sm hidden-xs press-sidebar">
                </div>

                <div class="col-md-7 col-md-offset-0 col-xs-12 press-main">
                    <article>
                        {{content}}
                    </article>

                    <div id="social-share">
                        <label>分享</label>
                        <ul class="list-inline">
                            <li><a href="#" target="_blank" id="social-share-twitter"><i class="fa fa-twitter-square"></i></a></li>
                            <li><a href="#" target="_blank" id="social-share-facebook"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#" target="_blank" id="social-share-google"><i class="fa fa-google-plus-square"></i></a></li>
                            <li><a href="#" target="_blank" id="social-share-linkedin"><i class="fa fa-linkedin-square"></i></a></li>
                        </ul>
                    </div>
                </div><!--/.col-md-7 -->
            </div><!--/.row -->
        </div><!--/.container -->
    </section><!--/.main-section -->
</div>
