/* ====================================
   Site colors
   ==================================== */
/*
   Brand colors
   ====================================
   White / Light Gray = Fresh and Clean Charcoal / Gray / Dark Gray = Bold and Direct Rich Blue = Performance
   Blue = Experience
   Teal = Style
   Dark Green = Value
   Green = Eco / Environment
   Hot Green = Community
   Red = Warning
*/
/* ====================================
 * Mixins and functions
 * ==================================== */
/* Media queries
 * ==================================== */
/* Usage: @include breakpoint(sm) {} */
/* Mixins and functions
 * ==================================== */
/* Usage: @include linearGradient() {} */
/* Usage: @include placeholder() {} */
/* Usage: @include border-radius(5px) */
/* Usage: @include opacity(0.8) */
/* Usage: @include center-block */
/* Usage: @include text-truncate  */
/* Extends
 * ==================================== */
/* Variables
 * ==================================== */
/* Mixins and functions
 * ==================================== */
.module-faster-8-control-hero {
  width: 100%;
  height: 800px;
  position: relative;
  overflow: hidden;
  color: #0069d2;
  background-color: #ebebeb; }
  .module-faster-8-control-hero:before {
    content: "";
    float: left; }
  .module-faster-8-control-hero:after {
    content: "";
    display: table;
    clear: both; }
  .module-faster-8-control-hero .container {
    position: relative;
    height: 100%; }
  .module-faster-8-control-hero .background-image {
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-position: 50% 50%; }
    @media (max-width: 767px) {
      .module-faster-8-control-hero .background-image {
        width: 100%;
        height: 100%;
        background-size: cover;
        left: 0;
        margin-left: 0; } }
  .module-faster-8-control-hero .background-image {
    width: 2560px;
    background-size: contain;
    left: 50%;
    margin-left: -1280px; }
    @media (min-width: 768px) and (max-width: 991px) {
      .module-faster-8-control-hero .background-image {
        width: 100%;
        height: 100%;
        background-size: cover;
        left: 0;
        margin-left: 0; } }
    @media (max-width: 767px) {
      .module-faster-8-control-hero .background-image {
        width: 100%;
        height: 100%;
        background-size: cover;
        left: 0;
        margin-left: 0;
        background-position: 80% 50%; } }
