---
meta: |
    <meta name="keywords" content="gogoro,smartscooter,機車,電動機車,智慧雙輪,電池,睿能,睿能創意">
    <meta name="description" content="我們是 Gogoro，透過網路和科技的力量，打造 Smartscooter™ 智慧雙輪以及 GoStation® 電池交換站，改變能源使用的經驗，將全球大型都會逐步轉型為智慧城市。">
    <meta name="application-name" content="Gogoro 第一且唯一 Smartscooter™ 智慧雙輪" />
    <meta name="msapplication-TileColor" content="#61399D" />
    <meta name="msapplication-TileImage" content="http://www.gogoro.com/favicon.ico" />
    <meta property="og:title" content="Gogoro 第一且唯一 Smartscooter™ 智慧雙輪" />
    <meta property="og:type" content='website' />
    <meta property="og:url" content="http://www.gogoro.com/tw/smartscooter/customize" />
    <meta property="og:description" content="我們是 Gogoro，透過網路和科技的力量，打造 Smartscooter™ 智慧雙輪以及 GoStation® 電池交換站，改變能源使用的經驗，將全球大型都會逐步轉型為智慧城市。" />
    <meta property="og:image" content="http://images.gogoroapp.com/share/website_thumbnail_1024.jpg" />
    <meta property="og:site_name" content="Gogoro" />
style: |
    <link rel="stylesheet" href="/css/smartscooter/all-you.css">
scripts: |
    <script src="/js/smartscooter/all-you.js"></script>
layout: zh-tw/LayoutMaster
action: customize
---

<div id="customize" ng-controller="CustomizeController">
    <!--
    <div class="module-customize-intro-takeover hidden-md hidden-sm hidden-xs" ng-controller="moduleCustomizeIntroTakeoverController">
        <div class="module-customize-intro1">
            <img src="//images.gogoroapp.com/faq/letsgo.svg" class="Allyou-intro-go" />
            <img src="//images.gogoroapp.com/allYou_0629.png" class="Allyou-intro-scooter" />
            <a id="#" href="{{$root.gogoro.storeGogoroUrl}}" class="btn btn-outline Allyou-intro-btn1">線上預購</a>
            <i id="intro-open" class="icon-arrow-down"></i>
        </div>

        <div class="module-customize-intro2 ">
            <img src="//images.gogoroapp.com/hero_banner_0615.png" class="Allyou-intro2-scooter" />
            <div class="homePageIntro2Word">
                <h2>和我</h2>
                <h2>一起</h2>
                <h2>上街頭</h2>
                <h3 class="break"></h3><br>
                <a id="#" href="{{$root.gogoro.wwwGogoroUrl}}book-a-ride" class="btn btn-solid-rich-blue  Allyou-intro-btn2">預約試騎</a>

            </div>
            <i id="intro-open" class="icon-arrow-down"></i>
        </div>
    </div>
        -->
    <div class="module-customize-1-page-intro module-page-intro" ng-controller="moduleCustomize1PageIntroController">
        <div class="container">
            <div class="title-wrapper">
                <script class="svg" type="gogoro-template">
                    <svg class="title title-0" xmlns="http://www.w3.org/2000/svg" version="1.1" width="1280px" height="800px" viewBox="0 0 1280 800">
                        <defs>
                            <linearGradient id="filler" y1="0%" y2="100%" x1="0%" x2="0%">
                                <stop stop-color="#c0df16" offset="0%"></stop>
                                <stop stop-color="#8cd523" offset="100%"></stop>
                            </linearGradient>
                        </defs>
                        <text text-anchor="left" x="160" y="45%" font-size="304" fill="url(#filler)"><tspan>ALL</tspan></text>
                    </svg>
                    <svg class="title title-1" xmlns="http://www.w3.org/2000/svg" version="1.1" width="1280px" height="800px" viewBox="0 0 1280 800">
                        <defs>
                            <linearGradient id="filler" y1="0%" y2="100%" x1="0%" x2="0%">
                                <stop stop-color="#c0df16" offset="0%"></stop>
                                <stop stop-color="#8cd523" offset="100%"></stop>
                            </linearGradient>
                        </defs>
                        <text text-anchor="left" x="660" y="45%" font-size="304" fill="url(#filler)"><tspan>DAY</tspan></text>
                    </svg>
                    <svg class="title title-2" xmlns="http://www.w3.org/2000/svg" version="1.1" width="1280px" height="800px" viewBox="0 0 1280 800">
                        <defs>
                            <linearGradient id="filler" y1="0%" y2="100%" x1="0%" x2="0%">
                                <stop stop-color="#c0df16" offset="0%"></stop>
                                <stop stop-color="#8cd523" offset="100%"></stop>
                            </linearGradient>
                        </defs>
                        <text text-anchor="left" x="660" y="45%" font-size="304" fill="url(#filler)"><tspan>FUN</tspan></text>
                    </svg>
                    <svg class="title title-3" xmlns="http://www.w3.org/2000/svg" version="1.1" width="1280px" height="800px" viewBox="0 0 1280 800">
                        <defs>
                            <linearGradient id="filler" y1="0%" y2="100%" x1="0%" x2="0%">
                                <stop stop-color="#c0df16" offset="0%"></stop>
                                <stop stop-color="#8cd523" offset="100%"></stop>
                            </linearGradient>
                        </defs>
                        <text text-anchor="left" x="660" y="45%" font-size="304" fill="url(#filler)"><tspan>YOU</tspan></text>
                    </svg>
                </script>
            </div>
            <div class="background-image background-image-standard" data-src="//gogoro.imgix.net/all_gogoro_plus_1012.png"></div>
            <div class="background-image background-image-fallback" data-src="//gogoro.imgix.net/bgd-module-customize-1-fallback_0617.jpg"></div>
            <div class="body">
                是你的就要像你<span class="hidden-xs">。轉換造型、改變顏色、切換音效、增添配備。讓你的 <span class="graphik-light">Gogoro®</span> 充滿個人風味。</span>
            </div>
        </div>
    </div>

    {% include zh-tw/PartialTabbar.html %}

    <div class="module-customize-2-clean-video-version2" ng-controller="moduleCustomize2CleanVideoController">
        <a href="#" class="btn btn-translucent launch-video-modal" data-video-src="//www.youtube.com/embed/hfPMJwMd6I8?enablejsapi=1&autoplay=1&rel=0&vq=hd720" data-video-id="faster-clean-video"><span class="graphik-black-italic">Watch Full Video</span></a>
        <img src="//images.gogoroapp.com/module-customize-2-square-demo_m_20150828.png" class="fallback">
        <img src="//images.gogoroapp.com/module-faster-2-square-demo_20150330.jpg" class="standard">
        <div class="video_hero">
            <div class="container">
                <div class="vertical-center-flex">

                    <a href="#" data-video-src="//www.youtube.com/embed/hfPMJwMd6I8?enablejsapi=1&autoplay=1&rel=0&vq=hd720" data-video-id="faster-clean-video" class="heroPlayBtn launch-video-modal">
                        <div class="vertical-center-flex">
                            <div class="playBtnContainer">
                                <div class="playBtnLayer">
                                    <div>PLAY<br />VIDEO</div>
                                    <div><i class="icon-arrow-right"></i></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>






    <div class="module-customize-3-summary-info">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="text">
                        <div class="title"><span class="xingothic-w3">多種個人化<span class="hidden-xs">創意</span>組合</span></div>
                        <div class="stat">3,932,160+</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="module-customize-10-plus" ng-controller="moduleCustomize10PlusController" style="padding-bottom:0px;">
        <div class="fallback visible-xs visible-sm hidden-md hidden-lg">
            <div id="original-fallback" style="margin-bottom:120px;">

                <div class="original-slider">
                    <!-- fallback slide 0 -->
                    <div class="slide">
                        <img src="//gogoro.imgix.net/AAA_0616_white.jpg" class="imgix-fluid background-image visible-xs visible-sm">
                    </div>
                    <!-- fallback slide 1 -->
                    <div class="slide">
                        <img src="//gogoro.imgix.net/AAA_0616_grey.jpg" class="imgix-fluid background-image visible-xs visible-sm">
                    </div>
                </div>
                <div class="container text-center" style="width:100%;">
                    <img src="//gogoro.imgix.net/Gogoro_on.png" class="imgix-fluid allyougogoroplusimg" style="max-height: 60px; width: auto;">
                    <p>Gogoro，世界上第一輛智慧雙輪，具備在 4.2 秒內由靜止加速到 50 KM/H 的強大動力，帶領你奔向智慧新生活。</p>
                </div>
            </div>
            <div id="plus-fallback">
                <div class="plus-slider">
                    <!-- fallback slide 0 -->
                    <div class="slide">
                        <img src="//gogoro.imgix.net/AB2_0616_yellow.jpg" class="imgix-fluid background-image visible-xs visible-sm">
                    </div>
                    <!-- fallback slide 1 -->
                    <div class="slide">
                        <img src="//gogoro.imgix.net/AB2_0616_grey.jpg" class="imgix-fluid background-image visible-xs visible-sm">
                    </div>
                    <!-- fallback slide 2 -->
                    <div class="slide">
                        <img src="//gogoro.imgix.net/AB2_0616_silver.jpg" class="imgix-fluid background-image visible-xs visible-sm">
                    </div>
                    <!-- fallback slide 3 -->
                    <div class="slide">
                        <img src="//gogoro.imgix.net/AB2_0616_blue.jpg" class="imgix-fluid background-image visible-xs visible-sm">
                    </div>
                    <!-- fallback slide 4 -->
                    <div class="slide">
                        <img src="//gogoro.imgix.net/AB2_0616_white.jpg" class="imgix-fluid background-image visible-xs visible-sm">
                    </div>
                    <!-- fallback slide 5 -->
                    <div class="slide">
                        <img src="//gogoro.imgix.net/AB2_0616_orange.jpg" class="imgix-fluid background-image visible-xs visible-sm">
                    </div>
                </div>
                <div class="container text-center" style="width:100%;">
                    <img src="//gogoro.imgix.net/GogoroPlus_0616_on.png" class="imgix-fluid allyougogoroplusimg" style="max-height:60px; width: auto;">
                    <p>Gogoro Plus 是 Gogoro 的進階版本，擁有多項配備升級，以及多款車色選擇，帶給你更多騎乘的樂趣與體驗。</p>
                </div>
            </div>

        </div>
        <div class="scooter-show-room visible-md visible-lg hidden-sm hidden-xs">
            <div class="container">

                <div class="row">
                    <div class="col-md-4 overlap-option">
                        <div class="plate-color-control vertical-center-flex">
                            <div>
                                <div class="original-btn" ng-click="setOrigin()" ng-class="{actived:activeType=='original'}"></div>
                                <div class="plus-btn" ng-click="setPlus()" ng-class="{actived:activeType=='plus'}"></div>
                                <div class="colorPotionsWord1">
                                    <p>極簡洗鍊或炫耀奪目，日常通勤或競速飆風，<br>
                                    選擇適合的車款，騎出自己的風格路線。</p>
                                </div>
                                <div class="colorPotionsWord2">

                                </div>
                                <div class="color-options">
                                    <li ng-repeat="color in options" {% raw %}class="{{color.type}}"{% endraw %} ng-class="{actived:activeColor==color.type}" ng-click="setColor(color.type)"></li>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="colorful-sccoter animate {% raw %}{{activeColor}} {{activeType}}{% endraw %}"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <div class="module-customize-4-dashboard" ng-controller="moduleCustomize4DashboardController">
        <div class="image-fallback">
            <h2><span class="xingothic-w3">閃爍你的風格</span></h2>
            <img data-src="//gogoro.imgix.net/bgd-module-customize-4-dashboard-square-new_0616.jpg" class="imgix-fluid">
        </div>
        <div class="container content-fallback">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 text-center">
                    <p>我們全數位式的儀表板，可以讓騎乘資訊如同彩虹般以各種顏色顯示，也可以讓顏色隨著時速或電量而改變。用 <span class="graphik-light">Gogoro® App</span> 來探索各種設計的選擇，大膽秀出你的風格。</p>
                </div>
            </div>
        </div>
        <div class="scooter">
            <div class="background">
                <div class="gradient"></div>
                <div class="solid"></div>
            </div>
            <div data-src="//gogoro.imgix.net/bgd-module-customize-4-n_0616.png" class="customize-4-standard dashboard"></div>
            <div class="title">
                <span class="xingothic-w3">閃爍你的風格</span>
            </div>
        </div>
        <div class="controls">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2 description">
                    我們全數位式的儀表板，可以讓騎乘資訊如同彩虹般以各種顏色顯示，也可以讓顏色隨著時速或電量而改變。用 <span class="graphik-light">Gogoro® App</span> 來探索各種設計的選擇，大膽秀出你的風格。
                </div>
                <div class="col-md-4 color-wheels">
                    <div class="wheels">
                        <div class="wheel"></div>
                        <div class="wheel"></div>
                    </div>
                </div>
                <div class="col-md-3 toggle">
                    調整左邊色盤<br />為你的 <span class="graphik-light">Gogoro®</span> 上色
                    <div class="gradient-solid-toggle">
                        <a href="javascript:void(0)" class="gradient">漸層</a>
                        <a href="javascript:void(0)" class="solid">單色</a>
                        <!--<a href="javascript:void(0)" class="loop">Loop</a> -->
                    </div>
                </div>
                <div class="col-md-2 share hide">
                    與朋友分享
                    <div class="sns">
                        <a href="javascript:void(0);" class="facebook" title="Facebook"></a>
                        <a href="javascript:void(0);" class="twitter" title="Twitter"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="module-customize-5-lighting-themes imgix-fluid" ng-controller="moduleCustomize7LightingThemes">
        <img data-src="//gogoro.imgix.net/bgd-module-customize-5.jpg" class="imgix-fluid background-image">
        <img data-src="//gogoro.imgix.net/bgd-module-customize-5-square.jpg" class="imgix-fluid background-image background-square">
        <div class="container">
            <div class="vertical-center-container">
                <div class="row content-overlay vertical-center">
                    <div class="col-md-4 col-md-offset-4 col-sm-10 col-sm-offset-1 col-xs-12 text-center">
                        <h2>放閃 ‧ 搶盡光彩</h2>
                        <p>以 <span class="graphik-light">Gogoro® App</span> 選擇頭燈與尾燈的閃爍樣式，啟動與熄火都可以有不同的表現。更有趣、更精采、更閃耀，無論身在何處都是最顯眼的一個。前方之途，光明又多彩。</p>
                        <div class="choose-a-theme-wrap">
                            <p class="margin-bottom-0 choose-a-theme">選擇一個燈光模式</p>
                            <ul class="video-indicator list-inline">
                                <li><a href="#" data-theme="one">1</a></li>
                                <li><a href="#" data-theme="two">2</a></li>
                                <li><a href="#" data-theme="three">3</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="video-overlay"></div>
            <div class="video video-lighting-themes"></div>
        </div>
    </div>

    <div class="module-customize-6-sounds-themes" ng-controller="moduleCustomize6SoundsThemes">
        <div class="container">
            <div class="row vertical-center-flex">
                <div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12 text">
                    <img src="//gogoro.imgix.net/bgd-module-customize-6-small.png" width="158" height="120" class="visible-sm visible-xs sound-icon">
                    <h2>聲音 ‧ 你來<span class="graphik-light"> DJ</span></h2>
                    <p>啟動、轉彎、收腳架、解鎖等聲響，你有數十種音效可下載套用。或騎或玩，要什麼聲音就有什麼聲音，掌握自己的發聲權。</p>
                    <div class="choose">選擇一個聲音模式</div>
                    <div class="theme-toggle">
                        <a href="javascript:void(0)" data-theme="clean">清脆</a>
                        <a href="javascript:void(0)" data-theme="gamey">電玩</a>
                        <a href="javascript:void(0)" data-theme="bella">鈴響</a>
                    </div>
                </div>
                <div class="col-lg-6 col-lg-offset-1 col-sm-7 col-sm-offset-1 preview hidden-sm hidden-xs">
                    <img data-src="//gogoro.imgix.net/bgd-module-customize-6-fallback.png" class="imgix-fluid fallback-image">
                    <div class="sound-theme">
                        <canvas id="gogoro-sound-processing-canvas" width="410" height="400"></canvas>
                        <div class="sound-title">播放音效</div>
                        <div class="sounds">
                            <div class="sound" data-trigger="kickstandDown" title="放下側腳架"></div><div class="sound" data-trigger="kickstandUp" title="收起側腳架"></div><div class="sound" data-trigger="remoteLock" title="遙控上鎖"></div><div class="sound" data-trigger="remoteUnlock" title="遙控解鎖"></div><div class="sound" data-trigger="turnSignal" title="方向燈"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="module-customize-9-design-ethos" ng-controller="moduleCustomize9DesignEthosController">
        <div class="background-image">
            <img class="design-ethos-images" src="//gogoro.imgix.net/faceplate/600/module-customize-9-design-ethos_.jpg">
        </div>
        <div class="container max-height content-overlay">
            <div class="row vertical-center-flex">
                <div class="col-md-4 col-md-offset-7">
                    <strong>我們的造車哲學：</strong>
                    <h2>改變 ‧ 無限美好</h2>
                    <p>對於追求完美細節永不停歇，我們花費無數的時間，只為讓 <span class="graphik-light">Gogoro® App</span> 更臻完善。顏色、燈光、聲響、甚至是面板，都能自行調整。簡單幾個步驟，愛車就能與眾不同。想知道接下來會怎樣？現在就動手改變吧！</p>
                </div>
            </div>
        </div>
        <div class="video video-design-ethos"></div>
    </div>

</div>
